[2018-01-23 14:50] rallytime opened #790 "[oxygen] 3 gitfs fileserver unit tests failing (Ubuntu 16 and others)"
- unit.fileserver.test_gitfs.GitFSTest.test_dir_list
- unit.fileserver.test_gitfs.GitFSTest.test_envs
- unit.fileserver.test_gitfs.GitFSTest.test_file_list

https://jenkins.saltstack.com/job/Oxygen/job/oxygen-salt-ubuntu16.04-py2/lastCompletedBuild/testReport/

[2018-01-23 14:51] rallytime opened #791 "[oxygen] 1 inspect_fsdb unit test failure on Ubuntu 16 (and some others)"
- unit.modules.test_inspect_fsdb.InspectorFSDBTestCase.test_create_table

https://jenkins.saltstack.com/job/Oxygen/job/oxygen-salt-ubuntu16.04-py2/lastCompletedBuild/testReport/

[2018-01-23 19:33] terminalmage commented on #784
Can't reproduce right now, I'm having Brett add the cent6 ec2 image to the dev box builder so I can try to reproduce on AWS.

[2018-01-23 19:57] rallytime opened #792 "[oxygen] Ubuntu 17.10 Build for PY2 is failing the git.salt state run"
Failing state:
[code]

[2018-01-23 19:58] rallytime commented on #719
@dubb-b There are a couple of issues. Checked means it's fixed. No check means there's something wrong.

- [ ] 2016.11 (started - need to check result)
- [x] 2016.11.9
- [ ] 2017.7 PY2 (waiting for build slot - need to check result)
- [ ] 2017.7 PY3 - not bootstrapping
- [x] 2017.7.3 PY2
- [x] 2017.7.3 PY3
- [x] oxygen PY2 - not getting past the git.salt state. see #792
- [x] oxygen PY3
- [ ] deve

[2018-01-23 20:09] rallytime commented on #717
This is fixed now.

[2018-01-23 20:09] #717 closed

[2018-01-23 20:09] #716 closed

[2018-01-23 20:10] rallytime commented on #709
Bootstrap issue has been fixed, and the Ubuntu 17 tests were moved to Ubuntu 17.10. They're bootstrapping and running swimmingly on 2017.7.3. 🎉

[2018-01-23 20:10] #709 closed

[2018-01-23 20:13] rallytime commented on #648
@Ch3LL Is this failing recently? This was failing in linux at the time as well but has since been fixed with https://github.com/saltstack/salt/pull/45463

[2018-01-23 20:14] #704 closed

[2018-01-23 23:18] dubb-b commented on #719
@rallytime These should all be working now. If you could just double check me that would be swell.

[2018-01-23 23:33] terminalmage commented on #784
OK, after a bunch of troubleshooting I found that this comes down to a difference between the CSafeDumper and the SafeDumper. The yaml serializer will prefer the CSafeDumper if it is available. When serializing an instance of the EncryptedString, it will leave it unquoted, while the SafeDumper will quote it. So, because the Cent 6 image on AWS does not have the CSafeDumper available, it quotes the

[2018-01-24 01:26] terminalmage commented on #784
Fixed in https://github.com/saltstack/salt/pull/45658

[2018-01-24 01:27] terminalmage commented on #786
Fixed in https://github.com/saltstack/salt/pull/45658

[2018-01-24 01:29] terminalmage commented on #785
Can't reproduce this one, neither in docker nor in ec2.

[2018-01-24 01:29] terminalmage commented on #783
Can't reproduce this one, neither in docker nor in ec2.

[2018-01-24 01:30] terminalmage commented on #789
Fixed in https://github.com/saltstack/salt/pull/45658

[2018-01-24 01:31] terminalmage commented on #791
Fixed in https://github.com/saltstack/salt/pull/45658

[2018-01-24 01:50] terminalmage commented on #790
Fixed in https://github.com/saltstack/salt/pull/45658

[2018-01-24 15:05] rallytime commented on #719
Looks great! Thanks @dubb-b

[2018-01-24 15:05] #719 closed

[2018-01-24 15:45] rallytime opened #793 "[2017.7.3] Some PKG tests failing on Arch/Fedora 27"
Arch: https://jenkins.saltstack.com/job/2017.7.3/job/salt-linode-arch/lastCompletedBuild/testReport/
Fedora 27: https://jenkins.saltstack.com/job/2017.7.3/job/2017.7-salt-fedora27-py2/lastCompletedBuild/testReport/

These pkg tests started tipping over yesterday. This is likely because of the change made against 2017.7.3 here: https://github.com/saltstack/salt/pull/45636

[2018-01-24 15:53] rallytime opened #794 "Fedora 26 is not bootstrapping"
I am seeing this on
- 2016.11
- 2017.7 PY2
- 2017.7 PY3
- Oxygen PY2
- Oxygen PY3

On 2017.7.3 PY 2, there is an error, but it's different and related to the initial salt-cloud command:
[code]

The rest of the builds I checked are OK.

@dubb-b Can you look into this?

[2018-01-24 16:11] terminalmage commented on #793
Should be fixed via https://github.com/saltstack/salt/pull/45666.

[2018-01-24 17:36] gtmanfred commented on #792
Where is it failing? it looks like it passed last night?

https://jenkins.saltstack.com/job/Oxygen/job/oxygen-salt-ubuntu17.04-py2/lastFailedBuild/consoleFull

[2018-01-24 17:38] rallytime commented on #792
This must have resolved itself. Hooray!

[2018-01-24 17:38] #792 closed

[2018-01-24 17:59] dubb-b commented on #794
2016.11 [x]
2017.7 PY2
2017.7 PY3
Oxygen PY2
Oxygen PY3

[2018-01-24 19:41] rallytime opened #795 "[oxygen] Debian 9 PY3 not bootstrapping"
https://jenkins.saltstack.com/job/Oxygen/view/Branch%20Python%203/job/oxygen-salt-debian9-py3/lastFailedBuild/console

[2018-01-24 19:48] rallytime opened #797 "[oxygen] Python 3 Builds missing test report"
On most of the Python 3 builds on the Oxygen branch (and this is also true for PRs submitted against oxygen) the test report is missing from the end of the test run.

The tests run to the end, and have results, but those results are not given back up to Jenkins. For example:
https://jenkins.saltstack.com/job/Oxygen/view/Branch%20Python%203/job/oxygen-salt-ubuntu16.04-py3/lastFailedBuild/console
[c

[2018-01-24 20:02] gtmanfred commented on #797
looking

[2018-01-24 20:57] rallytime commented on #791
Fixed

[2018-01-24 20:57] #791 closed

[2018-01-24 20:58] rallytime commented on #790
Fixed.

[2018-01-24 20:58] #790 closed

[2018-01-24 20:58] rallytime commented on #789
Fixed.

[2018-01-24 20:58] #789 closed

[2018-01-24 21:02] rallytime commented on #785
Looks like this isn't failing anymore. Closing.

[2018-01-24 21:02] #785 closed

[2018-01-24 21:03] #783 closed

[2018-01-25 15:39] dubb-b commented on #794
@rallytime The last build on Oxygen py3 timed out becuase of a pip package. I started another but its going to be a while before it kicks off. The build #84 I fixed yesterday seemed to work.

[2018-01-25 17:06] rallytime opened #802 "[2017.7] Fedora 26 PY2 is failing on git.salt run"
[code]
https://jenkins.saltstack.com/job/2017.7/job/salt-linode-fedora26/lastFailedBuild/console

[2018-01-25 17:18] rallytime opened #803 "[oxygen] Fedora 26 PY3 failing git.salt state run"
The following state is failing:
[code]
https://jenkins.saltstack.com/job/Oxygen/view/Branch%20Python%203/job/oxygen-salt-fedora26-py3/lastFailedBuild/consoleFull

[2018-01-25 17:19] rallytime commented on #794
Thanks @dubb-b I just checked and it looks like 2016.11 is still not bootstrapping and then develop for PY2 as well. (though that was passing yesterday so it wasn't on the list...hrm.)

[2018-01-25 17:20] rallytime commented on #794
I am not as concerned about these presently as I am the others for releases, but still something to fix up and look at.

[2018-01-25 20:15] rallytime opened #804 "[oxygen] Arch is failing 2 GroupAdd integration tests"
The following 2 tests are failing on Arch (both on PY2 and PY3):
- integration.modules.test_groupadd.GroupModuleTest.test_add_system_group
- integration.modules.test_groupadd.GroupModuleTest.test_add_system_group_gid

https://jenkins.saltstack.com/job/Oxygen/job/oxygen-salt-arch-py2/lastFailedBuild/

[2018-01-25 20:48] dubb-b commented on #794
https://jenkins.saltstack.com/job/2016.9/job/salt-2016_9-linode-fedora26/198/console
2016.11 needed pip-based. I added, and also to develop. Will validate them all and test them when they free up and build.

[2018-01-25 20:50] gtmanfred commented on #803
The next runs on each passed, looks like a blip on nexus

[2018-01-25 20:50] #803 closed

[2018-01-25 20:50] gtmanfred commented on #802
The next runs on each passed, looks like a blip on nexus

[2018-01-25 20:52] gtmanfred commented on #802
Waiting for https://jenkins.saltstack.com/job/2017.7/job/salt-linode-fedora26/293/console before closing

[2018-01-25 21:33] #802 closed

[2018-01-25 21:50] rallytime opened #805 "[oxygen] CentOS 6 and 7 Failing many integration ssh tests"
https://jenkins.saltstack.com/job/Oxygen/job/oxygen-salt-cent7-py2/lastCompletedBuild/testReport/

I see these on Py2, but I haven't looked at the results for Py3. Here's the list:

- integration.ssh.test_grains.SSHGrainsTest.test_grains_items
- integration.ssh.test_raw.SSHRawTest.test_ssh_raw
- integration.ssh.test_pillar.SSHPillarTest.test_pillar_get
- integration.ssh.test_pillar.SSHPillarTest.t

[2018-01-25 21:57] rallytime opened #806 "[oxygen] CentOS 7 Failing CMDMOD test"
unit.modules.test_cmdmod.CMDMODTestCase.test_run
[code]
https://jenkins.saltstack.com/job/Oxygen/job/oxygen-salt-cent7-py2/lastCompletedBuild/#showFailuresLink

[2018-01-25 21:58] rallytime opened #807 "[oxygen] CentOS 7 failing grains cli integration test"
integration.cli.test_grains.SSHGrainsTest.test_grains_id
[code]
https://jenkins.saltstack.com/job/Oxygen/job/oxygen-salt-cent7-py2/lastCompletedBuild/#showFailuresLink

[2018-01-25 22:01] rallytime opened #808 "[oxygen] CentOS 7 failing 3 SSH CLI integration tests"
- integration.cli.test_custom_module.SSHCustomModuleTest.test_ssh_custom_module
- integration.cli.test_custom_module.SSHCustomModuleTest.test_ssh_regular_module
- integration.cli.test_custom_module.SSHCustomModuleTest.test_ssh_sls_with_custom_module

Possibly related to #805

https://jenkins.saltstack.com/job/Oxygen/job/oxygen-salt-cent7-py2/lastCompletedBuild/#showFailuresLink

[2018-01-26 03:45] dubb-b commented on #794
https://jenkins.saltstack.com/job/develop/job/salt-linode-fedora26-develop/305/console

This one passed now.

[2018-01-26 03:47] dubb-b commented on #795
@rallytime Here is that one. I will validate the rest in the morning.
https://jenkins.saltstack.com/job/Oxygen/view/Branch%20Python%203/job/oxygen-salt-debian9-py3/80/consoleFull

[2018-01-26 14:22] rallytime commented on #794
Thanks @dubb-b!

[2018-01-26 14:22] #794 closed

[2018-01-26 14:25] rallytime commented on #795
That was the only one with problems that I saw. Looks like it's happy now. Thanks!

[2018-01-26 14:25] #795 closed

[2018-01-26 20:41] rallytime commented on #797
This _should_ be fixed by: https://github.com/saltstack/salt/pull/45704

I'll close this.

[2018-01-26 20:41] #797 closed

[2018-01-26 20:43] #793 closed

[2018-01-26 20:45] #784 closed

[2018-01-26 20:57] rallytime opened #809 "[oxygen] tls unit tests failing on Python 3"
unit.modules.test_tls.TLSAddTestCase.test_create_ca
unit.modules.test_tls.TLSAddTestCase.test_create_ca_signed_cert
unit.modules.test_tls.TLSAddTestCase.test_create_csr
unit.modules.test_tls.TLSAddTestCase.test_create_pkcs12
unit.modules.test_tls.TLSAddTestCase.test_create_self_signed_cert
unit.modules.test_tls.TLSAddTestCase.test_pyOpenSSL_version_destructive
unit.modules.test_tls.TLSAddTestCase.

[2018-01-26 21:50] #642 closed

[2018-01-26 21:51] #644 closed

[2018-01-26 21:52] #643 closed

[2018-01-26 21:52] #640 closed

[2018-01-26 21:52] #639 closed

[2018-01-26 21:53] #637 closed

[2018-01-26 21:53] #638 closed

[2018-01-26 21:58] rallytime commented on #557
This has been fixed.

[2018-01-26 21:58] #557 closed

[2018-01-26 22:14] #748 closed

[2018-01-26 22:15] #721 closed

[2018-01-27 22:33] terminalmage commented on #809
Fixed in https://github.com/saltstack/salt/pull/45729 along with two other failures.

[2018-01-27 23:01] terminalmage commented on #804
Fixed in https://github.com/saltstack/salt/pull/45731

[2018-01-27 23:16] terminalmage commented on #805
This is caused by the same issue as https://github.com/saltstack/salt-jenkins/issues/806 and should be fixed by https://github.com/saltstack/salt/pull/45725.

[2018-01-29 14:52] rallytime opened #810 "[oxygen] Transport tests are not getting any test results back"
https://jenkins.saltstack.com/job/Oxygen/view/Transport/

[2018-01-29 14:53] #809 closed

[2018-01-29 14:53] #806 closed

[2018-01-29 14:56] rallytime commented on #805
@terminalmage These are fixed for CentOS 7, but still seem to be failing on CentOS 6, even though they have the fixed mentioned above. Perhaps something else is going wrong there.

[2018-01-29 14:57] rallytime commented on #805
https://jenkins.saltstack.com/job/Oxygen/job/oxygen-salt-cent6-py2/lastFailedBuild/

[2018-01-29 14:57] #804 closed

[2018-01-29 14:59] rallytime commented on #786
Hrm, this is still failing on CentOS 6: https://jenkins.saltstack.com/job/Oxygen/job/oxygen-salt-cent6-py2/lastFailedBuild/

[2018-01-29 15:00] rallytime commented on #786
@terminalmage ^

[2018-01-29 15:10] rallytime commented on #807
I am not seeing this fail anymore. Closing.

[2018-01-29 15:10] #807 closed

[2018-01-29 18:24] gtmanfred commented on #810
Looks like the job results are getting picked up, but are not being showed in the /Transport folder.

@dubb-b can you take a look at those patterns to figure out why it might not be seeing the job dirs?

Thanks,
Daniel

[2018-01-29 18:38] gtmanfred commented on #749
these pass when run individually.

Closing

[2018-01-29 19:16] #749 closed

[2018-01-29 19:23] gtmanfred commented on #808
This appears to have been solved by https://github.com/saltstack/salt/pull/45725 including on centos 6, even though #805 hasn't been solved by that.

The only one left is, https://jenkins.saltstack.com/job/Oxygen/job/oxygen-salt-cent6-py2/lastFailedBuild/testReport/junit/integration.cli.test_custom_module/SSHCustomModuleTest/test_ssh_custom_module/ and that appears to be caused by ssh timing out b

[2018-01-29 21:24] rallytime opened #812 "[oxygen] Several modjk unit tests are failing"
unit.states.test_modjk.ModjkTestCase.test_worker_activated
unit.states.test_modjk.ModjkTestCase.test_worker_disabled
unit.states.test_modjk.ModjkTestCase.test_worker_recover
unit.states.test_modjk.ModjkTestCase.test_worker_stopped

These popped up on all builds, but here's a link to Debian 9 where they're the only ones failing: https://jenkins.saltstack.com/job/Oxygen/job/oxygen-salt-debian9-py2/l

[2018-01-29 21:32] garethgreenaway commented on #724
@Ch3LL I don't see the test_version_cmp test in the list of failures.

[2018-01-29 22:10] gtmanfred commented on #812
fixed in #45770

[2018-01-29 22:14] gtmanfred opened #813 "[Oxygen][Transport TCP] failing integration.client.test_standard.StdTest.test_missing_minion_list"
Looking at this test, it looks like the minion is not seeing the event.

When the minion starts, it logs this message

[code]
but no `test.ping` job ever gets sent, and then it looks like the master sends a `saltutil.find_job` to see if the minion finished the job.

[code]

And it returns false because it failed to return but is a minion in salt-key

https://github.com/saltstack/salt/blob/oxygen/s

[2018-01-29 22:15] gtmanfred commented on #813
@DmitryKuzmenko can you take a look at this? I think it may be a problem with the tcp transport, because this is not failing on the zeromq transport, but I am don't know enough about tcp to start troubleshooting.

Thanks!
Daniel

[2018-01-29 22:45] gtmanfred commented on #810
FIxed the Failed Tests column to show the test results.

Closing

[2018-01-29 22:45] #810 closed

[2018-01-30 13:25] #808 closed

[2018-01-30 13:26] #812 closed

[2018-01-30 14:30] #724 closed

[2018-01-30 22:25] garethgreenaway commented on #650
AWS access credentials had been set to inactive.

[2018-01-31 16:11] #813 closed

[2018-02-01 18:04] rallytime commented on #648
I am pretty sure this was fixed because it was failing in linux too. I'm going to close this. We can re-open if it pops back up.

[2018-02-01 18:04] #648 closed

[2018-02-01 18:26] rallytime opened #816 "[oxygen.rc1] Create Mac Builds for new RC 1 branch"

[2018-02-01 18:27] rallytime opened #817 "[oxygen.rc1] Create builds for cloud tests for new RC branch"

[2018-02-01 18:28] rallytime opened #818 "[oxygen.rc1] OpenSUSE on PY3 tests isn't bootstrapping"
https://jenkins.saltstack.com/job/oxygen.rc1/view/Branch%20Python%203/job/oxygen-salt-opensuse42-py3/

[2018-02-01 18:31] rallytime opened #819 "[oxygen.rc1] Debian 9 PY3 has 1 pkg integration test failure"
- integration.modules.test_pkg.PkgModuleTest.test_install_remove
[code]
https://jenkins.saltstack.com/job/oxygen.rc1/view/Branch%20Python%203/job/oxygen-salt-debian9-py3/lastCompletedBuild/testReport/integration.modules.test_pkg/PkgModuleTest/test_install_remove/

[2018-02-01 18:35] rallytime opened #820 "[oxygen.rc1] CentOS 7 2 test_call integration shell test failures"
- integration.shell.test_call.CallTest.test_issue_14979_output_file_permissions
[code]
- integration.shell.test_call.CallTest.test_issue_15074_output_file_append
[code]
https://jenkins.saltstack.com/job/oxygen.rc1/job/oxygen-salt-cent7-py2/lastCompletedBuild/testReport/

[2018-02-02 14:27] rallytime opened #821 "[oxygen.rc1] CentOS 7 PY 3 tests not displaying test reports"
The tests run, and it generates the reports, but each build is greyed out because it doesn't have the test report.

Appears to be something to do with the workspace.
[code]
https://jenkins.saltstack.com/job/oxygen.rc1/view/Branch%20Python%203/job/oxygen-salt-cent7-py3/
@dubb-b I think this is in your realm. Can you take a look?

[2018-02-02 14:30] rallytime opened #822 "[oxygen.rc1] Ubuntu 17 has 1 ssh state ingetration test failing"
- `integration.ssh.test_state.SSHStateTest.test_state_single`
[code]
https://jenkins.saltstack.com/job/oxygen.rc1/job/oxygen-salt-ubuntu17.04-py2/lastCompletedBuild/testReport/

[2018-02-02 15:27] dubb-b commented on #821
@rallytime this is happening due to the build timeout plugin. It was set to 120 minutes and that threshold was being hit. I set to 600 to see how long it will really take. It may be that we need to look at the tests on that. I thought it may have been memory/CPU so increased the size. That didn't help. So we should see if it still times out after 600 mins.

[2018-02-02 16:00] dubb-b commented on #816
@rallytime These are created. The build queue is 12 deep. I will check on them later this eve.

[2018-02-02 16:03] dubb-b commented on #817
@rallytime these tests were there. https://jenkins.c7.saltstack.net/job/cloud/job/oxygenrc1/
It looks like someone already set them up. I looked at the old branches (e.g. oxygen) and it looks like there were only two jobs that run there.

[2018-02-02 16:24] #817 closed

[2018-02-02 16:26] rallytime commented on #821
Ah OK - i just read that message I posted again and i clearly misread that originally. `test report files were found`...derp.

[2018-02-02 22:11] terminalmage commented on #819
I can't reproduce this locally, and I don't think it's a bug to be honest. This runs right after `test_hold_unhold`, so it's possible that apt is operating on outdated information? Let's keep an eye on this and see how reliably it fails.

[2018-02-02 22:11] dubb-b commented on #821
@rallytime https://jenkins.saltstack.com/job/oxygen.rc1/view/Branch%20Python%203/job/oxygen-salt-cent7-py3/6/console

Its failing now. But its passing `git.salt`
Let me know if you need anything more on this.

[2018-02-02 22:37] terminalmage commented on #822
Can't reproduce this, and it's not failing on newer builds. Looking at the log from the last failed build, this appeared to have been from a timeout:

[code]

[2018-02-03 16:41] terminalmage commented on #820
These are happening because of timeouts.

[2018-02-05 15:07] rallytime commented on #821
Nope, looks good. Thanks!

[2018-02-05 15:07] #821 closed

[2018-02-05 23:15] dubb-b commented on #816
@rallytime all of these are created and running. Although the machine is hitting some thresholds with resources. We have to set the node to only one Jenkins executor, so the runs are taking days to complete. So this one may take some time to resolve. Once we get the new hardware, we should be in a better state I hope.

[2018-02-06 01:21] dubb-b commented on #818
@rallytime this is complete for the Python 3 ones.
https://jenkins.saltstack.com/job/oxygen.rc1/view/Branch%20Python%203/job/oxygen-salt-opensuse42-py3/10/console

[2018-02-06 14:06] #818 closed

[2018-02-06 15:56] rallytime opened #824 "[develop] Many zfs module unit tests failing"
These started breaking because of the unicode changes. The module/test needs to be fixed to handle the unicode changes appropriately:

https://jenkins.saltstack.com/job/develop/job/salt-dev-linode-ubuntu16/2124/#showFailuresLink

[2018-02-06 16:01] rallytime opened #825 "[develop] Doc test build is failing"
https://jenkins.saltstack.com/job/develop/view/Docs/job/Develop/lastFailedBuild/

[2018-02-06 16:28] rallytime opened #826 "[develop] Many git_pillar integration tests failing"
https://jenkins.saltstack.com/job/develop/job/salt-dev-linode-ubuntu16/lastFailedBuild/#showFailuresLink

The failures in the `integration.pillar.test_git_pillar` test file are the ones this issue references.

[2018-02-06 16:30] rallytime opened #827 "[develop] 1 integration and 1 unittest cmdmod test failures"
integration.modules.test_cmdmod.CMDModuleTest.test_quotes_runas

https://jenkins.saltstack.com/job/develop/job/salt-dev-linode-ubuntu16/lastFailedBuild/testReport/junit/integration.modules.test_cmdmod/CMDModuleTest/test_quotes_runas/

[code]

- unit.modules.test_cmdmod.CMDMODTestCase.test_os_environment_remains_intact

[code]
https://jenkins.saltstack.com/job/develop/job/salt-dev-linode-ubuntu16/l

[2018-02-06 16:41] rallytime opened #828 "[develop] 4 minion pillar tests failing"
- integration.minion.test_pillar.DecryptGPGPillarTest.test_decrypt_pillar_alternate_delimiter
- integration.minion.test_pillar.DecryptGPGPillarTest.test_decrypt_pillar_deeper_nesting
- integration.minion.test_pillar.DecryptGPGPillarTest.test_decrypt_pillar_default_renderer
- integration.minion.test_pillar.DecryptGPGPillarTest.test_decrypt_pillar_explicit_renderer

https://jenkins.saltstack.com/job

[2018-02-06 16:49] rallytime opened #829 "[develop] Clustershell test is failing"
- unit.roster.test_clustershell.ClusterShellTestCase.test_targets

[code]

https://jenkins.saltstack.com/job/develop/job/salt-dev-linode-ubuntu16/lastFailedBuild/testReport/junit/unit.roster.test_clustershell/ClusterShellTestCase/test_targets/

[2018-02-06 17:00] rallytime opened #830 "[develop] Several pip integration tests failing"
integration.states.test_pip.PipStateTest.test_issue_6912_wrong_ownerintegration.modules.test_pip.PipModuleTest.test_chained_requirements__sans_no_chown__absolute_file_path
integration.modules.test_pip.PipModuleTest.test_chained_requirements__sans_no_chown__non_absolute_file_path
integration.modules.test_pip.PipModuleTest.test_issue_4805_nested_requirements_user_no_chown
integration.modules.test_pi

[2018-02-06 17:04] rallytime opened #831 "[develop] 1 virtualenv integration tests failing"
- integration.states.test_virtualenv.VirtualenvTest.test_issue_1959_virtualenv_runas

[code]

https://jenkins.saltstack.com/job/develop/job/salt-dev-linode-ubuntu16/lastFailedBuild/testReport/junit/integration.states.test_virtualenv/VirtualenvTest/test_issue_1959_virtualenv_runas/

[2018-02-06 21:17] gtmanfred commented on #682
I have a fix for the os-ext-ips problem.  But we need to add an `ssh_keyfile` option for the new one.

I am assigning this back to you @Ch3LL to add that since I don't know how your states are currently setup for that, and don't want to break them, but we just need an ssh key for the salt-jenkins user to use to attach to the server and then specified as `ssh_key_name` to the name that it is in rac

[2018-02-06 22:09] #746 closed

[2018-02-06 22:09] #691 closed

[2018-02-06 22:45] gtmanfred commented on #651
`digital_ocean.conf` needs to be changed to `digitalocean.conf` and these will pass.

cloud provider and profile files

[2018-02-06 22:51] gtmanfred commented on #651
also, the driver name in the providers needs the _ removed as well.  The old driver still works with oxygen, but our tests check that the name of the driver is `digitalocean` since that is the default now.

[2018-02-07 21:10] gtmanfred commented on #649
These appear to be passing now.

[2018-02-07 21:10] #649 closed

[2018-02-08 16:26] #651 closed

[2018-02-08 16:27] #682 closed

[2018-02-09 14:54] sjorge commented on #824
I hit the same issue while reworking bits for PR #45855 (that one still has other unicode issues, but they should eventually go into Florine so enough time to fix those before the merge.

So the fix of removing the PY2 handling looks good to me.

[2018-02-09 14:57] rallytime commented on #824
👋 @sjorge! I think that PR from me caused a merge-conflict in your PR actually, now that i think about it. Sorry about that. :)

I'll close this because those tests are happy now.

[2018-02-09 14:57] #824 closed

[2018-02-09 14:58] rallytime commented on #650
This should be fixed now.

[2018-02-09 14:58] #650 closed

[2018-02-09 14:58] #647 closed

[2018-02-09 15:00] sjorge commented on #824
@rallytime don't worry about, I had to rebase a few times already due to merge conflicts.

[2018-02-09 15:50] #695 closed

[2018-02-14 01:07] dubb-b commented on #816
@rallytime This is pretty backed up, other than a couple, they were all passing.

[2018-02-14 14:04] DmitryKuzmenko commented on #805
Reproduced some in Docker. Investigating.

[2018-02-14 16:33] #816 closed

[2018-02-15 20:21] rallytime opened #842 "Arch is not bootstrapping on Linode Branches"
On the branches where we use Linode images, the Arch image name is out of date and the builds aren't bootstrapping:
[code]

[2018-02-15 20:23] rallytime opened #843 "Update bootstrap script to `develop` version on certain jenkins nodes"
The following nodes in jenkins need the latest salt-bootstrap script in order to ensure we have `m2crypto` installed:

- [x] oxygen
- [x] oxygen.rc1
- [x] develop

[2018-02-15 20:23] rallytime opened #844 "2 gitfs fileserver unit tests failing on Arch + Fedora 27"
https://jenkins.saltstack.com/job/oxygen.rc1/job/oxygen-salt-arch-py2/lastCompletedBuild/testReport/

- unit.fileserver.test_gitfs.Pygit2Test.test_envs
- unit.fileserver.test_gitfs.Pygit2Test.test_ref_types_per_remote

These are failing on oxygen.rc1 and oxygen branches.

These are failing in both the Arch and Fedora 27 builds.

[2018-02-15 20:28] rallytime opened #845 "[Py3] 1 pkg integration test failing on Debian 9"
- integration.modules.test_pkg.PkgModuleTest.test_install_remove

https://jenkins.saltstack.com/job/oxygen.rc1/view/Branch%20Python%203/job/oxygen-salt-debian9-py3/10/

This is happening on Oxygen.RC1 and Oxygen.

[2018-02-15 20:40] dubb-b commented on #843
@rallytime this is complete, let me know if you have any issues.

[2018-02-15 20:58] dubb-b commented on #842
@rallytime These have been updated.

[2018-02-15 21:07] rallytime commented on #842
Thanks brett!

[2018-02-15 22:39] dubb-b opened #846 "CentOS 6 Test Suite taking 7 hours and high CPU load"
After looking into this when getting alerts from Linode and AWS, I am seeing that the load on the CPU spikes up for a few hours while running the test suite.

Here are some of the Linode alerts:

`Your Linode, Zjk-develop-lin-cent6-3579, has exceeded the notification threshold (90) for CPU Usage by averaging 142.5% for the last 2 hours.`

I went in to AWS and looked at the Oxygen tests and they al

[2018-02-16 19:28] terminalmage commented on #844
Fixed in https://github.com/saltstack/salt/pull/46080

[2018-02-16 21:54] #844 closed

[2018-02-16 21:55] #842 closed

[2018-02-16 21:55] #843 closed

[2018-02-16 21:57] rallytime commented on #825
I'm tossing this your way @terminalmage - this is only on develop, so release blockers should come first. I gave the rest of the develop test failures currently filed to Dmitry earlier today.

[2018-02-20 16:33] terminalmage commented on #825
Fixed in https://github.com/saltstack/salt/pull/46112

[2018-02-20 21:42] #825 closed

[2018-02-21 17:12] rallytime opened #847 "[oxygen.rc1] New Scheduler Test is Failing"
I've seen this on Debian 8 and 9 most recently:
https://jenkins.saltstack.com/job/oxygen.rc1/job/oxygen-salt-debian9-py2/lastCompletedBuild/testReport/
[code]

[2018-02-21 17:14] rallytime opened #848 "[oxygen.rc1] Arch image isn't working"
Looks like something has changed in AWS. @dubb-b Can you take a look?

https://jenkins.saltstack.com/job/oxygen.rc1/job/oxygen-salt-arch-py2/lastFailedBuild/

[code]
This is failing for the PY2 and PY3 jobs.

[2018-02-21 17:47] rallytime opened #849 "[oxygen.rc1] PY3 CentOS 7 job not building"
https://jenkins.saltstack.com/job/oxygen.rc1/view/Branch%20Python%203/job/oxygen-salt-cent7-py3/lastFailedBuild/console

[code]

[2018-02-21 19:09] dubb-b commented on #849
@rallytime This is going through now.

https://jenkins.saltstack.com/job/oxygen.rc1/view/Branch%20Python%203/job/oxygen-salt-cent7-py3/29/console  , this may have been due to the repo.saltstack stuff. Not completely sure. And it also may have been me. I was cloud cleaning.

[2018-02-21 19:37] rallytime commented on #849
You rock!

[2018-02-21 19:37] #849 closed

[2018-02-21 23:16] dubb-b commented on #848
@rallytime https://jenkins.saltstack.com/job/oxygen.rc1/job/oxygen-salt-arch-py2/30/console

These are updated now with the new AMI.

[2018-02-26 14:15] DmitryKuzmenko commented on #827
Fixed by https://github.com/saltstack/salt/pull/46191

[2018-02-26 15:27] #847 closed

[2018-02-26 16:29] rallytime commented on #848
This is failing again on the 2018.3 node: https://jenkins.saltstack.com/job/2018.3/job/oxygen-salt-arch-py2/lastFailedBuild/

[2018-02-26 16:30] rallytime commented on #848
@dubb-b To clarify, this is failing on both 2018.3.0rc1 and 2018.3.

[2018-02-26 21:20] #829 closed

[2018-02-26 21:21] #827 closed

[2018-02-26 21:21] #831 closed

[2018-02-27 15:48] rallytime opened #854 "Tests hanging on integration.modules.test_cp.CPModuleTest.test_cache_remote_file"
I have seen this failing on multiple branches.

Here's an example from 2017.7 (note this has been running for 3 days...):
https://jenkins.saltstack.com/job/2017.7/job/2017.7-salt-fedora27-py3/92/console

Here's an example on 2018.3:
https://jenkins.saltstack.com/job/2018.3/job/oxygen-salt-ubuntu17.04-py3/114/console

And here is an example from 2018.3.0rc1:
https://jenkins.saltstack.com/job/2018.3

[2018-02-27 16:56] #848 closed

[2018-02-27 18:09] dwoz opened #855 "Appveyor build for salt-jenkins"
We have seen some flakiness when salt-jenkins installs in Windows environments. Add an Appveyor build that installs salt-jenkins. This build will run on pull requests to the salt-jenkins repository in hopes of catching changes that might break Windows builds

[2018-02-27 23:12] terminalmage commented on #854
This was caused by a combination of two things.

First, jobs were timing out because a critical bug in msgpack-python 0.5.5 (see https://github.com/msgpack/msgpack-python/commit/da902f9c1d996fb461f1efef6487ef40d32d365a#r27725642), causing jobs to timeout and return False.

Second, `open()` on Python 3 treats the integer values of boolean `True` and `False` as file descriptors, so a `False` was cau

[2018-02-28 02:03] terminalmage commented on #854
All of the related PRs are now merged.

[2018-02-28 15:05] #854 closed

[2018-03-01 17:43] rallytime opened #861 "[2018.3.0rc1] New test_conf_file_strings_are_unicode test is failing on some distros"
This test was added here: https://github.com/saltstack/salt/pull/46213/files

And it is failing here: https://jenkins.saltstack.com/job/2018.3.0rc1/job/oxygen-salt-ubuntu17.04-py2/lastCompletedBuild/testReport/unit.config.test_config/ConfigTestCase/test_conf_file_strings_are_unicode/

That is on Ubuntu 17.10, but I have also seen it fail on Arch, CentOS 6, CentOS 7, Debian 8, Debian 9, etc.

@term

[2018-03-01 17:58] rallytime commented on #861
Should be fixed by https://github.com/saltstack/salt/pull/46288

[2018-03-05 18:17] dwoz commented on #855
This is taking longer than I expected. I'm working through dusting off kitchen-salt to work with windows. As of right now, I am able to get salt-jenkins installed via kitchen-salt on both vagrant boxes and in Appveyor. The tests are not running in either of these environments yet however. I'm reaching out to a few people today to try and close the gaps in my understanding of all this.

[2018-03-05 20:31] rallytime commented on #855
Sounds good. Thanks @dwoz

[2018-03-06 16:21] #439 closed

[2018-03-06 16:51] rallytime commented on #830
These appear to have been fixed.

[2018-03-06 16:51] #830 closed

[2018-03-06 16:52] rallytime commented on #826
Looks like these are no longer failing. :)

[2018-03-06 16:52] #826 closed

[2018-03-06 16:53] rallytime commented on #861
This is fixed.

[2018-03-06 16:53] #861 closed

[2018-03-06 16:55] rallytime commented on #628
@Ch3LL Is this still failing?

[2018-03-06 16:56] rallytime commented on #373
@twangboy Should this issue remain open, or is this covered by the new issues you filed yesterday to track test fixes?

[2018-03-06 16:57] rallytime commented on #320
@Ch3LL Just checking in here. Is this still an issue?

[2018-03-06 18:08] twangboy commented on #373
I don't know. I haven't look for intermittent failures in a while. There are a few tests that fail in Jenkins, but pass when run manually, so I'll have to hunt those down and see what's going on.

[2018-03-07 08:12] dwoz commented on #855
Finally created a PR for this one. I'll likely need to make some minor change after @gtmanfred reviews.

[2018-03-07 15:01] Ch3LL commented on #628
nope

[2018-03-07 15:01] #628 closed

[2018-03-07 17:52] Ch3LL commented on #320
yes i just checked and its still not bootstrapping

[2018-03-08 21:24] dwoz commented on #855
We've merged #868 because it was holding up some other work. I still have some issues to work through for python 3 and vagrant builds in salt-jenkins

[2018-03-09 19:36] rallytime opened #875 "[develop] Py3 Tests still installing Tornado 5.0"
There are some tests jobs that are still installing Tornado 5.0 and hanging. I don't know where those are coming from, but they're hanging forever blocking all future test runs until the jobs are cancelled.

I have seen this on the following jobs:

- Debian 9 PY3
- Fedora 26 PY3
- Fedora 27 PY3
- Ubuntu 16 PY3 Proxy

I am not sure if there are more or not, but those were the ones I saw hanging and

[2018-03-09 19:53] rallytime opened #876 "Cent7 Tests failing git.salt due to docker install"
I don't know if this is failing on branches or not, but the PR tests for both PY2 and PY3 CentOS 7 builds are failing the `git.salt` state run because the docker service isn't starting:

[code]

There are several other states that fail as well, but that's because the state above is a requisite.

[2018-03-09 20:39] rallytime opened #877 "Update bootstrap script on branch nodes to latest develop"
The bootstrap script needs to be updated in `/etc/salt/cloud.deploy.d/` on the branch nodes to the latest version of develop: https://raw.githubusercontent.com/saltstack/salt-bootstrap/develop/bootstrap-salt.sh

This is necessary because it contains a fix for the Cent6 test runs. They are currently failing because bootstrap installs `tornado 5.0`. The bootstrap develop version contains a fix where

[2018-03-12 17:04] rallytime commented on #875
@dubb-b The file roots just needed to be updated on the develop node. I have fixed this.

[2018-03-12 17:04] #875 closed

[2018-03-12 21:31] dubb-b commented on #877
@rallytime I updated this. I am going to kick off some builds and make sure it all works.

[2018-03-13 16:49] DmitryKuzmenko commented on #828
The PR broken this test is https://github.com/saltstack/salt/pull/45781
The problem is that PR made GPG pillars to be decrypted from the beginning of the `-----BEGIN PGP MESSAGE-----` to the end of the `-----END PGP MESSAGE-----` marks. This means that now any heading and trailing characters are kept in the decoded data.
So if we have a newline in the encrypted message after the `END` mark that ne

[2018-03-13 16:54] DmitryKuzmenko commented on #786
Ok, I've reproduced a failure in Docker. At least now I'm having the same test result. Analyzing this.

[2018-03-13 16:55] DmitryKuzmenko commented on #805
I'm stuck here. Probably #46477 will fix it, let's see.
Also I've asked Brett to help me to get one of that Jenkins test machines running after the test pass so I can log in and re-run some tests with more trace logging. Waiting for that machine.

[2018-03-13 21:12] #877 closed

[2018-03-13 21:20] rallytime opened #881 "[develop] LDAP Auth Unit test failing on Develop branch"
- unit.auth.test_ldap.LDAPAuthTestCase.test_groups_freeipa

[code]

This has been failing for a while on the develop branch, I just hadn't had time to file an issue for it. It's failing consistently on multiple builds (PRs and the branch)

@DmitryKuzmenko can you look into this?

[2018-03-13 21:33] rallytime opened #882 "[develop] 1 Core grain unit test is failing"
- unit.grains.test_core.CoreGrainsTestCase.test_fqdns_return

[code]

This has been failing on develop for a while, I just didn't have time to file an issue for it yet. It is failing consistently on PRs (against develop) and the develop branch, so it should be easy to reproduce.

@garethgreenaway Can you take a look at this one?

[2018-03-13 21:36] garethgreenaway commented on #882
@rallytime On it.

[2018-03-13 21:48] rallytime commented on #882
@garethgreenaway You rock!

[2018-03-13 21:55] rallytime commented on #876
This is likely due to a bad image in AWS. This should be fixed now - just need to confirm after some more jobs have had a chance to run.

[2018-03-13 21:56] rallytime commented on #694
@Ch3LL Is this still failing?

[2018-03-14 07:20] dwoz commented on #855
We've added python 3 builds in #874. I'm closing this issue since Appveyor builds seem good now.

[2018-03-14 07:20] #855 closed

[2018-03-14 15:52] gtmanfred opened #883 "[2017.7.5] [Centos 6] unit.test_minion.MinionTestCase.test_sock_path_len"
Error Message

I/O operation on closed epoll fd

Stacktrace

Traceback (most recent call last):
  File "/tmp/kitchen/testing/tests/unit/test_minion.py", line 48, in test_sock_path_len
    event_publisher = event.AsyncEventPublisher(__opts__)
  File "/tmp/kitchen/testing/salt/utils/event.py", line 1019, in __init__
    self.publisher.start()
  File "/tmp/kitchen/testing/salt/transport/ipc.py", line

[2018-03-14 15:53] gtmanfred opened #884 "[2017.7.5][Fedora 27][py2/py3] integration.states.test_npm.NpmStateTest.test_npm_install_url_referenced_package"
[code]
https://jenkinsci.saltstack.com/job/2017.7.5/job/salt-fedora-27-py2/lastCompletedBuild/testReport/integration.states.test_npm/NpmStateTest/test_npm_install_url_referenced_package/

[2018-03-14 15:55] gtmanfred opened #885 "[2017.7.5][Opensuse][py2] integration.modules.test_pkg.PkgModuleTest.test_pkg_upgrade_has_pending_upgrades"
[code]
https://jenkinsci.saltstack.com/job/2017.7.5/job/salt-opensuse-py2/1/testReport/integration.modules.test_pkg/PkgModuleTest/test_pkg_upgrade_has_pending_upgrades/

[2018-03-14 15:57] gtmanfred opened #886 "[2017.7.5][Fedora 26/Ubuntu 17.10][py3] integration.states.test_pip.PipStateTest.test_46127_pip_env_vars"
[code]
https://jenkinsci.saltstack.com/job/2017.7.5/view/Python3/job/salt-fedora-26-py3/1/testReport/integration.states.test_pip/PipStateTest/test_46127_pip_env_vars/
https://jenkinsci.saltstack.com/job/2017.7.5/view/Python3/job/salt-ubuntu-1710-py3/1/testReport/integration.states.test_pip/PipStateTest/test_46127_pip_env_vars/

[2018-03-14 17:59] Ch3LL opened #887 "[2017.7.5] profitbrick failures py2/py3"
Seeing these failures:

[code]

I believe this is related to this PR: https://github.com/saltstack/salt/pull/46265

[2018-03-14 18:01] Ch3LL opened #888 "[2017.7.5] dimensiondata failures py2/py3"
[code]

[2018-03-14 18:33] gtmanfred commented on #886
This is also failing on arch
https://jenkinsci.saltstack.com/job/2017.7.5/view/Python3/job/salt-arch-py3/lastCompletedBuild/testReport/

[2018-03-14 20:05] dubb-b commented on #560
@gtmanfred has provided a workaround for the SEGFAULT this can be closed.

[2018-03-14 21:08] #560 closed

[2018-03-15 04:56] terminalmage commented on #885
Fixed in https://github.com/saltstack/salt/pull/46551

[2018-03-15 13:35] Ch3LL commented on #694
nope

[2018-03-15 13:35] #694 closed

[2018-03-15 14:23] #888 closed

[2018-03-15 14:25] #887 closed

[2018-03-15 18:56] #876 closed

[2018-03-15 18:57] rallytime commented on #487
I haven't seen this happen as often lately. I am not sure if it is a plugin update, or things moving more quickly through the queue with AWS, but I am going to close this for now. We can reopen if needed later.

[2018-03-15 18:57] #487 closed

[2018-03-15 18:58] #882 closed

[2018-03-16 14:48] Ch3LL opened #890 "[2017.7.5] Mac integration.modules.test_cp failing"
The tests:

 24 integration.modules.test_cp.CPModuleTest.test_get_file_str_https
 25 integration.modules.test_cp.CPModuleTest.test_get_url_https_no_dest
 26 integration.modules.test_cp.CPModuleTest.test_get_url_https
 27 integration.modules.test_cp.CPModuleTest.test_get_url_https_dest_empty

are failing on mac 10.11 py3 and 10.12 py3 on 2017.7.5

[2018-03-16 14:50] Ch3LL opened #891 "[2017.7.5] Mac 10.12 py2 integration.modules.test_pkg failure"
The test integration.modules.test_pkg.PkgModuleTest.test_pkg_upgrade_has_pending_upgrades is failing on mac 10.12 py2:

http://mac-jenkins:8080/job/2017.7.5/job/macOS-10.12/7/testReport/junit/integration.modules.test_pkg/PkgModuleTest/test_pkg_upgrade_has_pending_upgrades/

[code]

[2018-03-16 14:51] Ch3LL opened #892 "[2017.7.5] mac 10.13py3 integration.modules.test_state.StateModuleTest.test_listen_in_requisite failing"
the test integration.modules.test_state.StateModuleTest.test_listen_in_requisite is failing on mac 10.13py

http://mac-jenkins:8080/job/2017.7.5/job/macOS-10.13-py3/7/testReport/junit/integration.modules.test_state/StateModuleTest/test_listen_in_requisite/

[code]

[2018-03-16 15:23] #886 closed

[2018-03-16 16:16] gtmanfred commented on #883
I can only replicate this if I run all of the unit tests, if I just run one, it doesn't happen.

[code]

[2018-03-16 17:06] gtmanfred commented on #883
This is being caused by the new pyzmq 17.0.0 that is being installed on centos 6 because we haven't pinned it for centos 6 installs of 2017.7, and we install with -P in bootstrap.

[2018-03-16 17:51] #890 closed

[2018-03-16 19:24] Ch3LL commented on #892
I have not been able to replicate this. I've tried running all state and execution module tests and still cannot get it to fail. I believe this is a test related failure and not related to the code. I'll keep diving into the reason but I don't think we need to block the release on this.

fyi @rallytime

[2018-03-16 21:22] Ch3LL commented on #891
I can confirm this is just the case of a problem with teh test VM. When running brew upgrade You can see a bunch of symlink failures:

openssl:

[code]

readline:

[code]

curl:

[code]

node:

[code]

[code]

Looking for a solution, but I don't think we need to block release for this failure as its only a problem with test VM and not salt code.

[2018-03-16 22:19] Ch3LL opened #895 "[2018.3.0rc1] Mac user tests are failing"
integration.modules.test_mac_shadow.MacShadowModuleTest.test_del_password
integration.modules.test_mac_shadow.MacShadowModuleTest.test_get_login_failed_count
integration.modules.test_mac_shadow.MacShadowModuleTest.test_get_set_change
integration.modules.test_mac_shadow.MacShadowModuleTest.test_get_set_expire
integration.modules.test_mac_shadow.MacShadowModuleTest.test_get_set_maxdays
integration.m

[2018-03-16 22:59] Ch3LL commented on #895
Okay I found out this is the reason. in the mac_user file it does a check here:

`__grains__['osrelease_info'] < (10, 7)` when it was working osrelease_info returned a tuple like shown below:

[code]

Now with that commit its returning a dict:

[code]

[2018-03-18 17:31] jarrodldavis opened #896 "GPG App Usage"
Hi there,

I noticed that you are using my [GPG GitHub App] to make sure pull request commits are signed with valid GPG signatures.

Unfortunately, I've stopped working on this app quite some time ago because I had issues getting correct information from the GitHub API. You may have noticed some false negatives, especially when pushing new commits to an existing pull request.

Additionally, it see

[2018-03-19 16:11] rallytime commented on #896
👋 @jarrodldavis!

Thanks for reaching out. We'll get that switched over. :)

[2018-03-19 20:41] Ch3LL opened #901 "[2017.7.5] py2 vmware cloud failures"
[code]

[code]

[2018-03-19 21:20] #884 closed

[2018-03-20 14:12] DmitryKuzmenko commented on #881
I've reverted https://github.com/saltstack/salt/pull/45859 for now. It will fix the test. Anyway the reverted changes need to be updated because they partially lost after unicode fixes.
I've opened a discussion with the author.

[2018-03-20 14:44] rallytime opened #902 "[2017.7/.5] Test failures for NPM on CentOS 6/7, Ubuntu 14, and OpenSUSE"
integration.states.test_npm.NpmStateTest.test_npm_install_url_referenced_package

[code]

This is similar to #884, which was fixed with https://github.com/saltstack/salt/pull/46577. However, that change caused the failures on these new distros.

@terminalmage investigated this today and wasn't able to reproduce it in a docker container and determined it is because the new jenkins is running the np

[2018-03-20 20:07] #881 closed

[2018-03-20 21:40] #901 closed

[2018-03-21 18:03] terminalmage commented on #883
@gtmanfred So is the correct fix to make the change in salt-jenkins, or to keep the flaky decorator that you added when we were testing.

[2018-03-26 22:04] #828 closed

[2018-03-27 15:19] #895 closed

[2018-03-27 21:10] #504 closed

[2018-03-27 21:13] #902 closed

[2018-03-28 14:28] rallytime opened #903 "Audit code for uses of old utils paths"
Now that the utils paths have been moved to new locations starting in 2018.3.0, we need to update the calls in the repo to use the new locations. This should be done on the 2018.3 branch.

EDIT: This will depend on the version we're installing on the remote VM. This will be blocked until we update the VMs to install 2018.3.0 or newer.

[2018-03-29 14:55] terminalmage opened #906 "Replace integration.spm.test_man_spm.SPMManTest.test_man_spm"
This is failing because man uses "justify" alignment which means the substring is not a match, since there are extra spaces between the words:

[code]

The solution will be two-fold:

1. Write a general-purpose execution module to handle what we're doing mostly via shell commands.
2. Use that general-purpose execution module to test for all man pages, not just SPM.

This will also move the tests t

[2018-03-29 15:26] rallytime opened #907 "Bower install broken on some PY2 runs (affects PRs)"
I am seeing this fail on Ubuntu 14.04 for Python 2 builds on PRs and branches.

Note that it isn't failing everywhere, however. It's failing on the following distros:
- [ ] Ubuntu 14.04 PY2: https://jenkins.saltstack.com/job/PR/job/salt-pr-linode-ubuntu14-n/21301/consoleFull
- [ ] Centos 6: https://jenkins.saltstack.com/job/2018.3/job/oxygen-salt-cent6-py2/lastFailedBuild/console

This is passing

[2018-03-29 17:24] rallytime opened #908 "PY2 CentOS 7 PR builds against the 2017.7 branch not starting the test daemons"
The CentOS 7 builds for PRs are failing:

https://jenkins.saltstack.com/job/PR/job/salt-pr-rs-cent7-n/17626/console

[code]

@gtmanfred Can you look into this?

This issue, in conjunction with #907 means we don't have any PY2 runs on PRs for 2017.7 fixes. :-/

I checked around and I didn't see this happening on PRs submitted against other branches, so I am not quite sure what's going on here. But

[2018-03-30 13:41] gtmanfred commented on #908
I am unable to replicate this locally and with kitchen-salt.

Trying again on a server with ssh execing runtests.py

[2018-03-30 14:25] gtmanfred commented on #908
We switched from m3.large to t2.xlarge for now, and it is fixed, they are effectively the same memory and cpu footprint, but t2.xlarge is slightly cheaper... but for some reason works in this case.

[2018-03-30 14:25] #908 closed

[2018-03-30 14:25] gtmanfred commented on #908
https://jenkins.saltstack.com/job/PR/job/salt-pr-rs-cent7-n/17661/consoleFull

[2018-03-30 15:18] #373 closed

[2018-03-30 17:37] gtmanfred commented on #907
Fixed by #909
A cherry-pick has also been merged into 2018.3 and master.

[2018-03-30 17:37] #907 closed

[2018-04-06 14:58] gtmanfred opened #916 "[2017.7] [debian 8] [py3] integration.states.test_compiler.CompileTest.test_jinja_deep_error"
[code]

[2018-04-06 16:08] rallytime commented on #916
@terminalmage Can you look into this one?

https://jenkinsci.saltstack.com/job/2017.7/view/Python3/job/salt-debian-8-py3/lastCompletedBuild/testReport/

[2018-04-08 14:40] gtmanfred opened #917 "[2017.7] [opensuse] [py2] integration.states.test_pkgrepo.PkgrepoTest.test_pkgrepo_03_with_comments"
[code]

[2018-04-09 13:15] rallytime commented on #917
@garethgreenaway Can you take a look at this test failure when you get a moment?

[2018-04-09 17:54] garethgreenaway commented on #917
Initially it appears that adding comments into zypper repos does nothing.

[2018-04-11 14:07] gtmanfred opened #920 "[2018.3][fedora 27][py2/py3] integration.modules.test_state_jinja_filters.StateModuleJinjaFiltersTest.test_path_which"
This should be fairly easy to fix.

[code]

[2018-04-11 14:08] gtmanfred commented on #920
Also for ssh

`integration.ssh.test_jinja_filters.SSHJinjaFiltersTest.test_path_which`

[code]

[2018-04-11 14:59] rallytime commented on #920
@garethgreenaway Can you grab this one?

[2018-04-13 13:15] rallytime opened #922 "[2018.3] Lint build doesn't have "violations" link"
There is a lint build that failed on the 2018.3 branch recently and when I went to see what the issue was, I noticed there is not a "Violations" link in the left-hand side bar in JenkinsCI like there is in the old Jenkins.

I did not check the other branches, but they should have this too. @gtmanfred Can you fix this and check the other branches for the lint builds?

- [x] 2017.7
- [x] 2018.3
- [x

[2018-04-13 13:29] gtmanfred commented on #922
I added a Report Violations block to the configuration, and had it pull `pylint-report*.xml`

I am going to assign this to brett to get it added to the job template.

Daniel

[2018-04-13 13:41] dubb-b commented on #922
Thanks @gtmanfred will get it done.

[2018-04-13 13:45] rallytime commented on #922
Nice nice nice

[2018-04-13 13:58] dubb-b commented on #922
@gtmanfred this is complete.

[2018-04-13 14:45] #922 closed

[2018-04-13 18:40] rallytime commented on #473
@Ch3LL I never heard back on this. Can you elaborate on what this request is about?

[2018-04-13 18:40] rallytime commented on #481
These are no longer failing. Closing.

[2018-04-13 18:40] #481 closed

[2018-04-18 14:59] Ch3LL commented on #473
TBH I can't quit remember what this was exactly for. I will go ahead and close and we can re-open if needed.

[2018-04-18 14:59] #473 closed

[2018-04-18 15:31] rallytime opened #930 "[develop] unit.test_pillar.PillarTestCase.test_includes_override_sls failure"
The following test is failing on the develop branch:

- unit.test_pillar.PillarTestCase.test_includes_override_sls

This test is failing on both PY2 and PY3. Here's a link to the latest Cent7 PY 2 run: https://jenkins.saltstack.com/job/develop/job/salt-linode-cent7/lastCompletedBuild/testReport/

This test is new and started failing during a merge forward into the develop branch. It passes just fi

[2018-04-18 18:18] terminalmage commented on #930
Fixed in https://github.com/saltstack/salt/pull/47161

[2018-04-20 19:30] terminalmage commented on #916
@gtmanfred I can't reproduce on Debian 8 using Python 3 or Python 2 at the head of 2017.7. Is this still failing for you?

[2018-04-23 16:16] #930 closed

[2018-04-23 16:17] gtmanfred commented on #916
Looks like it has gone away on 2017.7 in jenkinsci

[2018-04-23 16:25] rallytime opened #931 "Add Tornado 5.0 tests"
We need to automatically test tornado 5.0 (https://github.com/saltstack/salt/pull/47106)

This should include a handful of distros on python 2 and 3:

- [ ] Ubuntu 16.04 Py2
- [ ] Ubuntu 16.04 Py3
- [ ] CentOS 7 Py2
- [ ] CentOS 7 Py3

This should be done on all 3 main branches, too, in case there is divergent code that needs to be handled there.

[2018-04-23 16:44] gtmanfred opened #932 "[2017.7][opensuse][py2] Failures in boto"
[code]

[2018-04-23 16:44] gtmanfred commented on #932
https://jenkinsci.saltstack.com/job/2017.7/view/All/job/salt-opensuse-py2/123/

[2018-04-23 16:44] gtmanfred commented on #932
All of these are failing with

[code]

[2018-04-25 18:37] #932 closed

[2018-04-25 19:09] Ch3LL opened #935 "[macosx] test_virt tests failing"
2017.7
macosx 10.11

The following tests are failing on macosx 10.11 2017.7

integration.modules.test_virt.VirtTest.test_default_esxi_profile
integration.modules.test_virt.VirtTest.test_default_kvm_profile

[code]

http://mac-jenkins:8080/job/2017.7/job/macOS-10.11-py3/46/#showFailuresLink

[2018-04-25 19:10] Ch3LL opened #936 "[macosx] test_issue_7754 failing"
http://mac-jenkins:8080/job/2017.7/job/macOS-10.11-py3/46/#showFailuresLink

integration.shell.test_call.CallTest.test_issue_7754
integration.shell.test_runner.RunTest.test_issue_7754

[code]

[2018-04-25 19:11] Ch3LL opened #937 "[macosx] test_issue_11003_immutable_lazy_proxy_sum failing"
http://mac-jenkins:8080/job/2017.7/job/macOS-10.11-py3/46/#showFailuresLink

integration.states.test_file.FileTest.test_issue_11003_immutable_lazy_proxy_sum

[code]

[2018-04-25 19:13] Ch3LL opened #938 "[macosx] test_salt_contains_function failing"
integration.states.test_renderers.TestJinjaRenderer.test_salt_contains_function

http://mac-jenkins:8080/job/2017.7/job/macOS-10.11-py3/46/#showFailuresLink

[code]

[2018-04-25 19:14] Ch3LL opened #939 "[macosx] test_status_diskusage failing"
integration.modules.test_status.StatusModuleTest.test_status_diskusage

http://mac-jenkins:8080/job/2017.7/job/macOS-10.11-py3/46/#showFailuresLink

[code]

[2018-04-25 19:15] Ch3LL opened #940 "[macosx] test_network_netstat failing"
integration.modules.test_network.NetworkTest.test_network_netstat

http://mac-jenkins:8080/job/2017.7/job/macOS-10.11-py3/46/#showFailuresLink

[code]

[2018-04-25 19:15] Ch3LL opened #941 "[macosx] test_overridden_internal failing"
integration.loader.test_ext_modules.LoaderOverridesTest.test_overridden_internal

http://mac-jenkins:8080/job/2017.7/job/macOS-10.11-py3/46/#showFailuresLink

[code]

[2018-04-25 19:17] Ch3LL opened #942 "[macosx] integration.states.test_user. failing"
integration.states.test_user.UserTest.test_user_if_present
integration.states.test_user.UserTest.test_user_if_present_with_gid
integration.states.test_user.UserTest.test_user_present_unicode
integration.states.test_user.UserTest.test_user_present_when_home_dir_does_not_18843

http://mac-jenkins:8080/job/2017.7/job/macOS-10.11-py3/46/#showFailuresLink

[code]

[2018-04-25 19:18] Ch3LL opened #943 "[macosx] integration.modules.test_pkg and integration.states.test_pkg failing"
integration.modules.test_pkg.PkgModuleTest.test_hold_unhold
integration.modules.test_pkg.PkgModuleTest.test_install_remove
integration.modules.test_pkg.PkgModuleTest.test_list
integration.modules.test_pkg.PkgModuleTest.test_mod_del_repo
integration.modules.test_pkg.PkgModuleTest.test_owner
integration.modules.test_pkg.PkgModuleTest.test_pkg_info
integration.modules.test_pkg.PkgModuleTest.test_pkg_

[2018-04-25 20:47] #940 closed

[2018-04-26 20:20] gtmanfred opened #947 "[tornado 5.0] tests unable to start"
[code]

https://jenkinsci.saltstack.com/job/2017.7/job/salt-centos-7-py3-tornado5/2/console

[2018-04-30 15:46] rallytime commented on #916
@gtmanfred and @terminalmage This has popped up again.

[2018-04-30 19:44] Ch3LL commented on #939
[code]

For some reason the command is timing out. I have not been able to replicate this. Going to restart with a new fresh build and run the entire test suite tomorrow. Switching to another issue I am able to replicate on the current macosx build i have.

[2018-05-03 14:12] gtmanfred commented on #947
This has been fixed.

[2018-05-03 14:12] #947 closed

[2018-05-09 14:08] rallytime opened #970 "[2018.3] Two scheduler unit tests failing"
There are 2 unit tests failing (I checked PY2 tests for both Ubuntu 14 and Ubuntu 16):
- unit.test_minion.MinionTestCase.test_beacons_before_connect
- unit.test_minion.MinionTestCase.test_scheduler_before_connect

https://jenkinsci.saltstack.com/job/2018.3/job/salt-ubuntu-1404-py2/lastCompletedBuild/testReport/

@garethgreenaway Can you take a look and fix these up?

[2018-05-09 14:13] rallytime opened #971 "[2018.3] YAML serialization test failing on Arch"
The following test is failing on Arch:
- unit.serializers.test_serializers.TestSerializers.test_serialize_yaml

[code]

https://jenkinsci.saltstack.com/job/2018.3/job/salt-arch-py2/lastCompletedBuild/testReport/

@terminalmage Can you take a look at this and fix it up?

[2018-05-09 16:03] terminalmage commented on #971
Fixed in https://github.com/saltstack/salt/pull/47568

[2018-05-14 13:43] rallytime opened #975 "[2017.7.6] CentOS 7 Cloud Run not bootstrapping"
The new CentOS 7 Salt-Cloud tests for PY2 are not running correctly because the test is not getting past the bootstrap call. I suspect something might be different there in the profile or something because the PY3 job is bootstrapping fine.

Failing PY2 job: https://jenkinsci.saltstack.com/job/2017.7.6/view/All/job/salt-centos-7-py2-cloud/lastFailedBuild/

@dubb-b or @gtmanfred can one of you take

[2018-05-14 14:25] Ch3LL opened #976 "mac tests can't bootstrap when using 2017.7.* bootstrap version"
When attempting to force the mac tests to bootstrap 2017.7.* versions it will not bootstrap because salt-testing has a couple of issues.

1. it hard codes the pkg name and in >= 2017.7 release we have renamed the pkg to include either py2 or py3.
2. it is not accurately comparing the md5 hash.

ping @dubb-b since you manage the salt-testing instances can you or someone from the team take a look at

[2018-05-14 14:27] rallytime opened #977 "[2018.3.1] Several jobs not running - git clone from origin errors"
There are several jobs not running on the 2018.3.1 branch:

[code]

@dubb-b Can you hard restart the kitchen nodes? @gtmanfred Said that this is what solved this problem in the past.

The latest jobs I saw this on was in the 2018.3.1 branch:
- arch py2
- cent7 py2/py3
- deb8 py2
- ubuntu 18 py2

There may be others, those are just the ones I checked this morning.

[2018-05-14 14:34] rallytime commented on #975
@gtmanfred Said he would take a look at this tomorrow.

[2018-05-14 15:17] dubb-b commented on #977
@rallytime these were restarted.

[2018-05-14 15:26] rallytime commented on #977
Thanks!

[2018-05-14 15:26] #977 closed

[2018-05-14 18:46] rallytime opened #979 "VMWare Cloud tests failing"
The VMWare cloud tests are failing on the new jenkins set up. They are failing on all branches.

I bet this has to do with the office move since these hosts were at the old office. Perhaps something went awry during the move.

@dubb-b Can you look into this?

[2018-05-14 18:54] rallytime opened #980 "EC2 Cloud Tests failing for Windows"
There are 2 tests failing with the new cloud tests for spinning up windows VMs:

- integration.cloud.providers.test_ec2.EC2Test.test_win2012r2_winrm
- integration.cloud.providers.test_ec2.EC2Test.test_win2016_winrm

These are failing on both the Py2 and Py3 builds for all active branches.

https://jenkinsci.saltstack.com/job/2017.7/view/Cloud/job/salt-centos-7-py2-cloud/4/

@dwoz Can you take a lo

[2018-05-14 18:56] rallytime opened #981 "Py3 Salt Cloud tests failing for EC2 driver"
In addition to the 2 failures reported in #980, there are 4 other cloud tests failing on the Python 3 builds. These look related to the when the windows VM tests were added and they also have unicode errors in them.

These are failing on all of the PY3 builds for the cloud tests.

https://jenkinsci.saltstack.com/job/2017.7/view/Cloud/job/salt-centos-7-py3-cloud/lastCompletedBuild/testReport/

@dwo

[2018-05-14 19:03] #931 closed

[2018-05-14 19:09] dwoz commented on #916
@rallytime  @terminalmage @gtmanfred

I can confirm I've seen this pop up intermittently.

[2018-05-14 19:18] gtmanfred commented on #979
If you are looking at the new jenkins, this is failing because the test instances are in aws, and the vmware instance is in our datacenter and it can't talk to them, we could attach our datacenter network to the vpc in aws to make those pass.

[2018-05-14 20:16] rallytime commented on #979
Yeah, I was looking at the new Jenkins.

[2018-05-16 19:19] dwoz commented on #980
Found this error in the failing test logs.
[code]

[2018-05-16 21:14] rallytime commented on #980
Ah, so just need to change the instance id we're using for the tests it sounds like?

[2018-05-18 17:28] rallytime commented on #970
These tests do not fail when run individually, but they do fail when the whole test suite runs.

I originally classified these as scheduler failures in the title, but they're actually in `test_minion.py` and have `scheduler` in one of the test names.

However, these failures are related to the scheduler tests. The `unit.modules.test_scheduler` tests are interfering with the `unit.test_minion` test

[2018-05-21 15:53] rallytime commented on #975
This is fixed now.

[2018-05-21 15:53] #975 closed

[2018-05-22 15:10] rallytime opened #992 "Investigate problems caused by unit.modules.test_cmdmod.CMDMODTestCase.test_run"
The `unit.modules.test_cmdmod.CMDMODTestCase.test_run` test started failing across all branches suddenly, and we weren't able to track down the cause.

When this test fails with:
[code]
All unittests after it get run a second time, and fail.

This test was skipped with https://github.com/saltstack/salt/pull/47769. We need to reenable the test and fix the problem with unittests running twice.

[2018-05-24 15:35] gtmanfred opened #995 "[Py3][Tornado 5.0] IOLoop tests failing with asyncio"
When running

[code]

The integration.modules.test_saltutil.SaltUtilSyncModuleTest.test_sync_all hangs and eventually errors with the following.

[code]

[2018-05-25 13:54] DmitryKuzmenko commented on #995
Using Python 3.6 after start master trying to start minion I'm getting the following error in the minion log:
[code]
I have to fix this issue first before I can to continue to work on the original report.
@rallytime is it OK?

[2018-05-25 14:22] rallytime commented on #995
@DmitryKuzmenko Yes, that error will need to be fixed first. Good find!

[2018-05-29 12:12] #584 closed

[2018-05-29 12:48] gtmanfred opened #998 "[2018.3.1][Ubuntu 14.04] Failing to install bower with npm"
https://jenkinsci.saltstack.com/job/2018.3.1/job/salt-ubuntu-1404-py2/17/console
[code]

[2018-05-29 12:51] gtmanfred commented on #998
Also failing on centos 6

https://jenkinsci.saltstack.com/job/2018.3.1/job/salt-centos-6-py2/24/

[2018-05-29 12:53] gtmanfred opened #999 "[2018.3][Fedora 28] integration.ssh.test_master.SSHMasterTestCase.test_service"
https://jenkinsci.saltstack.com/job/2018.3.1/job/salt-fedora-28-py2/20/testReport/integration.ssh.test_master/SSHMasterTestCase/test_service/

[2018-05-29 13:19] rallytime commented on #999
@terminalmage Can you take a look at this?

[2018-05-29 13:20] gtmanfred commented on #999
I am looking at this one already

[2018-05-29 13:20] rallytime commented on #999
@gtmanfred Oh, OK. Thanks!

[2018-05-29 13:24] gtmanfred opened #1000 "[2018.3][Centos 7][py2] integration.shell.test_call.CallTest.test_issue_14979_output_file_permissions"
https://jenkinsci.saltstack.com/job/2018.3.1/view/Tornado/job/salt-centos-7-py2-tornado/16/testReport/integration.shell.test_call/CallTest/test_issue_14979_output_file_permissions/
https://jenkinsci.saltstack.com/job/2018.3.1/job/salt-centos-7-py2/30/testReport/integration.shell.test_call/CallTest/test_issue_14979_output_file_permissions/

This is failing on regular and tornado tests.

but not py3

[2018-05-29 16:24] gtmanfred commented on #999
This was fixed by #997

[2018-05-29 16:24] #999 closed

[2018-06-01 18:02] rallytime opened #1006 "[develop] btmp beacon test failing"
The following test is failing on the develop branch:

- unit.beacons.test_btmp_beacon.BTMPBeaconTestCase.test_match_time

[code]

https://jenkinsci.saltstack.com/job/develop/job/salt-ubuntu-1804-py2/lastCompletedBuild/testReport/

@garethgreenaway Can you fix this up?

[2018-06-01 18:05] rallytime opened #1007 "[develop] Grains test failing in develop"
The following test is failing in develop:

- integration.loader.test_ext_grains.LoaderGrainsTest.test_grains_overwrite

[code]

https://jenkinsci.saltstack.com/job/develop/job/salt-ubuntu-1804-py2/lastCompletedBuild/testReport/

@gtmanfred Can you fix this one?

[2018-06-01 18:07] rallytime opened #1008 "[develop] symlink unit test failing in develop"
The following test is failing in develop:

- unit.states.test_file.TestFileState.test_symlink

[code]

https://jenkinsci.saltstack.com/job/develop/job/salt-ubuntu-1804-py2/lastCompletedBuild/testReport/

@terminalmage Can you fix this one up?

[2018-06-01 18:08] rallytime opened #1009 "[develop] Matcher grain test failing in develop"
The following test is failing in the develop branch:

- integration.shell.test_matcher.MatchTest.test_grain

https://jenkinsci.saltstack.com/job/develop/job/salt-ubuntu-1804-py2/lastCompletedBuild/testReport/

@Ch3LL Can you take a look at this one?

[2018-06-01 18:10] rallytime commented on #980
This is fixed.

[2018-06-01 18:10] #980 closed

[2018-06-01 18:11] rallytime commented on #981
Fixed.

[2018-06-01 18:11] #981 closed

[2018-06-01 18:11] rallytime commented on #979
This is fixed now. 👍

[2018-06-01 18:11] #979 closed

[2018-06-01 18:13] rallytime commented on #805
This is fixed now. 🎉

[2018-06-01 18:13] #805 closed

[2018-06-01 18:17] rallytime commented on #1000
@terminalmage This is failing on the branch still, and the following output was given:

[code]

This is on a CentOS 7 Py 2 test: https://jenkinsci.saltstack.com/job/2018.3/job/salt-centos-7-py2/lastCompletedBuild/testReport/

[2018-06-01 19:28] gtmanfred commented on #1007
yeah, i can look

[2018-06-04 05:10] terminalmage commented on #1000
That was a bug in my logging, I fixed that and this was the result:

[code]

So, somehow it is taking 15 seconds to run a `salt-call -g`. It's still unclear what is causing this though since we don't have access to the logging for the salt-call, given that it was spawned in a subprocess and is not connected to the test suite's logging.

The next step is to add an `-l debug` to the output. I'm goin

[2018-06-05 17:51] terminalmage commented on #1000
OK, so it looks like when we kill the process due to timeout, we don't get any of its output. So my recent changes didn't produce any new information in the log.

[2018-06-05 18:49] terminalmage commented on #1000
OK, https://github.com/saltstack/salt/pull/47976 will add the output from the salt-call to what is logged when we timeout.

[2018-06-06 15:35] rallytime commented on #1007
I am no longer seeing this fail. Closing.

[2018-06-06 15:35] #1007 closed

[2018-06-06 15:35] rallytime commented on #1006
This is fixed.

[2018-06-06 15:35] #1006 closed

[2018-06-06 15:37] rallytime commented on #1009
I am no longer seeing this fail. Closing.

[2018-06-06 15:37] #1009 closed

[2018-06-06 15:40] rallytime commented on #936
@Ch3LL Is this fixed now? Should this be closed?

[2018-06-06 15:40] rallytime commented on #939
@Ch3LL Now that your PR is merged, should this be closed?

[2018-06-06 15:58] terminalmage commented on #1008
This was broken back in https://github.com/saltstack/salt/pull/47580, the comment was changed in that PR and the test just needs to be updated to reflect that.

[2018-06-06 16:23] terminalmage commented on #1008
Fixed in https://github.com/saltstack/salt/pull/48004

[2018-06-08 22:09] terminalmage commented on #1000
Here's the logging. It's possible that one of the grains is timing out. Unfortunately, we have no timestamps, so I am going to turn the logging to `trace` level for this salt-call and then several branch builds run and see if it hangs on the same grains function each run.

[code]

[2018-06-11 13:56] Ch3LL commented on #936
yesh

[2018-06-11 13:56] #936 closed

[2018-06-11 13:57] Ch3LL commented on #939
yesh

[2018-06-11 13:57] #939 closed

[2018-06-13 18:29] terminalmage commented on #1000
The first run with the trace logging shows that it timed out while in the `os_data()` func in `salt/grains/core.py`. Another build is running now, and if it stops in the same place it will suggest that something in the `os_data()` func is timing out, and I'll know where to add further trace logging to zero in on it.

[code]

[2018-06-21 23:36] #1008 closed

[2018-06-22 19:28] rallytime opened #1015 "[develop] yumpkg unit test failure"
There is a single unit test failing on the CentOS 7 builds (both py2 and py3).

- unit.modules.test_yumpkg.YumTestCase.test_yum_base_error

[code]

https://jenkinsci.saltstack.com/job/develop/view/Python3/job/salt-centos-7-py3/lastCompletedBuild/testReport/

@gtmanfred Can you fix this up? This is one of the last tests failing regularly on CentOS tests in PRs, so I'd love to get those running gree

[2018-06-24 20:51] terminalmage commented on #1000
After getting the trace logging into the salt-call, I was not able to find anything that took unusually long. What I did notice however is that `salt-call -g` was compiling grains twice! After some digging I found that the `salt.cli.caller.BaseCaller`'s `print_grains()` function was compiling the grains before printing. However, this class also creates a `salt.minion.SMinion` instance in its dunde

[2018-06-25 17:51] terminalmage commented on #1000
https://jenkinsci.saltstack.com/job/2018.3/job/salt-centos-7-py2/126 is green :man_dancing:

[2018-06-25 18:34] #1000 closed

[2018-06-25 20:56] #240 closed

[2018-06-29 18:51] rallytime opened #1019 "[develop] Investigate new batch test failure"
In the merge forward from 2018.3 to develop in https://github.com/saltstack/salt/pull/48000, something has changed in develop that is causing a new batch test to fail.

The new batch test was introduced in https://github.com/saltstack/salt/pull/48236. During the merge forward, it started failing. I have been unable to determine why and cannot block this PR going in any longer. I have added a skipI

[2018-06-29 19:05] rallytime opened #1020 "[develop] Fix Compound Matcher test multiline nodegroups"
During the merge forward in https://github.com/saltstack/salt/pull/48300, the following test started failing:

- `integration.shell.test_matcher.MatchTest.test_compound`

I have been unable to track down why this test is now failing, and I have spent a long time going down various rabbit holes. I need to get the PR merged soon before it becomes too stale. Therefore, I have commented out the part o

[2018-07-02 13:09] #1019 closed

[2018-07-06 18:40] gtmanfred commented on #1015
We upgraded the centos ami on amazon to the newest version, since we are only seeing this error in PRs.

Waiting for verification to see if this fixes the issue for prs on old jenkins.

[2018-07-09 14:03] rallytime commented on #1015
I checked a couple of PRs this morning and this looks good now to me.

[2018-07-09 14:03] #1015 closed

[2018-07-10 13:34] rallytime opened #1021 "[2018.3] User test failing"
- integration.states.test_user.UserTest.test_user_if_present

[code]

[2018-07-10 15:10] rallytime commented on #1021
This was caused by https://github.com/saltstack/salt/pull/48398

[2018-07-10 18:38] rallytime commented on #1021
This is fixed with https://github.com/saltstack/salt/pull/48508

[2018-07-10 19:36] rallytime opened #1022 "[2017.7] Debian 8 failing a service test"
The following test is failing on Debian 8, Python 2, on the 2017.7 branch:

- integration.modules.test_service.ServiceModuleTest.test_service_disable_doesnot_exist

[code]

https://jenkinsci.saltstack.com/job/2017.7/job/salt-debian-8-py2/lastCompletedBuild/testReport/

[2018-07-10 19:39] rallytime opened #1023 "[2017.7] Arch failing a git integration test"
The following test is failing on Arch, Python 2 and Python 3, on the 2017.7, 2018.3, and develop branches:

- integration.modules.test_git.GitModuleTest.test_worktree_add_rm
[code]

https://jenkinsci.saltstack.com/job/2017.7/job/salt-arch-py2/lastCompletedBuild/testReport/

[2018-07-10 19:54] rallytime opened #1024 "openSUSE tests are not bootstrapping"
Looks like it is failing during the bootstrap run:
[code]

These run off of the develop branch of bootstrap: https://github.com/saltstack/release-mgmt/blob/819acb6b3956db85fa5a7fcc99b93413f27953d2/states/services/jenkins-node/kitchen-install.sls#L129

[2018-07-10 20:29] rallytime opened #1025 "Fedora 27 Py3 Build Timing Out after syndic test"
The Fedora 27 build for the Python 3 tests is timing out after the following tests:

[code]

This is happening on both the 2018.3 and develop branches:
- https://jenkinsci.saltstack.com/job/2018.3/view/Python3/job/salt-fedora-27-py3/
- https://jenkinsci.saltstack.com/job/develop/view/Python3/job/salt-fedora-27-py3/

This is not happening on the Python 2 jobs.

@gtmanfred Can you look into this?

[2018-07-10 20:42] rallytime commented on #1025
This is also happening on Fedora 27 for both branches, Python 3.

[2018-07-11 14:08] rallytime commented on #1024
This should be fixed with #1255

[2018-07-11 14:23] rallytime commented on #1024
Confirmed - all suse tests are running now.

[2018-07-17 20:27] dwoz opened #1032 "Out of memory from error from kitchen while downloading file"
We've seen and odd failed to allocate memory error from jenkins

[code]

[2018-07-18 19:50] Ch3LL opened #1033 "Brew tests on mac failing"
The following brew tests are failing on mac:

[code]

Here is the stack trace:

[code]

If i run `pkg.install` outside of the test runner I see this:

[code]

If i run it in our test runner we get the "homebrew can't be run by root" error.

[code]

I wrote a quick python script to quickly replicate the issue as well:

[code]

which returns:

[code]

I bisected this issue to this change: https://gi

[2018-07-18 20:07] weswhet commented on #1033
@Ch3ll are these test macs logged in as a user, and which OS version are they running?

[2018-07-19 13:56] Ch3LL commented on #1033
we are seeing the failures on:

sierra, high sierra, and el capitan

We login as root as you can see below:

[code]

and here is the /etc/profile that we source:

[code]

[2018-07-19 21:21] weswhet commented on #1033
I can replicate this issue
[code]

which we can fix by doing a `which brew` and passing the full path.

But I'm still trying to reproduce this bit
[code]

[2018-07-23 17:19] rallytime opened #1039 "[develop] Apache unit tests failing on python 3"
There are 2 unit tests failing on the develop branch when run via python3:

- unit.modules.test_apache.ApacheTestCase.test__parse_config_dict
- unit.modules.test_apache.ApacheTestCase.test__parse_config_list

[2018-07-23 17:31] rallytime opened #1040 "[develop] beacon unit test failing on Python 3"
There is a unit test that occasionally fails:

- unit.beacons.test_smartos_imgadm_beacon.SmartOSImgAdmBeaconTestCase.test_complex

Need to fix it to not be flaky.

[2018-07-23 19:22] rallytime commented on #1040
Fixed with https://github.com/saltstack/salt/pull/48721

[2018-07-23 20:55] rallytime commented on #1039
Fixed with https://github.com/saltstack/salt/pull/48722

[2018-07-24 17:37] #1040 closed

[2018-07-24 21:53] Ch3LL commented on #1033
okay got a step further. I was able to get the script i wrote above to now fail with "brew command not found" instead of "Running Homebrew as root is exteremely dangerous" by changing the PATHS in the environment.

[code]

mostly just updating here so I can start off where i ended today. will look into how to fix for tests

[2018-07-24 22:05] Ch3LL commented on #1033
also just tested hardcoding that PATH in salt/modules/cmdmod.py and getting the "brew command not found" expected error when running tests. will look at cleaning up the paths tomorrow and figuring out why this is occurring.

[2018-07-25 15:16] Ch3LL commented on #1033
k its the fake su we add to our integration test:

[code]

[code]

[2018-07-25 16:16] weswhet commented on #1033
Oh, that’s interesting. Nice find.

[2018-07-27 17:57] Ch3LL opened #1043 "integration.ssh.test_state.SSHStateTest.test_state_sls_id failing"
The test `integration.ssh.test_state.SSHStateTest.test_state_sls_id` is failing with error:

[code]

[2018-07-30 20:25] weswhet commented on #1033
I suppose this could be fixed by changing the cmdmod.py to use to `/usr/bin/su` vs just `su`

[2018-07-31 18:47] rallytime commented on #378
We're skipping these tests now in #48850. Ideally, these should just be run in their own testing environment.

[2018-08-01 20:36] rallytime opened #1045 "[2017.7] test_pkg_015_installed_held is failing on some CentOS 7 jobs"
The `integration.states.test_pkg.PkgTest.test_pkg_015_installed_held` test is failing on some of the CentOS 7 jobs:

- Py3 CentOS 7: https://jenkinsci.saltstack.com/job/2017.7/view/Python3/job/salt-centos-7-py3/lastCompletedBuild/testReport/
- Py2 CentOS Transport Test: https://jenkinsci.saltstack.com/job/2017.7/view/All/job/salt-centos-7-py2-transport/2/

@garethgreenaway It looks like this was y

[2018-08-02 14:28] terminalmage commented on #1023
Fixed in https://github.com/saltstack/salt/pull/48883.

[2018-08-02 17:56] cachedout commented on #1024
Hasn't this rebroken though?

[2018-08-02 18:15] rallytime commented on #1024
@cachedout It's a different issue. Before it was a bootstrap bug. Now it is a problem with the suse images.

I will open another ticket to track it.

[2018-08-02 18:15] #1024 closed

[2018-08-02 18:30] cachedout commented on #1024
@rallytime Very good. Thank you!

[2018-08-03 13:17] #1023 closed

[2018-08-03 22:21] garethgreenaway commented on #1022
@rallytime This seems to be working now.  Testing locally it ran find and the latest build it's also running without issue.

[2018-08-06 18:14] rallytime opened #1046 "Investigate and fix Arch bootstrap errors"
I think a dependency updated in Arch recently that is allowing it to not bootstrap. This needs to be investigated and fixed.

[2018-08-06 18:50] #1043 closed

[2018-08-06 18:52] #1033 closed

[2018-08-06 18:52] Ch3LL commented on #1033
@weswhet just closed we ended up just removing the su path in the integration tests

[2018-08-06 18:53] rallytime commented on #1022
@garethgreenaway Well, it wasn't failing before, but now this test is failing on the Debian 9 build.

Can you take another look?

https://jenkinsci.saltstack.com/job/2017.7/job/salt-debian-9-py2/lastCompletedBuild/testReport/

[2018-08-06 18:55] #1045 closed

[2018-08-06 19:45] Ch3LL opened #1047 "salt-ssh tests sometimes fail on fedora 27"
sometimes all of the ssh tests fail on fedora 27

integration.ssh.test_master.SSHMasterTestCase.test_can_it_ping
integration.ssh.test_master.SSHMasterTestCase.test_grains_items
integration.ssh.test_master.SSHMasterTestCase.test_service
integration.ssh.test_master.SSHMasterTestCase.test_state_apply
integration.ssh.test_master.SSHMasterTestCase.test_state_highstate
integration.ssh.test_state.SSHStat

[2018-08-07 11:53] rallytime commented on #1022
@garethgreenaway Fantastic! Thank you!

[2018-08-07 17:17] #1046 closed

[2018-08-07 18:06] rallytime opened #1048 "[Fluorine] Fix test_hold_unhold failure"
This test failure was introduce in a merge forward. I will fix it.

This is failing on Fluorine and Develop.

[2018-08-08 13:30] Ch3LL opened #1049 "[2017.7.8] test_vultr failing"
The following test: `integration.cloud.providers.test_vultr.VultrTest.test_instance` is failing on the cloud tests for py2 and py3

Heres the failure:

[code]

job: https://jenkinsci.saltstack.com/job/2017.7.8/view/Cloud/job/salt-centos-7-py2-cloud/2/testReport/junit/integration.cloud.providers.test_vultr/VultrTest/test_instance/

[2018-08-08 13:32] Ch3LL opened #1050 "[2017.7.8] test_msazure"
The cloud test: `integration.cloud.providers.test_msazure.AzureTest.test_instance ` is failing with error:

[code]

https://jenkinsci.saltstack.com/job/2017.7.8/view/Cloud/job/salt-centos-7-py2-cloud/1/testReport/junit/integration.cloud.providers.test_msazure/AzureTest/test_instance/

[2018-08-08 13:34] Ch3LL opened #1051 "[2017.7.8] test_ec2 failing"
The cloud test `integration.cloud.providers.test_ec2.EC2Test.test_instance` is failing on py3:

https://jenkinsci.saltstack.com/job/2017.7.8/view/Cloud/job/salt-centos-7-py3-cloud/4/testReport/junit/integration.cloud.providers.test_ec2/EC2Test/test_instance/

[2018-08-08 13:45] Ch3LL opened #1052 "[2017.7.8] test_grains failure cent7"
The test `integration.modules.test_grains.GrainsAppendTestCase.test_grains_append_val_already_present` is failing on py2 centos7

[code]

https://jenkinsci.saltstack.com/job/2017.7.8/job/salt-centos-7-py2/2/testReport/junit/integration.modules.test_grains/GrainsAppendTestCase/test_grains_append_val_already_present/

[2018-08-08 13:46] Ch3LL opened #1053 "[2017.7.8] test_compiler failure debian 8 py3"
The test `integration.states.test_compiler.CompileTest.test_jinja_deep_error` is failing on debian 8 py3:

[code]

https://jenkinsci.saltstack.com/job/2017.7.8/view/Python3/job/salt-debian-8-py3/lastFailedBuild/testReport/junit/integration.states.test_compiler/CompileTest/test_jinja_deep_error/

[2018-08-08 13:47] Ch3LL opened #1054 "[2017.7.8] py3 tornado tests are hanging"
The python3 tornado tests are hanging and dont finish a complete test run:

https://jenkinsci.saltstack.com/job/2017.7.8/view/Tornado/job/salt-ubuntu-1604-py3-tornado/

[2018-08-08 13:51] Ch3LL opened #1055 "[2017.7.8] pip test failures on mac highsierra"
The following tests fail on mac highsierra:

[code]

its been a while since i replicated these failures but i remember i had to run both of these or run the entire test_virtualenv and test_pip_state.

here is the stacktrace:

[code]

my initial thoughts is that there is another test that is changing permissions of this directory. because when you run teh tests by themselves it passes just fine.

[2018-08-08 13:52] #1048 closed

[2018-08-08 13:52] Ch3LL opened #1056 "[2017.7.8] mac high sierra test_man failing"
The test `integration.doc.test_man.ManTest.test_man` is failing on mac high sierra

Here is the error:

[code]

I have not yet replicated this error.

[2018-08-08 13:53] Ch3LL opened #1057 "[2017.7.8] Mac El Capitan Tests are hanging"
The El capitan tests are hanging and I see this error:

[code]

sometimes the tests do complete but there are many test failures. When i run the tests individually they pass. the problem seems to only show up when running the entire test suite.

[2018-08-08 13:56] rallytime commented on #1056
I think this is a flaky one.

[2018-08-08 13:57] rallytime commented on #1054
Now that I think about it, isn't this expected @gtmanfred? We should probably disable those. We don't support Py3 + Tornado 5.

Thanks what this issue is tracking: https://github.com/saltstack/salt-jenkins/issues/995

[2018-08-08 14:11] rallytime commented on #916
Replaced with #1053

[2018-08-08 14:11] #916 closed

[2018-08-08 14:29] gtmanfred commented on #1054
The py3 tests should be yes.

[2018-08-08 14:29] #1054 closed

[2018-08-08 14:29] gtmanfred commented on #1054
We need to just disable all py3 tornado 5 tests until dmitry's fix is in.

[2018-08-08 14:40] rallytime commented on #1053
Fixed with https://github.com/saltstack/salt/pull/49002 - this has been flaky on Debian 8 for a long time and difficult to reproduce.

[2018-08-08 15:07] rallytime commented on #1054
I disabled them all for now.

[2018-08-08 15:15] gtmanfred commented on #1054
We should open an issue on the devops repo to get @dubb-b or @KaiSforza to disable them in the build jobs until we get that fixed.

[2018-08-08 20:15] Ch3LL commented on #1049
okay i think this is resolved. There was some cloud-test VMS that were never cleaned up. I removed those and now we can build. I will need to monitor to make sure the future VMs are getting deleted. Wont close until i see them pass during a test run

[2018-08-08 20:19] Ch3LL commented on #1049
ahh i saw an error in the UI. When i tried to delete the VM right after creation it said something about it can't remove the VM until 5 minutes after creation. Maybe we are sometimes hitting this in the tests? just a theory right now.

[2018-08-08 20:34] rallytime commented on #1049
Interesting...what a weird requirement.

[2018-08-08 20:42] Ch3LL commented on #1050
same issue as vultr. there were resources that weren't deleted. will verify with a restart of tests

[2018-08-08 20:46] Ch3LL commented on #1049
yeah just a theory at this time. i'll check back to see that the tests are actually getting deleted.

[2018-08-09 13:13] Ch3LL opened #1058 "[2017.7.8] windows cmd tests failing"
The following tests are failing on windows python3:

[code]

https://jenkinsci.saltstack.com/job/2017.7.8/view/Python3/job/salt-windows-2016-py3/lastFailedBuild/#showFailuresLink

[2018-08-09 13:16] Ch3LL opened #1059 "[2017.7.8] test_http_query failing"
On the transport tests `unit.templates.test_jinja.TestCustomExtensions.test_http_query` is failing

https://jenkinsci.saltstack.com/job/2017.7.8/view/Transport/job/salt-ubuntu-1604-py3-transport/4/

I also see it failing on debian 9 https://jenkinsci.saltstack.com/job/2017.7.8/view/Python3/job/salt-debian-9-py3/lastFailedBuild/

[2018-08-09 14:37] rallytime opened #1060 "[2017.7.8] Arch Py3 Not starting Test Deamons"
https://jenkinsci.saltstack.com/job/2017.7.8/view/Python3/job/salt-arch-py3/lastFailedBuild/console

This is happening on 2017.7.8 ^

But I am sure it's happening on other branches as well.

@gtmanfred Can you look into this one?

[2018-08-09 14:38] gtmanfred commented on #1060
This is because archlinux's py3 is python3.7 which suffers from the async problem.

[2018-08-09 14:49] Ch3LL commented on #1050
passing and VMs are deleted.

[2018-08-09 14:49] #1050 closed

[2018-08-09 14:50] Ch3LL commented on #1049
okay tests still failed after previous run. will dive into this later today

[2018-08-09 14:56] Ch3LL commented on #1052
not failing anymore :) woot

[2018-08-09 14:56] #1052 closed

[2018-08-09 14:58] rallytime commented on #1060
You're right. Let's close this since we're tracking that effort elsewhere. I'll disable the 2017.7 tests.

[2018-08-09 14:58] #1060 closed

[2018-08-09 15:12] rallytime commented on #1022
Ah, I hate to do this to you @garethgreenaway, but now this is failing on Debian 8 Py3. Can you take one more look?

https://jenkinsci.saltstack.com/job/2017.7.8/view/Python3/job/salt-debian-8-py3/lastCompletedBuild/testReport/

[2018-08-09 15:56] Ch3LL commented on #1051
running into this same failure: https://github.com/saltstack/salt/issues/48206

which was fixed with https://github.com/saltstack/salt/pull/48212

going to test that fix for 2017.7

[2018-08-09 19:46] Ch3LL commented on #1051
k tested manually with py2 and py3 on ec2. submitting the backport of that PR

[2018-08-09 19:54] rallytime commented on #1059
This test is just a tad flaky since it depends on an external site. While the test is simple, it can fail randomly. Marking it as flaky.

[2018-08-10 00:10] garethgreenaway commented on #1022
@rallytime Found the cause, the grains I was using for the conditional are different between py2 & py3.  Swapping it out for a different grain.

[2018-08-10 01:31] rallytime commented on #1022
Great! Thanks!

[2018-08-10 01:31] #1022 closed

[2018-08-10 13:18] Ch3LL commented on #1053
@rallytime this just failed here again? https://jenkinsci.saltstack.com/job/2017.7.8/view/Python3/job/salt-debian-8-py3/lastFailedBuild/

if you dont have time today i can look into it, as far as i know it should just be skipping the test.

[2018-08-13 13:49] gtmanfred commented on #1025
I think this one is solved by https://github.com/saltstack/salt/pull/49038

Monitoring.

[2018-08-13 15:42] #1059 closed

[2018-08-13 20:15] rallytime commented on #1025
@gtmanfred Hrm, unfortunately, that does not seem to be the case:

https://jenkinsci.saltstack.com/job/2018.3/view/Python3/job/salt-fedora-27-py3/23/console

[2018-08-14 12:53] rallytime commented on #1058
Fixed with https://github.com/saltstack/salt/pull/49103

[2018-08-15 18:40] Ch3LL opened #1064 "[2018.3.3] integration.cloud.providers.test_ec2 failing"
The `integration.cloud.providers.test_ec2` tests are failing on both py3 and py2 on 2018.3

https://jenkinsci.saltstack.com/job/2018.3.3/view/Cloud/job/salt-centos-7-py3-cloud/lastFailedBuild/
https://jenkinsci.saltstack.com/job/2018.3.3/view/Cloud/job/salt-centos-7-py2-cloud/lastFailedBuild/

[2018-08-15 18:44] Ch3LL opened #1065 "[2018.3.3] integration.cloud.providers.test_linode.LinodeTest.test_instance failing"
`integration.cloud.providers.test_linode.LinodeTest.test_instance` is failing on both py2 and py3

https://jenkinsci.saltstack.com/job/2018.3.3/view/Cloud/job/salt-centos-7-py3-cloud/lastFailedBuild/
https://jenkinsci.saltstack.com/job/2018.3.3/view/Cloud/job/salt-centos-7-py2-cloud/lastFailedBuild/

[2018-08-15 18:44] Ch3LL opened #1066 "[2018.3.3] integration.cloud.providers.test_msazure.AzureTest.test_instance failing"
`integration.cloud.providers.test_msazure.AzureTest.test_instance` is failing on both py2 and py3

https://jenkinsci.saltstack.com/job/2018.3.3/view/Cloud/job/salt-centos-7-py3-cloud/lastFailedBuild/
https://jenkinsci.saltstack.com/job/2018.3.3/view/Cloud/job/salt-centos-7-py2-cloud/lastFailedBuild/

[2018-08-15 18:45] Ch3LL opened #1067 "[2018.3.3] integration.cloud.providers.test_rackspace.RackspaceTest.test_instance failing"
`integration.cloud.providers.test_rackspace.RackspaceTest.test_instance` is failing on py2 and py3

https://jenkinsci.saltstack.com/job/2018.3.3/view/Cloud/job/salt-centos-7-py3-cloud/lastFailedBuild/
https://jenkinsci.saltstack.com/job/2018.3.3/view/Cloud/job/salt-centos-7-py2-cloud/lastFailedBuild/

[2018-08-15 18:46] Ch3LL opened #1068 "[2018.3.3] integration.states.test_git.GitTest.test_cloned_with_nonexistant_branch failing"
`integration.states.test_git.GitTest.test_cloned_with_nonexistant_branch` test is failing on cent6 python2

https://jenkinsci.saltstack.com/job/2018.3.3/job/salt-centos-6-py2/2/

Here is the error:

[code]

[2018-08-16 13:27] Ch3LL opened #1069 "[2018.3.3] unit test_file test failures on windows"
in python2 windows the tests:

[code]

are failing.

https://jenkinsci.saltstack.com/job/2018.3.3/job/salt-windows-2016-py2/lastFailedBuild/#showFailuresLink

[2018-08-16 13:28] Ch3LL opened #1070 "[2018.3.3]unit.utils.test_event.TestAsyncEventPublisher.test_event_subscription failing"
On windows python 2 the test `unit.utils.test_event.TestAsyncEventPublisher.test_event_subscription` is failing

https://jenkinsci.saltstack.com/job/2018.3.3/job/salt-windows-2016-py2/lastFailedBuild/#showFailuresLink

[2018-08-16 13:29] Ch3LL opened #1071 "[2018.3.3] test_roots windows failures"
The tests

[code]

are failing on windows python2

https://jenkinsci.saltstack.com/job/2018.3.3/job/salt-windows-2016-py2/lastFailedBuild/#showFailuresLink

[2018-08-16 13:29] Ch3LL opened #1072 "[2018.3.3] unit.fileserver.test_gitfs.GitfsConfigTestCase.test_per_saltenv_config failing"
The test `unit.fileserver.test_gitfs.GitfsConfigTestCase.test_per_saltenv_config` is failing on windows python2

https://jenkinsci.saltstack.com/job/2018.3.3/job/salt-windows-2016-py2/lastFailedBuild/#showFailuresLink

[2018-08-16 13:30] Ch3LL opened #1073 "[2018.3.3] integration.modules.test_state.StateModuleTest.test_state_sls_unicode_characters_cmd_output failing"
The test `integration.modules.test_state.StateModuleTest.test_state_sls_unicode_characters_cmd_output` is failing on windows python2

https://jenkinsci.saltstack.com/job/2018.3.3/job/salt-windows-2016-py2/lastFailedBuild/#showFailuresLink

[2018-08-16 13:31] Ch3LL opened #1074 "[2018.3.3] setUpClass (unit.fileserver.test_gitfs.GitPythonTest) failing"
The test `setUpClass (unit.fileserver.test_gitfs.GitPythonTest)` on windows is failing on python2

https://jenkinsci.saltstack.com/job/2018.3.3/job/salt-windows-2016-py2/lastFailedBuild/#showFailuresLink

[2018-08-16 13:33] Ch3LL opened #1075 "[2018.3.3] arch python3 tests do not finish"
Currently the python3 arch tests are not finishing tests and timeout.

https://jenkinsci.saltstack.com/job/2018.3.3/view/Python3/job/salt-arch-py3/4/console

[2018-08-16 20:17] Ch3LL commented on #1068
okay i found out why this test is failing only on cent6. It is because the git versions differ and on older git versions it returns an exit code of 0 when branch does not exist.

To show this point further.

on cent6:

[code]

arch:

[code]

[2018-08-16 20:47] Ch3LL commented on #1068
okay i found out its this commit: https://github.com/git/git/commit/920b691 that changed it from a warning to calling `die` and returning exit code 128.

This first appeared in git version v1.7.10

[2018-08-17 13:17] Ch3LL commented on #1075
ping @garethgreenaway any chance you can take a look here.

i noticed all hte builds are timing out on this part:

[code]

[2018-08-17 15:54] Ch3LL opened #1077 "[2018.3.3] Fedora 28 not running tests"
https://jenkinsci.saltstack.com/job/2018.3.3/view/Python3/job/salt-fedora-28-py3/6/consoleFull

[code]

This is right after the test runner starts, so we aren't getting test results for this OS currently.

[2018-08-17 15:55] Ch3LL opened #1078 "[2018.3.3] fedora 27 tests hanging"
https://jenkinsci.saltstack.com/job/2018.3.3/view/Python3/job/salt-fedora-27-py3/6/

[code]

[2018-08-17 16:03] Ch3LL commented on #1078
ping @terminalmage mind taking a look here if you dont have any other release tasks.

[2018-08-17 16:03] Ch3LL commented on #1077
i'll take a look at this after the cloud tests

[2018-08-17 16:04] Ch3LL commented on #1077
still failing looking into it

[2018-08-17 16:04] Ch3LL commented on #1064
still failing looking into it

[2018-08-17 16:04] Ch3LL commented on #1065
still failing looking into it

[2018-08-17 16:04] Ch3LL commented on #1066
still failing looking into it

[2018-08-17 16:04] Ch3LL commented on #1067
still failing looking into it

[2018-08-17 17:43] Ch3LL commented on #1066
billing issues. reached out to accounting waiting on response.

[2018-08-17 20:42] Ch3LL commented on #1066
billing information updated should fix. re-running

[2018-08-17 20:50] #1065 closed

[2018-08-19 18:32] terminalmage commented on #1078
A fix was merged, this should no longer hang.

[2018-08-20 14:33] gtmanfred commented on #1077
Coverage has nothing to do with why this is failing, the chmod cannot access coverage.xml is when it tries to copy the files back, the error is that it never ran any of the tests.

[2018-08-21 13:17] Ch3LL commented on #1078
ping @terminalmage the tests are now hanging on this test part of the test suite: `10:46:55          test_issue_7754 (integration.shell.test_syndic.SyndicTest)` could that be related to your change?

[2018-08-21 20:35] #1067 closed

[2018-08-21 21:54] terminalmage commented on #1078
@Ch3LL and I worked on this today. It was not failing for me using the docker provisioner for test-kitchen, but @Ch3LL was able to get it to reproduce using the AWS provisioner. I'm pretty certain that https://github.com/saltstack/salt/pull/49241 will fix this, as once we applied this change to the AWS box provisioned by test-kitchen, it passed 9 times in a row (prior to this I was able to get it

[2018-08-22 16:58] terminalmage commented on #1078
https://github.com/saltstack/salt/pull/49241 did indeed fix the F27 tests in 2018.3.3, closing.

[2018-08-22 16:58] #1078 closed

[2018-08-22 20:29] Ch3LL commented on #1068
ping @terminalmage i've been glancing at this one and i'm not certain where the right fix would be here. Should we just require git >1.7.10 to use the clone state or should we be be catching the stderr here: https://github.com/saltstack/salt/blob/develop/salt/modules/git.py#L388 and then raise a CommandExecutionError message.

[2018-08-22 20:43] Ch3LL commented on #1075
any update on this @garethgreenaway

[2018-08-22 20:44] garethgreenaway commented on #1075
@Ch3LL Unfortunately I still haven't been able to find the cause.  It's definitely something in Python 3.7 and not specific to Arch though.

[2018-08-23 20:58] Ch3LL commented on #1068
i think i might take the approach to check if the branch exists before checking out on versions <=1.7.10. i'll see if thats possible.

[2018-08-23 22:17] Ch3LL commented on #1068
okay i have this so far:

[code]

just need to test this tomorrow.

[2018-08-24 01:03] terminalmage commented on #1068
I would just skip the test on git > 1.7.10. There are very few non-EOL LTS releases which have that old of a git release, and this test is specifically designed to test the behavior present in newer git versions anyway.

[2018-08-24 13:37] Ch3LL commented on #1077
tests are running now woot! https://jenkinsci.saltstack.com/job/2018.3.3/view/Python3/job/salt-fedora-28-py3/11/console

[2018-08-24 13:37] #1077 closed

[2018-08-24 14:38] #1058 closed

[2018-08-24 19:56] rallytime opened #1093 "Look into serializers test failure"
- unit.serializers.test_serializers.TestSerializers.test_compare_sls_vs_yaml_with_jinja

Failing on 2 different PRs:
- https://jenkinsci.saltstack.com/job/pr-kitchen-ubuntu1604-py3/job/PR-49261/4/
- https://jenkinsci.saltstack.com/job/pr-kitchen-ubuntu1604-py3/job/PR-49292/4/

Both PRs are against `develop`

[2018-08-27 16:39] dwoz commented on #1074
Resolved by https://github.com/saltstack/salt/pull/49244

[2018-08-27 16:41] dwoz commented on #1070
Resolved by: https://github.com/saltstack/salt/pull/49270

[2018-08-27 17:17] dwoz commented on #1071
Fixed by: https://github.com/saltstack/salt/pull/49243

[2018-08-28 11:36] nbraud commented on #995
What's the status of this, and will a fix be included in 2018.3.3?

I'm asking because this results in Salt being completely broken in Debian `sid` and `testing`.  :(

[2018-08-28 12:46] gtmanfred commented on #995
This is not going to be fixed in 2018.3.3, you will have to stick with salt with python2 for versions where python-tornado is already upgraded.

This is will be fixed in Fluorine for python3 and if it is not too complicated it may be backported to 2018.3 once it has finished, but it is not holding up the 2018.3.3 release.

[2018-08-28 13:27] Ch3LL commented on #1075
unfortunately it looks like this is still hanging: https://jenkinsci.saltstack.com/job/2018.3.3/view/Python3/job/salt-arch-py3/15/console

not sure if you knew @garethgreenaway

[2018-08-28 13:32] #1093 closed

[2018-08-28 13:40] Ch3LL commented on #1066
Finally passing :)

[2018-08-28 13:40] #1066 closed

[2018-08-28 13:40] #1068 closed

[2018-08-28 13:40] #1064 closed

[2018-08-28 13:42] Ch3LL commented on #1025
this is fixed in 2018.3.3

[2018-08-28 13:42] #1025 closed

[2018-08-28 15:35] terminalmage commented on #1068
Ahh good, I see you properly interpreted my typo :smile: Sorry, I should have said `git < 1.7.10`.

[2018-08-29 09:27] nbraud commented on #995
@gtmanfred OK, that's good to know (and I will forward that info to the corresponding Debian bug).
Is there an ETA on Fluorine?  I see 2018.11 has been [tagged](https://github.com/saltstack/salt/releases), but the [documentation](https://docs.saltstack.com/en/latest/topics/releases/version_numbers.html) states that Fluorine's version number is still TBD; does it mean it won't happen this year?

[2018-08-29 13:12] gtmanfred commented on #995
2018.11 is our target, but we still need to get a release candidate out.

[2018-08-30 14:14] rallytime opened #1106 "[2017.7] Fix test_key_deploy ssh test"
This started failing yesterday suddenly on the 2017.7 branch.

- integration.ssh.test_key_deploy.SSHKeyDeployQuestionCase.test_key_deploy
[code]

https://jenkinsci.saltstack.com/job/2017.7/job/salt-ubuntu-1604-py2/lastCompletedBuild/testReport/

It is failing on many distros on the branch: https://jenkinsci.saltstack.com/job/2017.7/

[2018-08-30 21:05] Ch3LL commented on #1106
bisected it to this commit 8af2d580f3ded8adbbbc1c1db79ff20bc8a68395

from pr: https://github.com/saltstack/salt/pull/48636

and for documentation purposes. This started occuring after this change: https://github.com/saltstack/kitchen-salt/blob/master/lib/kitchen/transport/runtests.rb

which does "it will shell out to the ssh binary, instead of using the ruby net-ssh gem, which is a ruby implementa

[2018-08-30 21:32] #1106 closed

[2018-08-30 23:25] gtmanfred commented on #1075
https://jenkinsci.saltstack.com/job/fluorine/view/Python3/job/salt-arch-py3/37/console

At least it is in unittests now.

[2018-08-31 15:27] #1074 closed

[2018-08-31 15:28] #1073 closed

[2018-08-31 15:28] rallytime commented on #1072
This isn't failing any more, so I will close this for now. Possibly flaky/resolved by some of the other fixes.

[2018-08-31 15:28] #1072 closed

[2018-08-31 15:29] #1071 closed

[2018-08-31 15:29] #1070 closed

[2018-08-31 15:29] #1069 closed

[2018-08-31 15:30] rallytime commented on #1075
Oops, that closed automatically when it shouldn't have. :)

@garethgreenaway Can you make this your priority when you get back? @gtmanfred is currently on PTO, but there should be some more info in here from his work this week to get this moving again.

[2018-09-04 18:51] rallytime opened #1116 "[windows] Integration host module test failing"
The following test failed on a PR recently. I don't see it failing on the branch and it's not failing in the Linux tests, so perhaps it is flaky. @dwoz Can you look into this?

- `integration.modules.test_hosts.HostsModuleTest.test_add_host_formatting`

[code]

Here's the link to the Jenkins failing, but I'm not sure how long it will be around: https://jenkinsci.saltstack.com/job/pr-windows2016-py

[2018-09-07 13:43] rallytime commented on #1075
Nice! These are no longer hanging, but we have a bunch of failures around the `errno` missing. Let's get those fixed up too.

[2018-09-13 18:31] rallytime opened #1118 "[2018.3] Several pkg state tests failing on opensuse"
The following tests started failing somewhat recently on the 2018.3 branch on opensuse:

- integration.states.test_pkg.PkgTest.test_pkg_cap_001_installed
- integration.states.test_pkg.PkgTest.test_pkg_cap_002_already_installed
- integration.states.test_pkg.PkgTest.test_pkg_cap_004_latest
- integration.states.test_pkg.PkgTest.test_pkg_cap_005_downloaded
- integration.states.test_pkg.PkgTest.test_pk

[2018-09-13 18:32] #1055 closed

[2018-09-14 22:44] garethgreenaway commented on #1118
Spent some time looking at this and traced it down to the first search call in the `resolve_capabilities` function, which logs an error because the search fails.  Looks like @mcalmer made this addition, so hopefully has some advice on how to handle properly handle it so that the test passes.

[2018-09-15 09:40] mcalmer commented on #1118
@garethgreenaway do you have the error message? Is there a zypper .log available or something like this?

[2018-09-15 10:05] mcalmer commented on #1118
@garethgreenaway on which opensuse version do you test?

[2018-09-15 15:05] garethgreenaway commented on #1118
@mcalmer

Version:
[code]

This is the error that is logged via Salt
[code]
The Salt call is ultimately successful but produces an error when attempting the first search.

There is a zypper.log which has quite a lot of data in it:
https://www.dropbox.com/s/op322wjxm0wtlzg/zypper.log?dl=0

[2018-09-17 17:01] rallytime commented on #1053
This is no longer failing. Closing.

[2018-09-17 17:01] #1053 closed

[2018-09-17 17:27] rallytime opened #1120 "[2017.7] test_check_request test is failing on Debian 9"
The following test is failing on the Debian 9 Python 2 builds on the 2017.7 branch:

- unit.modules.test_state.StateTestCase.test_check_request

[code]

https://jenkinsci.saltstack.com/job/2017.7/job/salt-debian-9-py2/lastCompletedBuild/testReport/

The test is fine in the 2018.3 branch, so something is off in the 2017.7 branch specifically.

@garethgreenaway Can you take a look here when you get

[2018-09-18 13:55] dwoz commented on #1116
Tackled in this PR https://github.com/saltstack/salt/pull/49679

[2018-09-18 19:13] rallytime opened #1121 "[2018.3] 4 related tests failing on 2018.3 Python 3"
There are 3 related tests failing on Python 3 on the 2018.3 branch:

- integration.reactor.test_reactor.ReactorTest.test_ping_reaction
- integration.minion.test_blackout.MinionBlackoutTestCase.test_blackout_nonwhitelist
- integration.minion.test_blackout.MinionBlackoutTestCase.test_blackout
- integration.runners.test_state.StateRunnerTest.test_orchestrate_with_mine

These are failing on several (b

[2018-09-18 20:20] rallytime opened #1122 "[fluorine] pkg shell test is failing"
- integration.shell.test_call.CallTest.test_local_pkg_install

This is failing across a couple of distros:

https://jenkinsci.saltstack.com/job/fluorine/job/salt-debian-9-py2/lastCompletedBuild/testReport/
https://jenkinsci.saltstack.com/job/fluorine/job/salt-fedora-27-py2/lastCompletedBuild/testReport/
https://jenkinsci.saltstack.com/job/fluorine/job/salt-fedora-28-py2/lastCompletedBuild/testRepo

[2018-09-18 20:40] rallytime commented on #1122
Ah, this was caused by https://github.com/saltstack/salt/pull/49552

[2018-09-19 13:03] rallytime commented on #1120
Fixed yay! Thanks @garethgreenaway

[2018-09-19 13:03] #1120 closed

[2018-09-20 14:30] rallytime commented on #1122
This test is failing in a very strange way, due to a deep bug in the test suite. On Fedora, it fails like this:
[code]
And on CentOS it fails like this:
[code]

The salt command itself works, and even previous commands in the test work (as we're calling various salt-call --local pkg.<x>` functions). This test was skipped long ago and this test was recently re-enabled. I think this is why it was sk

[2018-09-20 15:04] rallytime commented on #1122
Resolved for now with https://github.com/saltstack/salt/pull/49725

[2018-09-20 15:50] mcalmer commented on #1118
Return codes greater then 100 are not always errors. It just say "not found" which is ok.
I need to look deeper into it.
There was also https://github.com/saltstack/salt/pull/49722 fixed. It is a fix for python3.
But I think you still test with python2, right?

[2018-09-20 21:49] garethgreenaway commented on #1118
@mcalmer We are testing this on PY2 but the tests in question are failing on Py3 as well.  In the `search` function this particular line seems like it might be the issue.  https://github.com/saltstack/salt/blob/2018.3/salt/modules/zypper.py#L1989

[2018-09-21 13:46] rallytime commented on #1118
I have merged in the fix above, but there are some problems with the tests starting on opensuse, so I we can't confirm the results there until those are running again. We're tracking that work here: https://github.com/saltstack/release-mgmt/issues/432

[2018-09-22 11:44] mcalmer commented on #1118
[code]
The test is working on my workstation. So I cannot find out what's going wrong.
I think I need more info about the test setup. How can I reproduce the error?

[2018-09-24 14:18] rallytime commented on #1121
@gtmanfred Can you look into/fix these failures? I'm not sure what is happening with these offhand.

[2018-09-25 00:30] DmitryKuzmenko commented on #995
I've done a big code review around the stuff is still needed to be modified to work properly under Tornado up to 5.x
Next step is to estimate this list and go forward step-by-step.

Sync/Async issues
==========

- salt
    - auth
        - class Resolver
            - def _send_token_request
                Uses sync wrapper for AsyncReqChannel. This method is used from `token_cli`,

[2018-09-26 12:55] rallytime commented on #1075
This is fixed now.

[2018-09-26 12:55] #1075 closed

[2018-09-26 14:40] rallytime opened #1127 "[fluorine] Arch failing 2 pkg state tests"
The following tests are failing on the `Fluorine` branch on Arch:

-  integration.states.test_pkg.PkgTest.test_pkg_001_installed
-  integration.states.test_pkg.PkgTest.test_pkg_002_installed_with_version

These are failing both on Py2 and Py3.

https://jenkinsci.saltstack.com/job/fluorine/job/salt-arch-py2/lastFailedBuild/
https://jenkinsci.saltstack.com/job/fluorine/view/Python3/job/salt-arch-py3

[2018-09-26 21:33] terminalmage commented on #1127
Fixed in https://github.com/saltstack/salt/pull/49799

[2018-09-28 18:41] #1127 closed

[2018-09-28 18:41] #1122 closed

[2018-09-28 18:42] #1121 closed

[2018-09-28 18:46] rallytime opened #1133 "Find a different way to test duplicate salt-call executions"
The `test_local_pkg_install` was enabled recently in https://github.com/saltstack/salt/pull/49552

Unfortunately, this has caused some strangeness in the test suite and is causing the test suite to hang indefinitely. I have skipped the test in https://github.com/saltstack/salt/pull/49824 and https://github.com/saltstack/salt/pull/49825.

Since that test was enabled to catch a regression with dupli

[2018-10-01 18:53] terminalmage commented on #1133
Should be fixed in https://github.com/saltstack/salt/pull/49854.

[2018-10-01 18:57] Ch3LL opened #1134 "[fluorine] integration.scheduler.test_eval tests failing on mac"
The `integration.scheduler.test_eval` tests are currently failing on mac. I do not currently have a link with each individual test failure since the jenkins re-build, but it can be replicated and I can share a mac VM for anyone to replicate it.

I did dive into the test `test_eval_days` which I found was failing because a previous schedule job was still running. If i added `time.sleep` between eac

[2018-10-01 19:08] rallytime opened #1135 "Proxy test failing"
The upgrade test is failing on the proxy tests here:

https://jenkinsci.saltstack.com/job/develop/job/salt-ubuntu-1604-py2-proxy/1/

I saw this failing on develop, but I am not sure if they're failing elsewhere.

@gtmanfred Can you take a look at this one?

[2018-10-01 19:09] rallytime commented on #1135
The link above was for PY2, but the Py3 tests are also failing:

https://jenkinsci.saltstack.com/job/develop/job/salt-centos-7-py3-proxy/1/

[2018-10-01 19:41] rallytime commented on #1135
Ok, the fluorine tests are back online, and these are failing there too.

[2018-10-03 14:06] rallytime commented on #1135
Fixed.

[2018-10-03 14:06] #1135 closed

[2018-10-03 14:07] rallytime commented on #1133
Fixed.

[2018-10-03 14:07] #1133 closed

[2018-10-03 14:09] rallytime commented on #1116
I just checked the branch and this is no longer failing.

[2018-10-03 14:09] #1116 closed

[2018-10-03 14:17] rallytime opened #1137 "[fluorine] Many ssh tests failing on Debian 8 and 9 for Python 3"
This is happening on both the fluorine and develop branches on Debian 8 and 9, but basically the tests in the following files are failing:

- integration.ssh.test_jinja_filters
- integration.ssh.test_state

https://jenkinsci.saltstack.com/job/fluorine/view/Python3/job/salt-debian-9-py3/lastCompletedBuild/testReport/

https://jenkinsci.saltstack.com/job/fluorine/view/Python3/job/salt-debian-8-py3/l

[2018-10-03 14:22] rallytime opened #1138 "[fluorine] CentOS 6 build hanging in tests"
https://jenkinsci.saltstack.com/job/fluorine/job/salt-centos-6-py2/

All of those tests are hanging and then getting deleted after the timeout is reached. Investigate!

[2018-10-03 15:35] rallytime commented on #1138
This is hanging on the unit tests in `tests/unit/modules/test_ansiblegate.py`

[2018-10-03 15:59] rallytime opened #1139 "[fluorine] Fix test failures on Cent7"
There are 3 tests that are failing on CentOS7 that seem to be trouble-maker tests. I am not sure if they're all flaky or not, but they're all in that realm of tests.

@gtmanfred Can you track these down and fix them for fluorine?

- integration.runners.test_state.StateRunnerTest.test_orchestrate_subset
- integration.logging.test_jid_logging.LoggingJIDsTest.test_jid_in_logs
- integration.shell.test

[2018-10-04 13:45] rallytime commented on #1137
Looks like these same tests are failing on the Py3 Fedora 27 tests too: https://jenkinsci.saltstack.com/job/fluorine/view/Python3/job/salt-fedora-27-py3/lastCompletedBuild/testReport/

[2018-10-04 15:30] rallytime commented on #1138
Skipping this test for now as I don't think this ever worked on CentOS 6: https://github.com/saltstack/salt/pull/49898

[2018-10-04 16:27] rallytime opened #1140 "[2018.3] mac_system integration tests are failing"
The following tests are failing on Mac Sierra on the 2018.3 branch for both the py2 and py3 runs:

- integration.modules.test_mac_system.MacSystemModuleTest.test_get_list_startup_disk
- integration.modules.test_mac_system.MacSystemModuleTest.test_get_set_computer_name
- integration.modules.test_mac_system.MacSystemModuleTest.test_get_set_disable_keyboard_on_lock
- integration.modules.test_mac_syst

[2018-10-04 16:49] rallytime opened #1141 "[2018.3] npm integration test failing on Mac Sierra"
This test is failing on both the py2 and py3 runs:

- integration.states.test_npm.NpmStateTest.test_npm_install_url_referenced_package

This is due to a path issue because of the way the test suite uses `su -l <user>`.

[code]

https://jenkinsci.saltstack.com/job/2018.3/job/salt-mac-sierra-py2/lastFailedBuild/

https://jenkinsci.saltstack.com/job/2018.3/view/Python3/job/salt-mac-sierra-py3/lastFai

[2018-10-09 14:17] rallytime opened #1154 "[fluorine] Several tests in integration.states.test_file failing on CentOS 6"
The following tests are failing in CentOS 6 on the Fluorine branch:

- integration.states.test_file.PatchTest.test_patch_directory
- integration.states.test_file.PatchTest.test_patch_directory_remote_source
- integration.states.test_file.PatchTest.test_patch_directory_remote_source_template
- integration.states.test_file.PatchTest.test_patch_directory_template
- integration.states.test_file.PatchT

[2018-10-09 14:20] rallytime commented on #1134
This looks fixed to me:

https://jenkinsci.saltstack.com/job/fluorine/job/salt-mac-sierra-py2/lastCompletedBuild/testReport/
https://jenkinsci.saltstack.com/job/fluorine/view/Python3/job/salt-mac-sierra-py3/lastCompletedBuild/testReport/

[2018-10-09 14:20] #1134 closed

[2018-10-09 15:58] rallytime commented on #1154
Fixed by https://github.com/saltstack/salt/pull/49950

[2018-10-09 18:04] rallytime opened #1155 "[fluorine] Fix arch failures"
There are many tests failing in the fluorine branch on the py2 arch test job. This ticket is to track the work done for fixing those up.

There are 187 tests failing for py2:
- https://jenkinsci.saltstack.com/job/fluorine/job/salt-arch-py2/lastCompletedBuild/testReport/

The Py3 job has only one test failing:
- https://jenkinsci.saltstack.com/job/fluorine/view/Python3/job/salt-arch-py3/lastComplet

[2018-10-10 12:27] terminalmage commented on #1137
I wasn't able to reproduce this yesterday in testkitchen using the docker provisioner. Working on getting AWS creds and the ec2 provisioner set up in tk so that I can test using the images Jenkins is using.

One thing to note is that only salt-ssh tests are failing, and salt-ssh is timing out:

[code]

It's possible that a recent openssh change is causing some weirdness here.

[2018-10-12 04:42] terminalmage commented on #1137
After some troubleshooting, It appears that the thin tarball is being removed before it can be deployed, so it never gets deployed. I'm still digging on this and will resume doing so on Friday.

[2018-10-12 13:44] terminalmage commented on #1137
Actually, it seems like salt-ssh is looking in the wrong directory for the thin tarball, it looks like the cachedir is being changed at some point.

[2018-10-15 18:52] rallytime opened #1170 "[fluorine] lxd state integration test failing on Ubuntu 16 PY3 tests"
https://jenkinsci.saltstack.com/job/fluorine/view/Python3/job/salt-ubuntu-1604-py3/lastCompletedBuild/testReport/

- integration.states.test_lxd_container.LxdContainerTestCase.test_10__delete_container

[code]

[2018-10-15 23:18] garethgreenaway commented on #1140
@rallytime There was a second line that needed to be updated.  That last PR takes care of it.

[2018-10-16 15:33] rallytime commented on #1170
This is a flaky test that might need to just be skipped. I reproduced this only once out of many many tries, and it already has the flaky decorator on it. We might just need to skip it in the end. I'm going to let this one sit for a bit and see if it comes up again.

[2018-10-18 14:31] terminalmage commented on #1137
OK, I've noticed that the following is happening:

[code]

This triggers a redeployment of the thin tarball because we reach [this block](https://github.com/saltstack/salt/blob/862c44c/salt/client/ssh/__init__.py#L1182-L1185):

[code]

The opts do not contain a `_caller_cachedir` key, so the cachedir is incorrectly set for the shimmed command, and therefore when salt-ssh goes to deploy the thin ta

[2018-10-18 15:19] thatch45 commented on #1137
I think that the caller_cachedir is intended to allow the wrapper interface to have a reference to the cachedir on the machine calling salt-ssh so that the opts_pkg which has opts from the minions can have its own cachedir reference. so the cachedir should be used on the target system while the caller cachedir should be used on the calling system

[2018-10-18 19:33] terminalmage commented on #1137
After speaking some more with @thatch45 he noticed that it seemed like the `known_hosts_file` check in [https://github.com/saltstack/salt/blob/862c44c/salt/client/ssh/__init__.py#L1058-L1063](this block) referenced above was incorrectly located in the middle of the surrounding `if` and `else` blocks. Upon reading further I noticed that the `known_hosts_file` check was added in an earlier branch an

[2018-10-18 19:35] terminalmage commented on #1137
With the fix noted in the PR referenced in the comment above, the tests are green (tests run in a PY3 Debian 9 instance on AWS).

[code]

[2018-10-18 19:56] gtmanfred commented on #1139
opened saltstack/salt#50121 for this, marked the logging test as flaky, the other two are already marked as flaky.  Looking into them futher to see if i can make them better.

[2018-10-23 11:20] gtmanfred commented on #1139
I think this is working

[2018-10-23 11:20] gtmanfred commented on #1139
Verifying with https://jenkinsci.saltstack.com/job/fluorine/job/salt-centos-7-py2/24/

[2018-10-23 11:21] gtmanfred commented on #1155
arch is flaky

[2018-10-23 16:16] rallytime commented on #1137
Fix confirmed.

[2018-10-23 16:16] #1137 closed

[2018-10-23 16:18] rallytime commented on #1140
@garethgreenaway This still isn't quite right. There are quite a few scheduler tests failing on the 2018.3 branch:

https://jenkinsci.saltstack.com/job/2018.3/job/salt-mac-sierra-py2/lastCompletedBuild/testReport/

[2018-10-26 12:56] gtmanfred commented on #1139
The `integration.shell.test_matcher.MatchTest.test_salt_documentation_arguments_not_assumed` is still failing sometimes.

[2018-10-26 13:35] rallytime commented on #1139
That is a flaky test. I _think_ it should be resolved in the latest merge-forward (which just went in to fluorine about 2 minutes ago) because it contains this nice fix from @dwoz: https://github.com/saltstack/salt/pull/50212

[2018-10-26 13:38] rallytime commented on #1140
This looks good now. Thanks @garethgreenaway!

[2018-10-26 13:38] #1140 closed

[2018-10-26 13:40] rallytime commented on #1139
I'm going to call this one good for now. I can open a new issue if I see anything new pop up in the future.

[2018-10-26 13:40] #1139 closed

[2018-10-26 13:42] rallytime commented on #1155
So I think what we should do here for now, is to just fix that single py3 test that is failing consistently and then we will have to look at another approach another time for teh flaky builds when we have more time.

The single test failure is this one:

https://jenkinsci.saltstack.com/job/fluorine/view/Python3/job/salt-arch-py3/25/

`integration.states.test_ansiblegate.AnsiblePlaybooksTestCase.te

[2018-10-26 13:52] rallytime commented on #1047
We have done some work recently in this area. I haven't seen these fail recently except when other ssh tests are failing. I think we might be good to close this one. I'll keep my eye out for a bit before closing.

[2018-10-26 13:59] gtmanfred commented on #1155
perfect, can do

[2018-10-29 19:04] dwoz commented on #1032
This should be fixed by my changes in the upstream winrm-fs repository (v1.3.1).

[2018-11-01 18:34] rallytime commented on #903
This should be complete now.

[2018-11-01 18:34] #903 closed

[2018-11-14 22:30] rallytime opened #1209 "Fixup proxy test failures on develop branch"
These popped up on https://github.com/saltstack/salt/pull/50504, but @terminalmage was able to reproduce them on the head of the branch.

[code]

Let's get them fixed wooooooo!

[2018-11-15 22:36] terminalmage commented on #1209
Fixed by https://github.com/saltstack/salt/pull/50530

[2018-11-16 14:54] #1209 closed

[2018-11-28 20:38] Ch3LL opened #1217 "[fluorine] fedora 28 test_shadow tests failing"
The following tests on fluorine are failing on fedora 28:

[code]

https://jenkinsci.saltstack.com/job/fluorine/job/salt-fedora-28-py2/44/

[2018-11-28 20:39] Ch3LL opened #1218 "[fluorine] mac highsierra unit.grains.test_core.CoreGrainsTestCase.test_xen_virtual"
the test `unit.grains.test_core.CoreGrainsTestCase.test_xen_virtual` is failing on mac high sierra and mac sierra.

https://jenkinsci.saltstack.com/job/fluorine/job/salt-mac-sierra-py2/61/
https://jenkinsci.saltstack.com/job/fluorine/job/salt-mac-highsierra-py2/67/

[2018-11-28 20:40] Ch3LL opened #1219 "[fluorine] mac test_salt_contains_function test failing"
the test `integration.states.test_renderers.TestJinjaRenderer.test_salt_contains_function` is failing on mac sierra and highsierra.

https://jenkinsci.saltstack.com/job/fluorine/job/salt-mac-sierra-py2/61/
https://jenkinsci.saltstack.com/job/fluorine/job/salt-mac-sierra-py2/61/

[2018-11-28 20:41] Ch3LL opened #1220 "[fluorine] mac test_http_query test failing"
the test `integration.ssh.test_jinja_filters.SSHJinjaFiltersTest.test_http_query` is failing on mac sierra.

https://jenkinsci.saltstack.com/job/fluorine/job/salt-mac-sierra-py2/61/

this could possibly be flaky behavior.

[2018-11-28 20:41] Ch3LL opened #1221 "[fluorine] mac kubernetes tests failing"
the test `unit.modules.test_kubernetes.KubernetesTestCase.test_setup_kubeconfig_data_overwrite
` is failing on mac:

https://jenkinsci.saltstack.com/job/fluorine/job/salt-mac-sierra-py2/61/

[2018-11-28 20:43] Ch3LL opened #1222 "[fluorine] opensuse pkg tests failing"
The following pkg tests are failing on opensuse:

[code]

https://jenkinsci.saltstack.com/job/fluorine/job/salt-opensuse-py2/47/

[2018-11-28 20:48] Ch3LL opened #1223 "[fluorine] python3 test_serializers failures"
the following tests are failing on python3 tests:

unit.serializers.test_serializers.TestSerializers.test_sls_aggregate
unit.serializers.test_serializers.TestSerializers.test_sls_repr

https://jenkinsci.saltstack.com/job/fluorine/view/Python3/job/salt-arch-py3/48/

[2018-11-28 20:49] Ch3LL opened #1224 "[fluorine] arch beacon failures"
integration.states.test_beacon.BeaconStateTestCase.test_present_absent

https://jenkinsci.saltstack.com/job/fluorine/view/Python3/job/salt-arch-py3/48/

[2018-11-28 20:49] Ch3LL opened #1225 "[fluorine] arch test_cp failure"
integration.modules.test_cp.CPModuleTest.test_get_file_str_https

https://jenkinsci.saltstack.com/job/fluorine/view/Python3/job/salt-arch-py3/48/

[2018-11-28 20:51] Ch3LL opened #1226 "[fluorine] mac python3 npm test failures"
integration.states.test_npm.NpmStateTest.test_npm_cache_clean
integration.states.test_npm.NpmStateTest.test_npm_install_url_referenced_package
integration.states.test_npm.NpmStateTest.test_npm_installed_pkgs
integration.states.test_npm.NpmStateTest.test_npm_installed_removed

https://jenkinsci.saltstack.com/job/fluorine/view/Python3/job/salt-mac-highsierra-py3/60/

[2018-11-28 20:52] Ch3LL opened #1227 "[fluorine] mac python3 pkg test failures"
integration.states.test_pkg.PkgTest.test_pkg_001_installed
integration.states.test_pkg.PkgTest.test_pkg_009_latest_with_epoch
integration.states.test_pkg.PkgTest.test_group_installed_handle_missing_package_group
integration.states.test_pkg.PkgTest.test_pkg_002_installed_with_version
integration.states.test_pkg.PkgTest.test_pkg_003_installed_multipkg
integration.states.test_pkg.PkgTest.test_pkg_004

[2018-11-28 20:53] Ch3LL opened #1228 "[fluorine] mac virt tests"
integration.modules.test_virt.VirtTest.test_default_esxi_profile
integration.modules.test_virt.VirtTest.test_default_kvm_profile

https://jenkinsci.saltstack.com/job/fluorine/view/Python3/job/salt-mac-sierra-py3/60/#showFailuresLink

[2018-11-28 20:57] Ch3LL opened #1229 "[fluorine] tornado orchestration test failures"
the test `integration.runners.test_state.StateRunnerTest.test_orchestrate_subset` is failing on tornado py2 tests
https://jenkinsci.saltstack.com/job/fluorine/view/Tornado/job/salt-centos-7-py2-tornado/35/

[2018-11-28 20:58] Ch3LL opened #1230 "[fluorine] ec2 test cloud failures"
integration.cloud.clouds.test_ec2.EC2Test.test_win2012r2_psexec
integration.cloud.clouds.test_ec2.EC2Test.test_win2016_psexec

https://jenkinsci.saltstack.com/job/fluorine/view/Cloud/job/salt-centos-7-py2-cloud/39/

[2018-11-28 20:59] Ch3LL opened #1231 "[fluorine] digitalocean cloud test failure"
integration.cloud.clouds.test_digitalocean.DigitalOceanTest.test_key_management

https://jenkinsci.saltstack.com/job/fluorine/view/Cloud/job/salt-centos-7-py2-cloud/39/

[2018-11-28 21:00] Ch3LL opened #1232 "[fluorine] ec2 cloud python3 test failure"
integration.cloud.clouds.test_ec2.EC2Test.test_instance

https://jenkinsci.saltstack.com/job/fluorine/view/Cloud/job/salt-centos-7-py3-cloud/39/

[2018-11-28 21:00] Ch3LL opened #1233 "[fluorine] vultr cloud python3 test failure"
integration.cloud.clouds.test_vultrpy.VultrTest.test_instance
https://jenkinsci.saltstack.com/job/fluorine/view/Cloud/job/salt-centos-7-py3-cloud/39/

[2018-11-28 21:01] Ch3LL opened #1234 "[fluorine] crypto python3 x509 test failures"
unit.modules.test_x509.X509TestCase.test_create_crl
unit.modules.test_x509.X509TestCase.test_create_key
unit.modules.test_x509.X509TestCase.test_revoke_certificate_with_crl

https://jenkinsci.saltstack.com/job/fluorine/view/Crypto/job/salt-centos-7-py3-m2crypto/7/

[2018-11-28 21:01] Ch3LL commented on #1234
also failing here: https://jenkinsci.saltstack.com/job/fluorine/view/Crypto/job/salt-ubuntu-1604-py3-m2crypto/8/

[2018-11-28 21:02] Ch3LL opened #1235 "[fluorine] proxy test failures"
integration.proxy.test_shell.ProxyCallerSimpleTestCase.test_list_pkgs
integration.proxy.test_shell.ProxyCallerSimpleTestCase.test_service_list

https://jenkinsci.saltstack.com/job/fluorine/view/Proxy/job/salt-centos-7-py2-proxy/39/

[2018-11-30 19:48] garethgreenaway commented on #1217
https://bugzilla.redhat.com/show_bug.cgi?id=1653260

[2018-12-01 06:11] dwoz commented on #1227
Looks like these are fixed on the latest sierra builds

https://jenkinsci.saltstack.com/job/fluorine/job/salt-mac-highsierra-py2/69/
and
https://jenkinsci.saltstack.com/job/fluorine/view/Python3/job/salt-mac-highsierra-py3/62/

[2018-12-01 23:11] dwoz commented on #1221
Fixed in this PR
https://github.com/saltstack/salt/pull/50717

[2018-12-01 23:13] dwoz commented on #1218
Fixed in this PR https://github.com/saltstack/salt/pull/50716

[2018-12-02 22:40] dwoz commented on #1229
Fixed in https://github.com/saltstack/salt/pull/50719

[2018-12-04 13:19] terminalmage commented on #1223
Can't reproduce locally, neither on the revision shown in the test results nor the head of fluorine. I'm presently spinning up a box in AWS to try to reproduce.

[2018-12-04 15:40] terminalmage commented on #1223
Fixed via https://github.com/saltstack/salt/pull/50741.

[2018-12-04 19:58] terminalmage commented on #1224
Haven't been able to reproduce this in Docker or in AWS (via testkitchen) when running a single test module at a time. I'm presently running the entire suite in TK.

[2018-12-06 02:38] terminalmage commented on #1222
Can reproduce this by running `integration.states.test_pkg` as a whole. It looks like one or more of the tests don't clean up the package properly, and this causes a cascade of other failures as they are designed to run with the targeted package not present. I've set up try/finally blocks in each of the pkg_cap tests to ensure that the package is cleaned up, and I'm spawning a new box to run the t

[2018-12-06 04:50] terminalmage commented on #1222
Fixed via #50771.

[2018-12-06 20:52] terminalmage commented on #1224
So, the test is failing because inside the `beacons` execution module the function `list_available` is run, which tries to list the available beacons, and the list is empty.

The reason it is empty is because the way that it gets the list of available beacons is by firing an event on the minion bus (using `event.fire`) and reading the response event. However, the act of firing the event itself fai

[2018-12-07 15:30] terminalmage commented on #1225
I've opened https://github.com/saltstack/salt/pull/50788 to fix this. I was able to reproduce, but only the first time I ran the test. Subsequent runs worked. This appears to be some problem with DNS resolution, because I spawned another AWS box and the lookup for repo.saltstack.com failed using cURL initially, but then worked after that.

[2018-12-07 21:21] terminalmage commented on #1225
The latest branch build shows this test passed. Closing.

[2018-12-07 21:21] #1225 closed

[2018-12-10 15:57] thatch45 commented on #1224
This does sound indicative of a larger problem, do we know if the socket is still open? Could something else in the test be closing the socket? Could we track when the socket might be getting closed?

[2018-12-10 18:21] terminalmage commented on #1224
I have re-enabled minion logging on the AWS box where I have been testing, and added some logging so we can detect when we first fail to connect to the pull socket

[2018-12-10 22:04] Ch3LL commented on #1220
this is no longer failing in the last 6 test runs. @dwoz you okay to close this.

[2018-12-10 22:07] Ch3LL commented on #1217
@garethgreenaway is there anything we can do to workaround this in the meantime? Or just wait until its fixed?

[2018-12-11 00:17] garethgreenaway commented on #1217
@Ch3LL No workarounds from what I can tell, there is an updated package with the fix that has been submitted not accepted into the repository yet.  But looks like it might be close: https://bodhi.fedoraproject.org/updates/FEDORA-2018-be8834ced4

[2018-12-11 14:24] Ch3LL commented on #1233
per @thatch45 's approval we are going to skip these tests going forward, for whoever is assigned this task.

[2018-12-11 14:36] #1227 closed

[2018-12-11 14:56] Ch3LL opened #1238 "[fluorine] fedora 28 auth test failures"
the tests:

[code]

are failing on fedora 28 python2 tests

https://jenkinsci.saltstack.com/job/fluorine/job/salt-fedora-28-py2/56/

[2018-12-11 14:57] Ch3LL commented on #1238
also this test as well: integration.shell.test_key.KeyTest.test_list_acc_eauth

[2018-12-11 15:15] Ch3LL opened #1239 "[fluorine] beacon failures ubuntu 18 python3"
The test `integration.states.test_beacon.BeaconStateTestCase.test_present_absent` is failing on ubuntu 18 python3

https://jenkinsci.saltstack.com/job/fluorine/view/Python3/job/salt-ubuntu-1804-py3/53/

[2018-12-11 15:17] Ch3LL opened #1240 "[fluorine] docker test failures in transport tests"
integration.states.test_docker_container.DockerContainerTestCase.test_running_updated_image_id
integration.modules.test_dockermod.DockerCallTestCase.test_docker_call
integration.modules.test_dockermod.DockerCallTestCase.test_docker_highstate
integration.modules.test_dockermod.DockerCallTestCase.test_docker_sls

failing here: https://jenkinsci.saltstack.com/job/fluorine/view/Transport/job/salt-cent

[2018-12-11 17:02] Ch3LL opened #1241 "[fluorine] vmware cloud tests failing py2 and py3"
The VMWare cloud tests are failing on both python2 and python3

integration.cloud.clouds.test_vmware.VMWareTest.test_instance
integration.cloud.clouds.test_vmware.VMWareTest.test_snapshot
https://jenkinsci.saltstack.com/job/fluorine/view/Cloud/job/salt-centos-7-py3-cloud/49/

[2018-12-11 17:05] Ch3LL commented on #1234
I verified this is passing now :)

[2018-12-11 17:05] #1234 closed

[2018-12-11 20:03] sagetherage commented on #1155
@Ch3LL this looks like it has a merged PR so can it be reviewed and closed or what is next?

[2018-12-11 20:07] terminalmage commented on #1224
Note: these failures are also showing up in Ubuntu 18 now.

[code]

[2018-12-11 20:07] terminalmage commented on #1239
Closing as a duplicate of https://github.com/saltstack/salt-jenkins/issues/1224 which is already assigned to me.

[2018-12-11 20:07] #1239 closed

[2018-12-11 20:08] terminalmage commented on #1233
So do you just want me to skip this, or actually troubleshoot it?

[2018-12-11 20:20] Ch3LL opened #1242 "[fluorine] windows group and user test failures"
the following tests are failing on windows tests in fluorine:

integration.modules.test_useradd.UseraddModuleTestWindows.test_add_user_to_group
integration.modules.test_groupadd.GroupModuleTest.test_add
integration.modules.test_groupadd.GroupModuleTest.test_adduser
integration.modules.test_groupadd.GroupModuleTest.test_delete
integration.modules.test_groupadd.GroupModuleTest.test_members

https://

[2018-12-12 01:33] garethgreenaway commented on #1228
@Ch3LL Are there being actively skipped already?  Looking at the last test run, they're not in the failure list and in the console output they appear to have been skipped.

[2018-12-12 14:45] Ch3LL commented on #1233
just add the skipif(True) decorator

[2018-12-12 14:46] terminalmage commented on #1233
:+1: Thanks!

[2018-12-12 14:49] Ch3LL commented on #1228
Not that i'm aware of. They would need to have the skip added for mac. These tests are flaky and there is not a lot of value to run the test_virt tests on mac. this is approved via @thatch45

[2018-12-12 14:51] Ch3LL commented on #1239
thanks for catching that :)

[2018-12-12 14:53] terminalmage commented on #1233
Done in https://github.com/saltstack/salt/pull/50836

[2018-12-12 14:53] #1233 closed

[2018-12-12 15:00] Ch3LL opened #1243 "[fluorine] unit.utils.test_vmware tests failing on fedora py3"
a ton of test_vmware unit tests are failing on both fedora 28 and 29 py3

unit.utils.test_vmware.CreateDatacenterTestCase.test_create_datacenter_raise_no_permission
unit.utils.test_vmware.CreateDatacenterTestCase.test_create_datacenter_raise_vim_fault
unit.utils.test_vmware.CreateDatacenterTestCase.test_create_datacenter_runtime_fault
unit.modules.test_mandrill.MandrillModuleTest.test_send
unit.ut

[2018-12-12 16:41] thatch45 commented on #1228
Yes, in the future we will likely completely remove these and similar tests from Mac

[2018-12-12 17:31] garethgreenaway commented on #1228
Based on the last run it appears this are being skipped because dependancies aren't met:
[code]

[code]

[2018-12-12 17:49] Ch3LL commented on #786
closing this as it is not failing anymore on 2018.3. in fact all tests on cent6 are passing

[2018-12-12 17:49] #786 closed

[2018-12-12 19:36] Ch3LL commented on #1243
we are going to skip these tests for fluorine and come back to them after the release. Whoever is assinged her please just add a skip for these failing tests on fedora and keep this issue open and we will come back to it when the release is done.

[2018-12-12 19:38] Ch3LL commented on #1228
hmm odd and of course i can't check the URL that I initially saw the tests fail. Lets go ahead and close and if we see them again we can explicitly skip them on mac.

[2018-12-12 19:38] #1228 closed

[2018-12-12 20:24] terminalmage commented on #1224
OK, I was able to reproduce the same error message on a 2nd run. However, this appears to be a red herring. What seems to be happening here is that our functions to fire events first instantiate an IPC client instance, and then use that instance to fire the event. The IPC client will try until the timeout has been reached before it raises an exception (which some logging I added will catch and rep

[2018-12-12 20:50] #1220 closed

[2018-12-12 20:51] dwoz commented on #1226
Fixed by #1237

[2018-12-14 18:52] terminalmage commented on #1240
Can't reproduce these failures, and these have been passing for 3 consecutive days (with the test from today still pending as a 4th).

Whatever this was, seems to have been transitory. Closing this.

[2018-12-14 18:52] #1240 closed

[2018-12-17 17:30] Ch3LL commented on #1218
tests are passing

[2018-12-17 17:30] #1218 closed

[2018-12-17 17:31] Ch3LL commented on #1222
tests are passing

[2018-12-17 17:31] #1222 closed

[2018-12-18 19:41] Ch3LL commented on #1231
this is fixed. there was an issue with the configured key in digital ocean.

[2018-12-18 19:41] #1231 closed

[2018-12-18 21:50] twangboy commented on #1235
Probably fixed by https://github.com/saltstack/salt/pull/50902

I can replicate this issue by setting the timeout to the run_call command to something really small... That generated the same error I'm seeing on jenkins. The above PR increases the timeout across the board for all commands used in the test suite. This will hopefully eliminate timeout issues for all tests.

This may be caused by the

[2018-12-19 15:49] Ch3LL opened #1244 "[fluorine] windows 2016 unit git tests failing"
unit.fileserver.test_gitfs.GitPythonTest.test_disable_saltenv_mapping_global_with_mapping_defined_globally
unit.fileserver.test_gitfs.GitPythonTest.test_disable_saltenv_mapping_global_with_mapping_defined_per_remote
unit.fileserver.test_gitfs.GitPythonTest.test_disable_saltenv_mapping_per_remote_with_mapping_defined_globally
unit.fileserver.test_gitfs.GitPythonTest.test_disable_saltenv_mapping_per

[2018-12-19 15:50] Ch3LL opened #1245 "[fluorine] debian unit test failing on windows 2016"
unit.modules.test_debian_ip.DebianIpTestCase.test_build_interface

https://jenkinsci.saltstack.com/job/fluorine/job/salt-windows-2016-py2/56/

[2018-12-19 15:52] Ch3LL opened #1246 "[fluorine] windows lgpo unit tests failing py3"
unit.utils.test_win_lgpo_netsh.WinLgpoNetshTestCase.test_set_firewall_settings_consecrules_local_enable
unit.utils.test_win_lgpo_netsh.WinLgpoNetshTestCase.test_set_firewall_settings_fwrules_local_enable

https://jenkinsci.saltstack.com/job/fluorine/view/Python3/job/salt-windows-2016-py3/55/

[2018-12-19 17:13] dwoz commented on #1244
Fixed by https://github.com/saltstack/salt/pull/50916

[2018-12-19 17:14] dwoz commented on #1219
I have not seen this fail in a while. I think it has been fixed.

[2018-12-19 17:45] dwoz commented on #1245
https://github.com/saltstack/salt/pull/50918

[2018-12-20 02:53] terminalmage commented on #1224
Increasing the timeout did not work. Instead, I narrowed it down to the fact that this problem pops up before the unit tests even run, so I began running the state tests along with other single groups of integration tests. No combination of one group of integration tests followed by the state integration tests causes the beacon state integration tests to fail. So, whatever is causing this, it is n

[2018-12-20 19:11] Ch3LL commented on #1241
credentials needed to be updated. this is passing now

[2018-12-21 17:38] terminalmage commented on #1238
Can't reproduce in docker, spinning up an AWS box now.

[2018-12-21 21:16] Ch3LL commented on #1232
I have been able to limit this down to authentication issues with just python3:

[code]

But when using the same configurations with python2 it authenticates and installs salt.

[2019-01-03 15:12] terminalmage commented on #1238
Was not able to reproduce in AWS either. Destroying box and recreating, will try again.

[2019-01-03 23:22] garethgreenaway commented on #1217
There was an updated package that was supposed to fix the issue but I'm still seeing it.  Reported into the Red Hat bugzilla system.

[2019-01-07 01:38] garethgreenaway commented on #1224
This appears to have started passing on the Arch side.  Still failing on Ubuntu 18.04.

[2019-01-07 15:54] #1244 closed

[2019-01-07 15:54] #1245 closed

[2019-01-07 15:58] Ch3LL commented on #1217
and are you certain we are installing that package on our test run?

[2019-01-07 16:05] garethgreenaway commented on #1217
The package is installed. It's not the latest version but manually installing it on kitchen salt created instance doesn't fix anything. It seems like perhaps it was fixed for a specific use case and didn't account for issues using chage.

[2019-01-07 16:08] #1232 closed

[2019-01-07 16:08] Ch3LL commented on #1241
This is failing again. re-opening

[2019-01-07 16:17] Ch3LL commented on #1242
not seeing this fail anymore :)

[2019-01-07 16:17] #1242 closed

[2019-01-07 16:18] Ch3LL commented on #1235
closing as these tests are passing now :)

[2019-01-07 16:18] #1235 closed

[2019-01-07 17:03] terminalmage commented on #1238
At least some of this appears to have been caused by SSSD issues on Fedora 28, which are non-fatal but nonetheless make the set_date/set_expire functions fail. https://github.com/saltstack/salt/pull/51079 fixes those issues in the shadow module. I made that fix in 2018.3 however, so it'll need to be merged forward into fluorine and then the tests will need to run after that merge, before we know h

[2019-01-07 17:10] garethgreenaway commented on #1217
It seems like https://github.com/saltstack/salt/pull/51079 allows these tests to pass.

[2019-01-07 17:32] Ch3LL commented on #1238
also fixes this possibly: https://github.com/saltstack/salt-jenkins/issues/1217

[2019-01-07 21:35] dwoz commented on #1032
We have not seen this one since the latest winrm-fs release. Closing the issue.

[2019-01-07 21:35] #1032 closed

[2019-01-07 21:36] dwoz commented on #1243
I think these were failing due to some work @dubb-b was doing on jenkins.

[2019-01-07 21:59] terminalmage commented on #1238
Apologies for the confusion, I meant to make the above comment on #1217. I actually still cannot reproduce these failures, even using an AWS box created using TestKitchen. The PAM eauth plugin is failing despite being configured correctly, and despite the `shadow.set_password` function returning `True` (suggesting that the password was properly set).

Here's some logging from the jenkins run. Note

[2019-01-08 15:41] sagetherage commented on #563
@Ch3LL is this still an issue and we should re-label?

[2019-01-08 18:07] dwoz commented on #1219
Looks like this is still failing:

https://jenkinsci.saltstack.com/job/2019.2/job/salt-mac-highsierra-py2/lastCompletedBuild/testReport/integration.states.test_renderers/TestJinjaRenderer/test_salt_contains_function/

[2019-01-08 22:59] dwoz commented on #1230
These are passing finally.

[2019-01-15 14:35] Ch3LL opened #1251 "[2019.2.0rc1 and probably more branches] integration.reactor.test_reactor.ReactorTest.test_ping_reaction failing"
This test `integration.reactor.test_reactor.ReactorTest.test_ping_reaction` keeps failing periodically on both python2 and python3 tests. I think it just needs to be re-analyzed and see if we can't make it more stable or look into adding the flaky decorator if its not already there.

[2019-01-15 14:36] Ch3LL opened #1252 "[2019.2.0rc1] windows tests timing out"
The tests on windows python3 are hanging and not completing the test run:

https://jenkinsci.saltstack.com/job/2019.2.0.rc1/view/Python3/job/salt-windows-2016-py3/8/console

ping @dwoz or @twangboy do you guys have any ideas here?

[2019-01-15 14:37] Ch3LL commented on #1243
these tests are still failing. they do not access our vmware cluster.

[2019-01-15 14:37] #1241 closed

[2019-01-15 14:38] Ch3LL commented on #1238
did you try running the entire test suite?

[2019-01-15 14:38] #1230 closed

[2019-01-15 14:39] Ch3LL commented on #1219
https://github.com/saltstack/salt/pull/51145

[2019-01-15 14:41] Ch3LL commented on #1219
i believe its still failing even with the PR above https://jenkinsci.saltstack.com/job/2019.2.0.rc1/job/salt-mac-sierra-py2/9/

[2019-01-15 14:42] #1217 closed

[2019-01-15 18:32] Ch3LL commented on #1238
also just as a note these are failing on 2018.3 as well.

[2019-01-15 18:35] Ch3LL commented on #1238
also this test is failing and seems to be related: integration.shell.test_key.KeyTest.test_list_acc_eauth

[2019-01-15 18:40] Ch3LL opened #1253 "[2018.3] windows test_build_interface test failure"
test `unit.modules.test_debian_ip.DebianIpTestCase.test_build_interface` is failing on windows py2

https://jenkinsci.saltstack.com/job/2018.3/job/salt-windows-2016-py2/102/

[2019-01-15 18:41] Ch3LL opened #1254 "[2018.3] integration.doc.test_man.ManTest.test_man failing"
the test `integration.doc.test_man.ManTest.test_man` is failing on python3 tests. here is an eample:

https://jenkinsci.saltstack.com/job/2018.3/view/Python3/job/salt-debian-8-py3/93/

[2019-01-15 18:45] Ch3LL opened #1255 "[2018.3] states.test_pkg opensuse tests failing"
The following tests are failing on suse python3:

integration.states.test_pkg.PkgTest.test_pkg_cap_001_installed
integration.states.test_pkg.PkgTest.test_pkg_cap_002_already_installed
integration.states.test_pkg.PkgTest.test_pkg_cap_004_latest
integration.states.test_pkg.PkgTest.test_pkg_cap_005_downloaded
integration.states.test_pkg.PkgTest.test_pkg_cap_006_uptodate
integration.states.test_pkg.Pk

[2019-01-15 18:49] Ch3LL opened #1256 "[2018.3] cloud tests do not return test results"
The test results are not returning on both py3 adn py2 cloud tests on 2018.3

one thing that popped out to me was this:

[code]

ping @dubb-b any ideas here by chance?

[2019-01-15 18:55] Ch3LL opened #1257 "[2018.3] m2crypto py3 test_x509 failures"
The following tests are failing on m2crypto python3 tests:

unit.modules.test_x509.X509TestCase.test_create_crl
unit.modules.test_x509.X509TestCase.test_create_key
unit.modules.test_x509.X509TestCase.test_revoke_certificate_with_crl

https://jenkinsci.saltstack.com/job/2018.3/view/Crypto/job/salt-centos-7-py3-m2crypto/38/

[2019-01-15 20:19] dubb-b commented on #1256
Its here: https://github.com/saltstack/release-mgmt/blob/dev/states/services/jenkins-node/kitchen-install.sls#L509

Do we want to remove trying to grab these?

[2019-01-15 21:44] sagetherage commented on #1238
Tom approved to remove this from 2019.2 - keeping it assigned to @terminalmage

[2019-01-16 14:03] Ch3LL commented on #1252
thanks so are you looking into it @twangboy

[2019-01-16 14:05] Ch3LL commented on #1256
shouldn't the logs be there?

[2019-01-16 14:16] Ch3LL commented on #1256
it looks like this is occuring on 2019.2.0rc1 py3 cloud tests as well

[2019-01-16 14:24] Ch3LL opened #1258 "[2018.3] mac unit.grains.test_core.CoreGrainsTestCase.test_xen_virtual"
unit.grains.test_core.CoreGrainsTestCase.test_xen_virtual is failing on mac

https://jenkinsci.saltstack.com/job/2018.3/job/salt-mac-sierra-py2/108/

[2019-01-16 14:36] Ch3LL opened #1259 "[2019.2.0rc1] unit.transport.test_zeromq.PubServerChannel.test_issue_36469_udp failing on mac"
the test `unit.transport.test_zeromq.PubServerChannel.test_issue_36469_udp` is failing on mac

https://jenkinsci.saltstack.com/job/2019.2.0.rc1/view/Python3/job/salt-mac-highsierra-py3/10/

[2019-01-16 15:48] dubb-b commented on #846
@Ch3LL this can be closed right?

[2019-01-16 15:54] dubb-b commented on #1256
I will have to run a one and validate that the logs are not there.

[2019-01-16 20:02] dubb-b commented on #1256
@Ch3LL these are now fixed.

[2019-01-16 22:05] Ch3LL commented on #563
i havne't seen it for a while so i'll close and we can re-open if needed

[2019-01-16 22:05] #563 closed

[2019-01-16 23:37] #1256 closed

[2019-01-16 23:39] #846 closed

[2019-01-17 03:16] garethgreenaway commented on #1254
https://github.com/saltstack/salt/pull/51209

[2019-01-18 19:13] Ch3LL opened #1260 "pylint failing but showing success"
Currently pylint on the following branches:
- 2017.7
- develop
- 2019.2
- 2019.2.0rc1
is failing but jenkins returns SUCCESS.

ping @dubb-b is this something on your end or do i need a developer to dive in?

[2019-01-18 19:14] Ch3LL commented on #1260
heres an example: https://jenkinsci.saltstack.com/job/develop/view/Lint/job/salt-develop-lint/86/console

[2019-01-18 20:13] Ch3LL commented on #1259
this is also failing on 2018.3

[2019-01-22 18:21] Ch3LL opened #1261 "[fluorine] pyt3 opensuse tests wont run"
the open suse tests are not running currently do to this error:

[code]

This was passing January 17th on commit 1dc57094c21b01e82f330470677d3dac7b6847b1

[2019-01-22 18:21] Ch3LL commented on #1261
https://jenkinsci.saltstack.com/job/2019.2.0.rc1/view/Python3/job/salt-opensuse-py3/11/

[2019-01-22 20:16] dubb-b commented on #1260
@Ch3LL these should all be correct now. I kicked each one off. They are returning correctly now it seems.

[2019-01-22 20:36] dubb-b commented on #976
@Ch3LL this issue should be fixed.

[2019-01-22 21:09] #1260 closed

[2019-01-22 22:31] dubb-b commented on #1261
@Ch3LL @thatch45 If i pin pyzmq to 17.1.1 it all seems to work. Do we want to do that for OpenSuse 42.3 only?

[2019-01-22 22:49] Ch3LL commented on #1252
the tests pass when runtests is run outside of kitchen. We are going to skip these tests for fluorine so we can get test results and @twangboy will continue investigating.

[2019-01-22 22:49] twangboy commented on #1252
Until we can figure out what's going on ^^^

[2019-01-22 23:01] thatch45 commented on #1261
Because frankly this looks like an upstream issue

[2019-01-22 23:15] dubb-b commented on #1261
[code]

[2019-01-23 18:02] waynew commented on #1219
I dug into this a little bit and I'm *pretty* sure it's happening due to the minion failing to start. If you run:

[code]

then pop up a new terminal and run

[code]

It works and the result is True, as expected.

On the other hand, when I just run the test:

[code]

I get this output:

[code]

So it looks like something is getting borked *somewhere* - the test works when manually running it, just

[2019-01-23 18:20] waynew commented on #1219
Oh, also, it's definitely something going on with the Mac libs, because I can run the same test within a Docker (ubuntu 18.04) container and it works A-OK

[2019-01-23 21:57] twangboy commented on #1246
This is passing locally on my test box. Waiting for the Branch tests to finish to see if this is still an issue.

https://jenkinsci.saltstack.com/job/2019.2.0.rc1/view/Python3/job/salt-windows-2016-py3/12/

[2019-01-24 00:08] twangboy commented on #1246
Did not see in latest 2019.2 test run

[2019-01-24 00:08] #1246 closed

[2019-01-24 15:03] #976 closed

[2019-01-24 16:01] #1259 closed

[2019-01-24 16:39] #1254 closed

[2019-01-24 16:59] Ch3LL opened #1264 "[2017.7] Lint Failures"
There are multiple lint failures on 2017.7

https://jenkinsci.saltstack.com/job/2017.7/view/Lint/job/salt-2017.7-lint/28/

[2019-01-24 18:16] dmurphy18 commented on #1257
the test failures are due to str vs bytes issues in Python 3 for test_create_key and test_revoke_certificate_with_crl.  testr_create_crl is failing due to callback is not bytes.

Typical encode|decode issues on Py3

[2019-01-24 18:56] Ch3LL commented on #1257
@garethgreenaway can you take a look here?

[2019-01-24 19:05] dmurphy18 commented on #1257
@garethgreenaway checkout
393 e22df847 S Gareth J. Greenaway        return salt.utils.stringutils.to_str(passphrase)    salt/modules/x509.py from June 4th
M2Crypto/RSA.py expects the callback to be Callable, and not a string, the other unit tests appear to be a simple issue of string encoding, creating a cert returns a string or bytes, again salt/modules/x509.py

[2019-01-25 20:26] Ch3LL opened #1265 "[2019.2] jinja ip address failures"
[code]

https://jenkinsci.saltstack.com/job/2019.2.0.rc1/view/Python3/job/salt-centos-7-py3/17/

[2019-01-25 21:12] #1265 closed

[2019-01-25 21:54] dubb-b commented on #1261
@Ch3LL they are running now.
https://jenkinsci.saltstack.com/job/2019.2.0.rc1/view/Python3/job/salt-opensuse-py3/
The issue is that they update libzmq to a version that is not compatible with pyzmq.(At least that is how I understand it.) So I went down to that version and didn't perform the `-U` in `script_args`.

[2019-01-28 15:42] #1261 closed

[2019-01-28 15:46] Ch3LL opened #1266 "[2019.2.0] test_gem test failures"
The test `integration.modules.test_gem.GemModuleTest.test_sources_add_remove` is failing on almost every OS and python version.

https://jenkinsci.saltstack.com/job/2019.2.0.rc1/job/salt-centos-7-py2/16/

i think this might be a flaky test failure as i'm not seeing where in the code we changed recently for this to fail. Will monitor the re-run of the test.

[2019-01-28 15:50] Ch3LL commented on #1238
this is no longer failing on 2019.2.0.rc1, but still on 2018.3.4

[2019-01-28 15:55] Ch3LL opened #1267 "[2019.2.0] ssdp mac test failures"
the following tests are failing on mac

unit.utils.test_ssdp.SSDPFactoryTestCase.test_datagram_signature_bad
unit.utils.test_ssdp.SSDPFactoryTestCase.test_datagram_signature_correct_timestamp_reply
unit.utils.test_ssdp.SSDPFactoryTestCase.test_datagram_signature_outdated_timestamp_quiet
unit.utils.test_ssdp.SSDPFactoryTestCase.test_datagram_signature_outdated_timestamp_reply
unit.utils.test_ssdp.S

[2019-01-28 15:59] Ch3LL opened #1268 "[2019.2.0] windows py2 not bootstrapping"
https://jenkinsci.saltstack.com/job/2019.2.0.rc1/job/salt-windows-2016-py2/17/consoleFull

[code]

and then it tries to converge the machine again and we see this error:

[code]

[2019-01-28 16:03] Ch3LL commented on #1252
i'm seeing this timeout again after a different spot

[code]

seems this is flaky behavior. Sometimes we get test results and sometimes its timing out.

[2019-01-28 16:59] Ch3LL commented on #1268
ping @dubb-b can you take a look here?

[2019-01-29 16:55] Ch3LL opened #1269 "[2017.7] arch tests not running"
the arch tests do not start the test runner as shown below on 2017.7:

[code]

https://jenkinsci.saltstack.com/job/2017.7/job/salt-arch-py2/31/console

@dubb-b is this in your realm?

[2019-01-29 16:57] Ch3LL opened #1270 "[2017.7] opensuse not bootstrapping"
opensuse tests on 2017.7 are not bootstrapping:

[code]

https://jenkinsci.saltstack.com/job/2017.7/view/Python3/job/salt-opensuse-py3/33/consoleFull

[2019-01-29 16:58] Ch3LL opened #1271 "[2017.7] windows batch tests failing both py2/py3"
[code]

https://jenkinsci.saltstack.com/job/2017.7/view/Python3/job/salt-windows-2016-py3/34/

[2019-01-29 16:59] Ch3LL opened #1272 "[2017.7] windows grains tests failing both py2/py3"
[code]

https://jenkinsci.saltstack.com/job/2017.7/view/Python3/job/salt-windows-2016-py3/34/

[2019-01-29 17:00] Ch3LL commented on #1266
this is also failing on 2017.7 and 2018.3

[2019-01-29 18:36] dubb-b commented on #1269
@Ch3LL I think we should look at this: https://github.com/saltstack/salt/issues/49661

Looks like there is an OpenSSL issue that was put into 2018.3 but not 2017.7?

[2019-01-29 20:52] garethgreenaway commented on #1267
Tests are passing in later builds so closing this out.

[2019-01-29 20:52] #1267 closed

[2019-01-29 21:01] Ch3LL commented on #1269
are you certain we need to backport that PR? the errors do not seem the same?

[2019-01-29 21:02] Ch3LL commented on #1269
also can't we bootstrap with 2018.3.3 to resolve this as a quick workaround?

[2019-01-29 21:04] dubb-b commented on #1269
I can try.

[2019-01-29 21:36] dmurphy18 commented on #1269
@Ch3LL Should we be running tests on **arch** for the latest releases, similar to how we release and test for  Fedora, esp. since 2017.7 is about to CVE.

[2019-01-29 21:52] Ch3LL commented on #1269
we test fedora on older versions just not package tests as we only build for the latest.

also @dubb-b i re-read that issue ( i was initially looking at the other issue referenced in that one) they do look the exact same. i'm thinking we should have a developer look into it to make sure this is not failing on the head of 2017.7. @KChandrashekhar can you assign this out for someone to investigate t

[2019-01-29 22:09] dubb-b commented on #1269
I am testing with v2018.3.3 right now, Ill know in a minute if that can be a workaround. But either way I think looking into it is a good idea.

[2019-01-29 22:37] twangboy commented on #1272
They pass when run locally on Py2 and Py3.

[2019-01-29 22:39] twangboy commented on #1272
Rebuilding...

[2019-01-30 15:53] Ch3LL opened #1273 "[2018.3.4] centos 7 tests timing out"
the centos7 python2 tests are timing out. in the logs I'm seeing a lot of these failures:

[code]

https://jenkinsci.saltstack.com/job/2018.3.4/job/salt-centos-7-py2/9/console

[2019-01-30 16:11] Ch3LL opened #1274 "[2017.7] fedora 29 py3 not running tests"
on 2017.7 fedora 29 python 3 we are seeing this error when trying to start the test runner:

[code]

https://jenkinsci.saltstack.com/job/2017.7/view/Python3/job/salt-fedora-29-py3/23/console

[2019-01-30 16:21] Ch3LL opened #1275 "clean up lint failures on develop"
https://jenkinsci.saltstack.com/job/develop/view/Lint/job/salt-develop-lint/

[2019-01-30 16:54] dubb-b commented on #1268
@Ch3LL working on this today

[2019-01-30 17:56] dubb-b commented on #1268
@Ch3LL https://jenkinsci.saltstack.com/job/2019.2.0.rc1/job/salt-windows-2016-py2/20/console

There was an intermit issue with the file transfer. I changed the AWS instance type to a better and faster model. The systems seem to bootstrap much faster now. I have not seen the timeout in the last two builds. There are test failures to fix though still.

[2019-01-31 02:05] garethgreenaway commented on #1270
@Ch3LL This seems like it might fix this particular issue.  https://github.com/saltstack/salt/pull/50963

[2019-01-31 15:12] terminalmage commented on #1273
Fixed in #51445.

[2019-02-01 15:20] waynew commented on #1274
I'm having a heck of a time reproducing this locally... Are there other tests running on this same box? I could see a race condition happening here, if that's the case. But otherwise... seems to be running fine on a vagrant box?

[2019-02-01 15:23] waynew commented on #1274
Hm, not sure if it has anything to do with the problem, but earlier in the logs it does show this:
[code]

[2019-02-01 17:43] waynew commented on #1274
Oh hey! I finally did! well, sort of! After like... my entire test suite ran, I got:

`No such file or directory /tmp/salt-tests-tempdir/config/sshd.pid`. Now to see if I can repro with a more simple sample 😛

[2019-02-01 17:53] waynew commented on #1274
Hah! Perfect - running on `-n unit` gets me that failure, reliably

[2019-02-04 18:53] dubb-b commented on #1269
This did not help. I thought I had commented here, but it seems I didn't.

[2019-02-04 20:46] dmurphy18 commented on #1257
Examined latest test runs from Jan 31 for salt-centos-7-py3-m2crypto which showed these tests passing.
That test had a gem failure (integration.modules.test_gem.GemModuleTest.test_sources_add_remove) but that is for another issue.

[2019-02-04 20:46] #1257 closed

[2019-02-04 21:24] frogunder commented on #1273
This can be closed. I do not see this failure/error on the cent7 test anymore.

[2019-02-05 16:12] #1268 closed

[2019-02-05 16:20] Ch3LL opened #1295 "[2019.2.0rc1] Multiple Test failures on both python2/pyton3 windows"
There are a lot of windows tests that suddenly started failing after this was fixed: https://github.com/saltstack/salt-jenkins/issues/1268

[code]

https://jenkinsci.saltstack.com/job/2019.2.0.rc1/job/salt-windows-2016-py2/23/#showFailuresLink

I'm not sure if this is related to fixing the bootstrapping issue and using a different AWS instance type or if its just because the windows test runner is

[2019-02-05 16:22] Ch3LL opened #1296 "[2019.2.0.rc1] opensuse is not bootstrapping"
opensuse is not bootstrapping with error:

[code]

https://jenkinsci.saltstack.com/job/2019.2.0.rc1/view/Python3/job/salt-opensuse-py3/40/consoleFull

[2019-02-05 23:49] dwoz commented on #1295
I think most or all of these will be fixed by this getting merged forward: https://github.com/saltstack/salt/pull/51402

[2019-02-06 02:39] waynew commented on #1274
Okay, finally, even better, I'm actually reproducing this exact error!

[2019-02-06 02:49] waynew commented on #1274
Just needed to install bundle/ruby a la https://github.com/saltstack/kitchen-salt/blob/master/docs/gettingstarted.md and then running

    cd /path/to/salt
    bundle install
    bundle exec kitchen converge py3-fedora
    bundle exec kitchen verify py3-fedora

 I *did* adjust the `.kitchen.yml` file to specify that fedora should be `fedora:29` vs `fedora:latest`. But I'm getting the same error an

[2019-02-06 02:51] waynew commented on #1274
🤦‍♂️ `async=False`

[2019-02-06 03:11] waynew commented on #1274
Yeah, I'm hoping there's a single commit in the modern branch(es) that we can backport that does all of the `async` -> `asynchronous` renames that we can backport. Looks like it's just a matter of fedora 29 using a modern version of Python 😀

[2019-02-06 18:11] waynew commented on #1274
Okay, so I found the PR/branch: https://github.com/saltstack/salt/pull/48705/commits

I know I can cherry-pick that list... might just be what I have to do, since it's only those changes that I want.

[2019-02-06 19:55] Ch3LL commented on #1272
these are no longer failing :)

[2019-02-06 19:55] #1272 closed

[2019-02-11 23:39] waynew commented on #1274
I think we've got the tests *running* now 👍

[2019-02-11 23:40] #1274 closed

[2019-02-27 20:37] Ch3LL commented on #320
no longer using opennebula. closing

[2019-02-27 20:37] #320 closed

[2019-02-27 20:38] #378 closed

[2019-02-27 20:38] Ch3LL commented on #378
Issue moved to [saltstack/salt #51882](https://github.com/saltstack/salt/issues/51882) via [**ZenHub**](https://www.zenhub.com/)

[2019-02-27 20:40] #428 closed

[2019-02-27 20:40] #633 closed

[2019-02-27 20:41] #645 closed

[2019-02-27 20:41] #891 closed

[2019-02-27 20:42] #892 closed

[2019-02-27 20:42] #935 closed

[2019-02-27 20:42] #937 closed

[2019-02-27 20:43] #938 closed

[2019-02-27 20:43] #941 closed

[2019-02-27 20:43] #942 closed

[2019-02-27 20:44] #943 closed

[2019-02-27 20:44] #992 closed

[2019-02-27 20:45] Ch3LL commented on #995
Issue moved to [saltstack/salt #51883](https://github.com/saltstack/salt/issues/51883) via [**ZenHub**](https://www.zenhub.com/)

[2019-02-27 20:45] #995 closed

[2019-02-27 20:48] #1020 closed

[2019-02-27 20:48] #1047 closed

[2019-02-27 20:48] #1056 closed

[2019-02-27 20:49] #1057 closed

[2019-02-27 20:49] #1118 closed

[2019-02-27 20:50] #1141 closed

[2019-02-27 20:51] Ch3LL commented on #1219
Issue moved to [saltstack/salt #51884](https://github.com/saltstack/salt/issues/51884) via [**ZenHub**](https://www.zenhub.com/)

[2019-02-27 20:51] #1219 closed

[2019-02-27 20:59] Ch3LL commented on #1224
im not seeing this fail on ubuntu18.04 anymore on 2019.2

[2019-02-27 20:59] #1224 closed

[2019-02-27 21:00] Ch3LL commented on #1238
Issue moved to [saltstack/salt #51885](https://github.com/saltstack/salt/issues/51885) via [**ZenHub**](https://www.zenhub.com/)

[2019-02-27 21:00] #1238 closed

[2019-02-27 21:02] #1243 closed

[2019-02-27 21:02] Ch3LL commented on #1243
Issue moved to [saltstack/salt #51886](https://github.com/saltstack/salt/issues/51886) via [**ZenHub**](https://www.zenhub.com/)

[2019-02-27 21:03] Ch3LL commented on #1251
Issue moved to [saltstack/salt #51887](https://github.com/saltstack/salt/issues/51887) via [**ZenHub**](https://www.zenhub.com/)

[2019-02-27 21:03] #1251 closed

[2019-02-27 21:04] #1252 closed

[2019-02-27 21:04] Ch3LL commented on #1252
Issue moved to [saltstack/salt #51888](https://github.com/saltstack/salt/issues/51888) via [**ZenHub**](https://www.zenhub.com/)

[2019-02-27 21:05] Ch3LL commented on #1253
not failing anymore

[2019-02-27 21:05] #1253 closed

[2019-02-27 21:07] Ch3LL commented on #1258
Issue moved to [saltstack/salt #51889](https://github.com/saltstack/salt/issues/51889) via [**ZenHub**](https://www.zenhub.com/)

[2019-02-27 21:07] #1258 closed

[2019-02-27 21:08] #1264 closed

[2019-02-27 21:10] #1266 closed

[2019-02-27 21:12] Ch3LL commented on #1269
fixed by https://github.com/saltstack/salt/pull/51655

[2019-02-27 21:12] #1269 closed

[2019-02-27 21:13] Ch3LL commented on #1270
bootstrapping now :)

[2019-02-27 21:13] #1270 closed

[2019-02-27 21:14] #1271 closed

[2019-02-27 21:15] #1275 closed

[2019-02-27 21:16] #1295 closed

[2019-02-27 21:23] Ch3LL commented on #1296
salt-opensuse-15-py3 is not currently bootstrapping:

https://jenkinsci.saltstack.com/job/2019.2/view/Python3/job/salt-opensuse-15-py3/15/console

[2019-02-27 21:23] #1296 closed

[2019-02-27 21:23] Ch3LL commented on #1296
Issue moved to [saltstack/salt #51890](https://github.com/saltstack/salt/issues/51890) via [**ZenHub**](https://www.zenhub.com/)

[2020-02-05 21:19] bryceml opened #1632 "/etc/hosts entries"
We need to add some entries to /etc/hosts on all oses that we can guarantee to be there and be the same on all oses, something like:

::1 ipv6.saltstack-test dualstack.saltstack-test
127.0.0.1 ipv4.saltstack-test dualstack.saltstack-test

There are several tests where we want to test ipv6, ipv4, and dualstack hostnames and it would be nice to have the same names on all tests that would need them.

[2020-04-08 22:22] bryceml opened #1642 "ubuntu 2004 and fedora-32 need rebuilt when they release."
ubuntu 2004 and fedora-32 need rebuilt when they release.

[2020-04-08 22:22] bryceml commented on #1642
closing https://github.com/saltstack/sre-jenkins/issues/263

[2020-04-30 04:36] bryceml commented on #1642
done

[2020-04-30 04:36] #1642 closed

[2020-05-22 16:25] bryceml opened #1650 "Add FreeBSD 12.1 to available amis/pipelines, etc."

[2020-08-08 15:39] #1650 closed

[2020-09-04 17:37] bryceml commented on #1632
These should all be added now except for centos8 and fedora31, see
https://github.com/saltstack/salt/pull/58318
https://github.com/saltstack/salt/pull/58317

[2020-09-24 23:30] bryceml commented on #1632
This is done.

[2020-09-24 23:30] #1632 closed

[2021-07-21 00:32] ScriptAutomate opened #1717 "OpenSUSE Failures: Fails to install openssl-dev-libs"
Log output, when the suse is being built:

[code]

When attempting an install via `zypper` on OpenSUSE Leap 15.2 or 15.3, after a `zypper refresh`, it works without issue when directly using a container (`opensuse/leap:15.2` or `opensuse/leap:15.3`):

[code]

[2021-07-21 01:41] ScriptAutomate opened #1718 "FreeBSD Failures: py37-* packages should be replaced with py38-* packages on FreeBSD 13.0"
Currently, golden images fail to be made for FreeBSD:

- [Example failing Jenkins job](https://jenkins.saltproject.io/job/Full-PR/job/full-pr-freebsd-130-amd64/job/PR-1715/1/console)

This involves errors such as:

[code]

This impacts states, as well, that are used by FreeBSD 13.0.

For an example listing of available packages for FreeBSD 13.0, can view [`py-pygit2` on FreshPorts](https://www.fre

[2021-07-21 02:07] ScriptAutomate commented on #1717
More info:

[code]

Looks like `libressl` is being used instead of `openssl`. Either we'd need to uninstall `libressl`, or use it as the alternative to `openssl`.

[2021-08-06 23:43] #1717 closed

[2021-08-06 23:53] #1718 closed

[2021-08-25 20:16] ScriptAutomate opened #1726 "macOS Failures: Due to saltstack.net artifactory deprecation"
MacOS build failures are occurring due to the deprecation of the `saltstack.net` artifactory:

[code]

Job refs:
- https://jenkins.saltproject.io/job/Full-PR/job/full-pr-macosx-catalina-x86_64/job/PR-1714/39/console
- https://jenkins.saltproject.io/job/Full-PR/job/full-pr-macosx-mojave-x86_64/job/PR-1714/39/console

The macOS builds need to be revisited, and updated to use a new pathway.

[2021-08-25 21:00] ScriptAutomate opened #1727 "vault version 0.9.6 is out-dated (from 2018), and is only on CentOS 7: Does this need to change?"
I've been working on getting Docker on our AMIs, and I have noticed that we previously had our state tree installing docker alongside vault . It looks like this was previously only done on CentOS 7 and Ubuntu 16.04.

- Now that I'm expanding docker to be on everything, where are we testing vault?
- Ubuntu 16.04 is deprecated, so we are only testing against CentOS 7. Is this okay?
- The version of

[2021-08-25 21:25] ScriptAutomate opened #1728 "Photon OS 3 docker container builds: test-kitchen failures"
`test-kitchen` fails immediately upon trying to run against Photon 3 containers.

Example job:
- https://jenkins.saltproject.io/job/Full-PR/job/full-pr-photon-3-x86_64-docker/job/PR-1714/8/console

[code]

[2021-08-25 21:25] ScriptAutomate opened #1729 "Fedora 33 and 34 docker container builds: Kitchen test failures with SSH"
SSH fails to work properly when test-kitchen tries bringing up Fedora containers.

Fedora 33 example:
 - https://jenkins.saltproject.io/job/Full-PR/job/full-pr-fedora-33-x86_64-docker/job/PR-1714/40/console

Fedora 34 example:
- https://jenkins.saltproject.io/job/Full-PR/job/full-pr-fedora-34-x86_64-docker/job/PR-1714/40/console

[code]

[2021-09-14 21:08] ScriptAutomate opened #1730 "Ensure the docker service is enabled/running on Linux OS"
Docker state file needs rework. The service is configured to start on non-containers, and only if Amazon Linux or Debian (if non-Bullseye / Debian 11).

https://github.com/saltstack/salt-jenkins/blob/6f0e99375e12b377ed897c3798af57650b143f7a/state-tree/docker.sls#L95-L102

https://github.com/saltstack/salt-jenkins/blob/6f0e99375e12b377ed897c3798af57650b143f7a/state-tree/docker.sls#L122-L128

[2021-09-17 21:15] bryceml commented on #1729
this is probably because they both don't support rsa with sha1 anymore. It's a similar problem for the AMI.  We use user_data on the ami to add it back.  It will only be so long until they stop supporting it in openssh at all.

[2021-09-17 21:16] bryceml opened #1732 "opensuse resolves to `os` == `SUSE`, we should use `os_family` == `Suse` instead."
opensuse resolves to `os` == `SUSE` for some reason, we should use `os_family` == `Suse` instead throughout the states.

[2022-02-09 09:52] s0undt3ch opened #1748 "Busybox.net has frequent timeouts"
In this issue is the **exact same binary** with the exception that it has a file extension of `.zip`, but it's in fact, the real **uncompressed** binary since we couldn't upload the binary without a GitHub supported file extension.

[busybox.zip](https://github.com/saltstack/salt-jenkins/files/8031454/busybox.zip)

The sha256sum of the file we uploaded.
[code]

We'll pull the binary from the link

[2022-07-07 06:26] krionbsd opened #1772 "Fix Debian 11 amd64/arm64 run failures"
Debian 11 amd64/arm64 fail with:
[code]
Fixes in `state-tree/docker.sls` are required

[2022-07-07 06:29] krionbsd opened #1773 "Fix OpenSUSE 15 run failures"
OpenSUSE 15 fails with
[code]
Fixes in `state-tree/docker.sls` are required

[2022-07-07 06:30] krionbsd commented on #1748
@s0undt3ch I guess this one is fixed? Can you confirm?

[2022-07-07 06:31] krionbsd commented on #1732
@ScriptAutomate I rebased https://github.com/saltstack/salt-jenkins/pull/1734 and re-ran CI, it seems it's the same error as before, could you investigate?

[2022-07-07 06:32] krionbsd commented on #1729
This one is fixed with new keys

[2022-07-07 06:32] #1729 closed

[2022-07-07 06:33] krionbsd commented on #1728
This one is fixed but it seems there are another issues with CI, I'll open another issue

[2022-07-07 06:33] #1728 closed

[2022-08-01 15:34] agraul commented on #1773
I think this is because of https://github.com/saltstack/salt-jenkins/blob/0978bc49d53ba1ab3802739118d852120391a49d/state-tree/susepkgs.sls#L2-L4

I don't know why `docker` is being removed, I think it makes sense to keep it around.

[2022-11-09 22:09] s0undt3ch commented on #1773
This is no longer an issue and the new images will include docker.

[2022-11-09 22:09] #1773 closed

[2022-11-09 22:10] s0undt3ch commented on #1772
This is no longer an issue and the new golden images will include docker.

[2022-11-09 22:10] #1772 closed

[2022-11-09 22:11] s0undt3ch commented on #1748
The new golden images will not include BusyBox.

[2022-11-09 22:11] #1748 closed

[2022-11-09 22:13] #1727 closed

[2022-11-09 22:14] s0undt3ch commented on #1726
The new MacOS golden images will be redone from scratch and will not rely on artifactory.

[2022-11-09 22:14] #1726 closed