[2014-08-14 22:51] rallytime opened #34 "docker tests skipped"
docker unit tests are skipping because docker isn't installed.

[2014-12-17 11:50] eliasp opened #61 "Jenkins asks for access to _all_ of my GitHub repositories"
Although this is technically not a issue of the code provided in this repo, this seems to be the most appropriate place to report this issue.

Until recently, I could simply click on a link providing Jenkins build results to see them and check what went wrong.
Now GitHub asks me to grant read/write permissions to all my public/private repos:
![jenkins](https://cloud.githubusercontent.com/assets/48

[2015-02-24 21:10] aboe76 opened #73 "opensuse 13 and bower on 2015.2 branch"
Hi If you want to test bower on opensuse 13,
you should add the following repo:
http://download.opensuse.org/repositories/devel:/languages:/nodejs/openSUSE_13.1/

otherwise it won't build and work.
https://jenkins.saltstack.com/job/salt-linode-opensuse13/1026/console

[2015-03-05 22:49] aboe76 commented on #73
@s0undt3ch ping :)

[2015-03-07 21:33] #73 closed

[2015-03-07 21:34] s0undt3ch commented on #73
Sorry it took me this long to reply to you ping @aboe76. 233cef32de0ffd0008edc85c96c190fcb8e459ee should take care of this.

[2015-05-20 16:59] rallytime opened #100 "Ubuntu 14.10 Won't Bootstrap with Latest Stable"
When attempting to bootstrap a Ubuntu 14.10 VM on Linode using the latest stable bootstrap script, the following error occurs:
[code]
Bootstrap Version:
[code]
The cloud profile for this VM was attempting to bootstrap a vm with `script_args: git 2014.7`.

Here's my versions report:
[code]

[2015-05-20 17:15] rallytime commented on #100
I meant to open this on the salt-bootstrap repo, not the salt-jenkins repo. I've filed this same issue there: https://github.com/saltstack/salt-bootstrap/issues/602

Closing.

[2015-05-20 17:15] #100 closed

[2016-04-27 17:40] rallytime commented on #34
Fixed by #126 and #142

[2016-04-27 17:40] #34 closed

[2016-07-20 19:31] gtmanfred opened #202 "install pysqlcipher3 instead of pysqlcipher when testing the python3 test suite"
title

Thanks!

[2016-09-21 17:47] #61 closed

[2016-09-22 16:15] rallytime opened #240 "LXC state only runs on Arch and Ubuntu 16.04"
When the LXC state was written, the only distros that supported installing lxc were Arch and Ubuntu 14.04. We now have Ubuntu 16.04, and there are probably other distributions that could also install this package so we can run the lxc tests on more distros.

The list of distros that could support running this state needs to be audited. Then the [lxc state](https://github.com/saltstack/salt-jenkins

[2016-09-22 17:22] rallytime commented on #240
There are GPG check/authentication problems happening on the Ubuntu 14 install, so it was removed from the state files list in #242. Please see that PR for more information. When this bug is fixed, we also need to see if the package authentication problem is resolved for Ubuntu 14 as well, and add it back in. If it is not resolved, a new issue should be opened to remember to add lxc back to Ubuntu

[2016-09-22 17:30] rallytime commented on #240
I edited the title and changed 14.04 to 16.04 after the changes made int #242 and #243.

[2016-09-28 14:57] #202 closed

[2016-09-30 20:32] rallytime opened #251 "Install relevant archive packages"
There were some new archive module integration tests that went in to Salt with https://github.com/saltstack/salt/pull/36648. Those tests are protected by a bunch of skipIfs to look for the various zip/unzip packages and binaries. We should make sure those tests are running on as many distros as possible.

Also see https://github.com/saltstack/salt/pull/36722 - An example is that Suse Leap has unzi

[2016-12-19 20:24] #251 closed

[2017-03-13 18:07] rallytime opened #284 "Pytest dependency breaks salt-master test daemon startup in Ubuntu 12"
When starting the test suite on the HEAD of the 2016.3 branch in salt, the salt-minion processes do not start, and cause test failures that depend on the minions running. With help from @cachedout, we tracked this down to the salt-master process only half-starting. This is because we hit the following stacktrace when attempting to start the salt-master:
[code]
The minions cannot connect since the

[2017-03-13 18:56] #284 closed

[2017-04-26 22:58] rallytime opened #306 "States don't install properly on Fedora 25"
Due to some heavy-handed version checking for various Fedora versions, the `git.salt` states don't run on Fedora 25.
[code]
This happens on all salt branches in jenkins.saltstack.com, so this needs to be fixed in the 2016.11 branch and onward.

[2017-04-27 20:22] rallytime commented on #306
Fixed with #307.

[2017-04-27 20:22] #306 closed

[2017-04-27 20:53] rallytime opened #311 "[PY3 Fedora] Pip binary can't be found on Fedora 24/25 installs with Python 3"
When running the `git.salt` states with `pillar="{py3: true}"`, the pip binary gets mixed up and the state run fails. Here's the output of the state run against the current HEAD of `nitrogen` on a Fedora 25 VM:
[code]
This is likely related to: https://github.com/pypa/pip/issues/4435

[2017-04-28 21:37] #311 closed

[2017-05-03 18:59] rallytime opened #314 "[develop] Arch is failing git_pillar integration tests"
There are 32 tests currently failing on the Arch build in the develop branch:
https://jenkins.saltstack.com/job/branch_tests/job/develop/

They are all tests in the `integration.pillar.test_git_pillar` file.

The arch tests haven't been running recently because of some bootstrapping issues, so I am not sure where these started failing.

@terminalmage Perhaps you might now what is happening there,

[2017-05-03 19:04] rallytime opened #315 "[2016.11] Arch is failing some package tests + one matcher test"
On the 2016.11 branch, the Arch test run is failing about 5 tests:
- integration.states.pkg.PkgTest.test_pkg_001_installed
- integration.states.pkg.PkgTest.test_pkg_002_installed_with_version
- integration.states.pkg.PkgTest.test_pkg_003_installed_multipkg
- integration.states.pkg.PkgTest.test_pkg_004_installed_multipkg_with_version
- integration.states.pkg.PkgTest.test_pkg_011_latest

It is also

[2017-05-03 19:12] rallytime opened #316 "Fix CentOS 6 jenkins runs"
@rallytime commented on [Fri Apr 28 2017](https://github.com/saltstack/zh/issues/1281)

The VM is now getting bootstrapped and is running a couple of states, but after getting the external IP, we fail the ssh command:
[code]

---

@rallytime commented on [Mon May 01 2017](https://github.com/saltstack/zh/issues/1281#issuecomment-298437711)

This was a bug in salt-testing. The released version of sa

[2017-05-03 19:13] rallytime commented on #316
https://github.com/saltstack/salt/pull/41039 should help this out. I'm testing it now. :)

[2017-05-03 19:19] terminalmage commented on #314
The salt-runtests.log shows that all of the HTTP tests are failing with 404 errors when trying to fetch. This is likely a bit of weirdness with how nginx is being setup on that platform.

[2017-05-03 19:36] rallytime opened #317 "[PY3] Arch is not starting testing daemons properly when running Python 3 tests"
@rallytime commented on [Fri Apr 28 2017](https://github.com/saltstack/zh/issues/1282)

[code]

[2017-05-03 19:37] rallytime opened #318 "Add Fedora 26 to to all branches when it is released"
@Ch3LL commented on [Wed Apr 26 2017](https://github.com/saltstack/zh/issues/1269)

---

@rallytime commented on [Wed Apr 26 2017](https://github.com/saltstack/zh/issues/1269#issuecomment-297529900)

We actually can't add this yet. Since Fedora 26 won't be released for a while (June?) there isn't an image available yet in Linode to use for tests.

@Ch3LL Should we close this one, or keep it open a

[2017-05-03 19:39] rallytime commented on #318
This is a reminder issue to add Fedora 26 to all current release branches when Fed26 released, likely in June.

[2017-05-03 19:39] rallytime opened #319 "[develop] Py3 testing distros should match nitrogen distros"
@rallytime commented on [Tue Apr 25 2017](https://github.com/saltstack/zh/issues/1265)

We have about 3 distributions in the `Python 3` tab in the `develop` branch view in Jenkins:
https://jenkins.saltstack.com/job/branch_tests/job/develop/view/Python%203/

There are about 7 distributions for the Python 3 tests for the 2017_5 branch that we're currently running tests against:
https://jenkins.salts

[2017-05-03 19:53] terminalmage commented on #314
Fixed by https://github.com/saltstack/salt/pull/41050.

[2017-05-03 19:53] #314 closed

[2017-05-03 20:02] rallytime opened #320 "Fix UBUNTU16 Bootstrap Issue on Ubuntu16 Image in OpenNebula"
@Ch3LL commented on [Thu Apr 27 2017](https://github.com/saltstack/zh/issues/1274)

Currently I am running into this issue: https://github.com/saltstack/salt-bootstrap/issues/1023 when trying to bootstrap off of the ubuntu16 image in opennebula. Need to troubleshoot why the service is getting masked. And possibly add ability to bootstrap to unmask if it is masked. This is preventing cloud tests fr

[2017-05-03 20:03] rallytime opened #321 "[2017.5] Fix GCE Cloud Tests"
@Ch3LL commented on [Thu Apr 27 2017](https://github.com/saltstack/zh/issues/1277)

[2017-05-03 20:18] rallytime opened #322 "[2017.5] Fix Azure Cloud Tests"
@Ch3LL commented on [Thu Apr 27 2017](https://github.com/saltstack/zh/issues/1278)

[2017-05-03 22:28] rallytime commented on #315
The package tests are fixed by https://github.com/saltstack/salt/pull/41054

The final remaining test is a bug in salt-testing. This has been fixed on newer releases, but upgrading that version on the 2016.11 branch might cause other problems. I think I will open a new issue so we can ignore the pkg tests part.

[2017-05-03 22:28] #315 closed

[2017-05-03 22:43] rallytime opened #324 "[2016.11] Arch integration.shell.matcher test is failing"
The following test is failing on Arch on the [2016.11](https://jenkins.saltstack.com/job/branch_tests/job/2016.9/) branch:
- integration.shell.matcher.MatchTest.test_salt_documentation_arguments_not_assumed

This appears to be a bug in salt-testing. The version of salt testing that is installed is gated to version 2016.9.7 [here](https://github.com/saltstack/salt-jenkins/blob/2016.11/python/saltte

[2017-05-03 23:34] rallytime commented on #316
Tests are running on CentOS 6 now!

[2017-05-03 23:34] #316 closed

[2017-05-04 15:20] rallytime opened #326 "[2017.5] CentOS 6 is failing several unit.test_auth.MasterACL tests"
Now that we have CentOS 6 tests running on Python2.7, there are several test failures we need to look at in the [2017.5 branch](https://jenkins.saltstack.com/job/branch_tests/job/2017.5/).

This issue is to track the work that needs to be done for the 15 or so unit tests that are failing in the `unit.test_auth` file.

[2017-05-04 15:23] rallytime opened #327 "[2017.5] CentOS 6 is failing a few git state integration tests"
Now that we have CentOS 6 tests running on Python2.7, there are several test failures we need to look at in the [2017.5 branch](https://jenkins.saltstack.com/job/branch_tests/job/2017.5/).

This issue is to track the work that needs to be done for about 5 integration tests that are failing in the `integration.states.test_git` file.

[2017-05-04 15:24] rallytime opened #328 "[2017.5] CentOS 6 is failing spm unit tests"
Now that we have CentOS 6 tests running on Python2.7, there are several test failures we need to look at in the [2017.5 branch](https://jenkins.saltstack.com/job/branch_tests/job/2017.5/).

This issue is to track the work that needs to be done for two unit tests that are failing in the `unit.test_spm` file.

[2017-05-04 15:27] rallytime opened #329 "[2017.5] CentOS 6 is failing a jinja template unit test"
Now that we have CentOS 6 tests running on Python2.7, there are several test failures we need to look at in the [2017.5 branch](https://jenkins.saltstack.com/job/branch_tests/job/2017.5/).

This issue is to track the work that needs to be done for jinja template unit tests that is failing in the `unit.templates.test_jinja` file.

[2017-05-04 15:29] rallytime opened #330 "[2017.5] CentOS 6 is failing a state module integration test"
Now that we have CentOS 6 tests running on Python2.7, there are several test failures we need to look at in the [2017.5 branch](https://jenkins.saltstack.com/job/branch_tests/job/2017.5/).

This issue is to track the work that needs to be done for integration test that is failing in the `integration.modules.test_state` file.

[2017-05-04 16:30] cachedout commented on #324
Just disable it for Arch. It's not platform-specific anyway and if the matcher fails, we'll know it.

[2017-05-04 16:37] rallytime commented on #324
Sounds good! Thanks @cachedout!

[2017-05-04 16:39] cachedout commented on #316
Nice work, @rallytime

[2017-05-04 16:44] rallytime commented on #327
I have fixed the `integration.states.test_git.GitTest.test_latest_updated_remote_rev` failure with https://github.com/saltstack/salt/pull/41072. This will need to be merged-forward in salt before that failure goes away. However, the other 4 test failures still need to be addressed.

[2017-05-04 17:29] rallytime commented on #324
Fixed by https://github.com/saltstack/salt/pull/41074

[2017-05-04 17:29] #324 closed

[2017-05-04 17:41] rallytime commented on #328
These tests do not fail on their own when the file runs individually. I tracked this down to a conflict with the `unit.test_state` file.

[2017-05-04 20:35] rallytime commented on #328
These are fixed by https://github.com/saltstack/salt/pull/41082

[2017-05-04 20:35] #328 closed

[2017-05-04 20:59] Ch3LL commented on #322
https://github.com/saltstack/salt/pull/41085

[2017-05-04 20:59] #322 closed

[2017-05-05 15:24] rallytime opened #331 "[Fedora 24] Fix minion start issues"
Fedora 24 has stopped running tests on Jenkins on all current release branches (2016.11, 2017.5, develop). The cause of this is unknown, but each build has the same type of error:
[code]
This doesn't seem to be related to a salt code change since this part happens during the cloud deploy process. Note one of the lines at the top: the port connection is timing out.

[2017-05-05 19:49] rallytime commented on #331
This issues seems to have resolved itself. Closing.

[2017-05-05 19:49] #331 closed

[2017-05-05 20:36] rallytime commented on #326
This is fixed with https://github.com/saltstack/salt/pull/41109.

[2017-05-05 20:36] #326 closed

[2017-05-05 20:40] rallytime opened #332 "[2017.5] SUSE LEAP is failing a package test"
The OpenSUSE LEAP build on the [2017.5 testing branch](https://jenkins.saltstack.com/job/branch_tests/job/2017.5/) is failing a package test with a KeyError.

This is likely due to the changes in https://github.com/saltstack/salt/pull/41086

[2017-05-05 20:53] rallytime commented on #330
All of the `integration.modules.test_state.py` tests are passing now. This was likely fixed by https://github.com/saltstack/salt/pull/41054.

Thanks to @terminalmage for fixing up the pkg tests so that these pass now! 😆

[2017-05-05 20:53] #330 closed

[2017-05-05 22:36] rallytime commented on #332
Fixed by https://github.com/saltstack/salt/pull/41112

[2017-05-05 22:36] #332 closed

[2017-05-09 20:12] rallytime commented on #327
Fixed by #41155

[2017-05-09 20:12] #327 closed

[2017-05-10 16:38] rallytime opened #333 "[2017.5] Python 3 Tests are not running all tests"
The Python 3 tests on both the `2017.5` and `develop` branches are not running all tests. This is likely due to a memory leak of some kind. The tests are currently running on 8G instances on Linode, but they are still only running a little less than 1,000 tests out of the nearly 7,000 tests that should be running.

This issue is to track the work that needs to be done on getting the Python 3 tests

[2017-05-10 17:00] rallytime opened #334 "[2017.5] CentOS 7 failing integration.renderers.test_pydsl test on Python 3"
The `integration.renderers.test_pydsl.PyDSLRendererIncludeTestCase.test_rendering_includes` is failing on the [2017.5 Python 3](https://jenkins.saltstack.com/job/branch_tests/job/2017.5/view/Python%203/) tests for CentOS 7:
[code]

[2017-05-10 17:04] rallytime opened #335 "[2017.5] CentOS 7 failing integration.loader.test_ext_grains test on Python 3"
The `integration.loader.test_ext_grains.LoaderGrainsTest.test_grains_overwrite` is failing on the [2017.5 Python 3](https://jenkins.saltstack.com/job/branch_tests/job/2017.5/view/Python%203/) tests for CentOS 7:
[code]

[2017-05-10 17:06] rallytime opened #336 "2017.5] CentOS 7 failing integration.loader.test_ext_modules test on Python 3"
The `integration.loader.test_ext_modules.LoaderOverridesTest.test_overridden_internal` is failing on the [2017.5 Python 3](https://jenkins.saltstack.com/job/branch_tests/job/2017.5/view/Python%203/) tests for CentOS 7:
[code]
Likely related to #335

[2017-05-10 17:06] rallytime commented on #335
Likely related to #336

[2017-05-10 17:08] rallytime opened #337 "[2017.5] Debian 8 failing integration.states.test_pip test on Python 3"
The `integration.states.test_pip.PipStateTest.test_pip_installed_weird_install` is failing on the [2017.5 Python 3](https://jenkins.saltstack.com/job/branch_tests/job/2017.5/view/Python%203/) tests for Debian 8:
[code]

[2017-05-10 17:13] rallytime opened #338 "[2017.5] Several distros failing integration.states.test_pip test on Python 3"
The `integration.states.test_pip.PipStateTest.test_pip_installed_weird_install` is failing on the [2017.5 Python 3](https://jenkins.saltstack.com/job/branch_tests/job/2017.5/view/Python%203/) tests for several distros:
[code]

This test is failing on the following distros:
- CentOS 7
- SUSE LEAP
- Ubuntu 16.04
- Ubuntu 17.04

There is also a pip test failing in the same file in Debian 8, but the o

[2017-05-10 17:17] rallytime opened #339 "[2017.5] Several distros failing integration.states.test_file test on Python 3"
The `integration.states.test_file.FileTest.test_issue_11003_immutable_lazy_proxy_sum` is failing on the [2017.5 Python 3](https://jenkins.saltstack.com/job/branch_tests/job/2017.5/view/Python%203/) tests for several distros:
[code]

This test is failing on the following distros:
- CentOS 7
- Debian 8
- SUSE LEAP

[2017-05-10 17:20] rallytime opened #340 "[2017.5] Several distros failing integration.modules.test_cmdmod test on Python 3"
The `integration.modules.test_cmdmod.CMDModuleTest.test_run` is failing on the [2017.5 Python 3](https://jenkins.saltstack.com/job/branch_tests/job/2017.5/view/Python%203/) tests for several distros:
[code]

This test is failing on the following distros:
- CentOS 7
- Debian 8
- SUSE LEAP
- Ubuntu 16.04

[2017-05-10 17:23] rallytime opened #341 "[2017.5] Several distros failing 2 tests in integration.runners.test-manage test on Python 3"
The there are two tests failing on the [2017.5 Python 3](https://jenkins.saltstack.com/job/branch_tests/job/2017.5/view/Python%203/) tests for several on Ubuntu 16 and Ubuntu 17.

One test is `integration.runners.test_manage.ManageTest.test_up`:
[code]

The other tests is `integration.runners.test_manage.ManageTest.test_down`:
[code]
Distros this fails on:
- Fedora 24
-  SUSE LEAP
- Ubuntu 16.04
-

[2017-05-10 17:25] rallytime opened #342 "[2017.5] Several distros failing integration.modules.test_state test on Python 3"
The `integration.modules.test_state.StateModuleTest.test_requisites_full_sls_import` is failing on the [2017.5 Python 3](https://jenkins.saltstack.com/job/branch_tests/job/2017.5/view/Python%203/) tests for several distros:
[code]

This test is failing on the following distros:
- SUSE LEAP
- Ubuntu 17.04

[2017-05-10 17:26] rallytime commented on #337
Somewhat related to #338.

[2017-05-10 23:01] rallytime commented on #329
Fixed by https://github.com/saltstack/salt/pull/41179

[2017-05-10 23:01] #329 closed

[2017-05-11 18:02] cachedout commented on #333
Assigned to @DmitryKuzmenko already via email.

[2017-05-15 20:02] rallytime opened #347 "[2017.5] A couple of virtualenv integration tests are failing"
The `integration.modules.test_virtualenv` test file has about 3 tests failing on the [2017.5 Python 3](https://jenkins.saltstack.com/job/branch_tests/job/2017.5/view/Python%203/) tests.

- [ ] `integration.modules.test_virtualenv.VirtualenvModuleTest.test_create_defaults`
[code]
- [ ] `integration.modules.test_virtualenv.VirtualenvModuleTest.test_site_packages`
[code]
- [ ] `integration.modules.te

[2017-05-15 20:08] rallytime opened #348 "[2017.5] A test_all_jobs from the rest_cherrypy tests is failing on Python 3"
The `integration.netapi.rest_cherrypy.test_app.TestJobs.test_all_jobs` test is failing in the [2017.5 Python 3](https://jenkins.saltstack.com/job/branch_tests/job/2017.5/view/Python%203/) tests with the following error:
[code]

[2017-05-15 20:10] rallytime opened #349 "[2017.5] A couple of virt module integration tests are failing"
The `integration.modules.test_virt` test file has about 2 tests failing on the [2017.5 Python 3](https://jenkins.saltstack.com/job/branch_tests/job/2017.5/view/Python%203/) tests.

- [ ] `integration.modules.test_virt.VirtTest.test_default_esxi_profile`
[code]
- [ ] `integration.modules.test_virt.VirtTest.test_default_kvm_profile`
[code]

[2017-05-15 20:33] rallytime opened #350 "Remove references to old pypi mirror"
At one time, we had a pypi mirror set up at https://pypi-jenkins.saltstack.com/jenkins/develop. However, this is no longer running and we have a new one set up. We should remove the references to this old mirror.

I think most of the places that we need the new mirror are up-to-date, but perhaps there are other places we can leverage this. A quick search gives the following results:
https://github

[2017-05-15 20:45] rallytime opened #351 "Figure out why 2017.5 jobs are still failing boto tests"
The moto package was updated to version 1.0.0 last Friday, and broke a ton of boto tests. So we pinned the version of moto in PR #344 to the one that previously worked. This change has been merged forward through all of the salt-jenkins branches and is present in the nitrogen branch [here](https://github.com/saltstack/salt-jenkins/blob/18b706b9f0f8dd09cb4b0dbf6587c369e4d26e21/python/moto.sls#L8).

[2017-05-15 22:13] rallytime commented on #351
An older version of the nitrogen branch was cached on the 2017.5 node salt master. This is up-to-date now, but I don't know why this wasn't refreshing after the changes went into the branch several hours ago. There wasn't anything helpful in the log files. I'll close this for now and keep an eye on this to see if this problem happens again.

Thanks to @Ch3LL for helping me trouble shoot this.

[2017-05-15 22:13] #351 closed

[2017-05-16 19:04] terminalmage commented on #349
@rallytime Where is this failing? I can't find these in any of the jobs listed in the link provided. Also, I can't get this to fail on a Cent7 VirtualBox VM.

[2017-05-16 19:23] terminalmage commented on #348
Fixed locally, PR forthcoming with other test fixes included.

[2017-05-16 19:50] terminalmage commented on #347
Fixed locally, PR forthcoming with other test fixes.

[2017-05-16 21:29] rallytime commented on #349
@terminalmage Hrm....I saw this one fail on a CentOS 7 build yesterday. This link is here:

https://jenkins.saltstack.com/job/branch_tests/job/2017.5/view/Python%203/job/salt-linode-py3-cent7/56/

[2017-05-17 02:43] terminalmage commented on #342
This fails for me even on Python 2.

[2017-05-17 03:26] terminalmage commented on #347
Fixed by https://github.com/saltstack/salt/pull/41293.

[2017-05-17 03:26] #347 closed

[2017-05-17 03:27] terminalmage commented on #348
Fixed by https://github.com/saltstack/salt/pull/41293.

[2017-05-17 03:27] #348 closed

[2017-05-17 03:33] terminalmage commented on #338
Can't reproduce this.

[2017-05-17 15:11] rallytime commented on #342
Interesting. I haven't seen that on the Jenkins test runs themselves.

[2017-05-17 15:16] rallytime commented on #338
@terminalmage Just running the single test? Or is it possible that other tests are interfering? I am unsure what the situation is with these PY 3 tests in that regard, especially since this has failed on so many distros lately.

[2017-05-17 15:21] rallytime opened #354 "[develop] 3 integration tests for zookeeper are failing in Python 3"
These tests are new to the `develop` branch of salt, but they are failing on the [Python 3 tab](https://jenkins.saltstack.com/job/branch_tests/job/develop/view/Python%203/) on the develop branch tests.

The tests that are failing are:
- integration.states.test_zookeeper.ZookeeperTestCase.test_zookeeper_present
- integration.states.test_zookeeper.ZookeeperTestCase.test_zookeeper_absent
- integratio

[2017-05-17 17:28] garethgreenaway commented on #342
This is a weird one.  Running it once and it fails, running it again and it succeeds.

[2017-05-17 19:37] terminalmage commented on #349
Yeah, but I still can't reproduce this, and what's more, there doesn't appear to be any way in which the function being called under-the-hood to gather the profile data could possible result in a boolean value.

[2017-05-17 19:48] terminalmage commented on #349
Like #349, I can't reproduce this and the item which is apparently supposed to be a bool (i.e. the return from ``grain.items`` can't possibly be a bool.

I feel like something elsewhere in the suite might have gone wrong, causing functions elsewhere to be mocked, or something. I honestly have no good explanation.

[2017-05-17 19:56] terminalmage commented on #334
Another that I can't reproduce. I also can't find an example of this one failing in the recent results for this job (Build History area [here](https://jenkins.saltstack.com/job/branch_tests/job/2017.5/view/Python%203/job/salt-linode-py3-cent7/)), so I have no access to logs that might tell me more.

[2017-05-17 20:06] terminalmage commented on #340
Can't reproduce. The test looks really straightforward, too, it's just getting the shell from os.environ and then making sure that echoing $SHELL is the same.

Perhaps something elsewhere in the suite is causing it to fail by modifying os.environ.

[2017-05-17 20:15] terminalmage commented on #340
I've opened https://github.com/saltstack/salt/pull/41308 as a potential fix. This looks to be the culprit since it sets the SHELL to ``/bin/sh``. So, if it is run before the failing test, it would appear to be responsible for ``os.environ['SHELL'`` being different from ``$SHELL``.

[2017-05-17 22:06] garethgreenaway commented on #337
Running the single test for this one I can't reproduce it.

[2017-05-18 04:43] terminalmage commented on #338
Yeah, I was only running a single test or single test module. While investigating #340, I found that a different test was modifying ``os.environ['SHELL']``, which seemed to be a potential cause of #340. Perhaps that ``os.environ`` change caused some of these other failures as well?

This is also confounded by the fact that the failures do not consistently show up in the test results.

https://gith

[2017-05-18 15:37] garethgreenaway commented on #336
Running the test individually and I cannot reproduce it.

[2017-05-21 16:50] #340 closed

[2017-05-22 19:47] terminalmage commented on #341
Can't reproduce on Ubuntu 17.04

[2017-05-22 20:54] chalzstrassen opened #356 "Minion and Sub-Minion Daemons fail to start on MacOS"
[code]
Same also happens for the sub_minion.

[2017-05-22 21:04] chalzstrassen commented on #356
[code]

[2017-05-23 15:24] rallytime opened #357 "[develop] 5 tests failing in the unit.modules.test_haproxyconn file"
See the [develop branch test results](https://jenkins.saltstack.com/job/branch_tests/job/develop/) on jenkins.saltstack.com. These tests are failing on every distribution.

[2017-05-23 18:22] rallytime opened #358 "SUSE LEAP: update config files on jenkins nodes"
The SUSE LEAP images we were using are no longer present on linode:
[code]
We need to update the salt-cloud config files so we can get these bootstrapping again.

[2017-05-23 18:44] rallytime commented on #358
Latest release of 42.2 is the new image to use. This has been updated on all 4 currently supported release branch testing nodes [2016.3, 2016.11, nitrogen, develop].

[2017-05-23 18:44] #358 closed

[2017-05-23 18:47] rallytime opened #361 "SUSE Leap 42.2: salt-jenkins packages don't install properly."
After updating the image from Linode in issue #358, the salt-jenkins states are no longer running properly after a basic `state.sls git.salt` call:
[code]

@dubb-b FYI - I am not sure if this has something to do with the mirror or not. I suspect not since the `pkg.installed` calls are also failing.

[2017-05-23 18:48] rallytime commented on #361
Oh, and this is failing for all branches in `salt-jenkins`.

[2017-05-23 18:58] rallytime commented on #337
There is probably something else interacting with it, so it will probably require running more than the single test. Can you reproduce it running the whole file? Or maybe all of the state integration tests (`-S` option) or other testing sections that come before it to narrow down what might be affecting this test (module integration tests, perhaps)?

It failed again on some distros. Here's some li

[2017-05-23 18:58] rallytime commented on #337
whoops, forgot to mention you @garethgreenaway ^

[2017-05-23 19:02] rallytime commented on #338
@terminalmage I think this test is being affected by other tests or something else going on. It's failing pretty consistently across the distros, so other tests (the whole file, all of the state tests (`-S` option) or the module tests maybe (`-m`) are interfering somehow.

However, I noticed this is a duplicate of #337. I'll let you and @garethgreenaway decide which issue to close and who will cha

[2017-05-23 19:06] rallytime commented on #334
Ok, I checked the most recent runs across all distros and I can't find an instance of this failing again. Maybe some of your recent PRs cleaned this up. We can open this again if needed.

[2017-05-23 19:06] #334 closed

[2017-05-23 19:13] rallytime commented on #335
I don't see this failing anywhere lately. Let's close this for now and we can open it if it pops up again.

[2017-05-23 19:13] #335 closed

[2017-05-23 19:14] rallytime commented on #336
I don't see this failing anywhere lately on CentOS 7 builds, or any other distro. I'll close this and we can open it again if we see it pop up.

[2017-05-23 19:14] #336 closed

[2017-05-23 19:18] rallytime commented on #341
These tests are still failing frequently on various distros for Python 3. Like other issues I commented on today, I think this one will need some more digging. Sounds like something earlier in the tests is interfering with these test results.

Here's the link to the latest Ubuntu 17 run: https://jenkins.saltstack.com/job/branch_tests/job/2017.5/view/Python%203/job/salt-linode-py3-ubuntu17/lastComp

[2017-05-23 19:23] rallytime commented on #349
@terminalmage When you run these, do the tests actually run on Python 3? Now the builds are showing that these tests are being skipped when I looked to see if these tests were a problem still today. So that is curious.

We can probably close this for now since I don't see any recent builds failing this test. We can come back to it if necessary.

[2017-05-23 19:23] #349 closed

[2017-05-23 19:29] dubb-b commented on #361
@rallytime No, this is due to the Zypper packages not being available. I would say that it could be connectivity to the Zypper repo, not sure though. Also it could be that they changed the `node` package name.

Ill look at it real quick.

[2017-05-23 23:07] rallytime opened #363 "[2016.11] CentOS 6 and CentOS 7 states failing"
The CentOS 6 and CentOS 7 builds are failing during the `state.sls git.salt` call on the 2016.11 branch.

CentOS 6 fails with the following message:
[code]
And CentOS 7 fails in a similar way with the python.pyvmomi.pyvmomi state, but does not fail the cherrypy state.

[2017-05-24 06:48] terminalmage commented on #341
Yeah, I tried to run the entire suite and got bitten by the unittest2 memory leak, so I wasn't able to get the entire suite to complete.

I'll try to take a look at the logs and see what they might be able to tell me. From the results of these tests, it appears that the ``minion`` salt-minion instance is not responding to a ``test.ping``, since that is what ``manage.up`` and ``manage.down`` do.

[2017-05-24 06:49] terminalmage commented on #341
It may be possible that memory issues are causing the ``test.ping`` not to respond.

[2017-05-24 16:48] rallytime commented on #357
Fixed with https://github.com/saltstack/salt/issues/41411

[2017-05-24 16:48] #357 closed

[2017-05-24 18:50] rallytime commented on #361
Fixed with #362

[2017-05-24 18:50] #361 closed

[2017-05-24 18:58] rallytime commented on #363
The pyvmomi issue has been fixed upstream. Just need to pin the cherrypy package when running on CentOS 6 with py2.6.

[2017-05-24 21:26] rallytime commented on #363
This is now fixed with #365.

[2017-05-24 21:26] #363 closed

[2017-05-25 13:25] Ch3LL commented on #337
@garethgreenaway any update on this? This is dependent on nitrogen.

[2017-05-25 13:27] Ch3LL commented on #337
Oh i just noticed @rallytime 's note in https://github.com/saltstack/salt-jenkins/issues/338#issuecomment-303499783 looks like this is a duplicate of that issue as well. Who can take a look at this @terminalmage or @garethgreenaway ?

[2017-05-25 13:27] Ch3LL commented on #338
Closing in favor of https://github.com/saltstack/salt-jenkins/issues/337#issuecomment-304009755

[2017-05-25 13:27] #338 closed

[2017-05-25 14:03] terminalmage commented on #337
This is failing because ConfigParser does not exist in Python 3. The page for carbon on PyPI confirms that this is a Python-2-only module: https://pypi.python.org/pypi/carbon/1.0.1

We either need to skip this test on PY3 or just find a different target.

[2017-05-25 14:04] terminalmage commented on #337
@garethgreenaway can you make sure you were testing using Python 3?

[2017-05-25 14:31] terminalmage commented on #337
Looking back at the issue that this test was written for, it seems like the functionality being tested may be specific to the ``carbon`` package from PyPI. So, I'm just going to skip on PY3.

[2017-05-25 14:40] terminalmage commented on #337
https://github.com/saltstack/salt/pull/41427 skips this test. Closing.

[2017-05-25 14:40] #337 closed

[2017-05-25 15:05] rallytime opened #366 "Figure out how to update pytest-salt on nodes"
Or figure out why the test that was adjusted in https://github.com/saltstack/salt/pull/41382 is now failing on several distros.

[2017-05-25 15:46] rallytime commented on #366
The salt-jenkins states install `pytest-salt` from the HEAD of the master branch, so nothing needs to be done with updating the version. I commented on the original PR notifying Dmitry that the change either introduced, or exposed, some flakiness in the test suite.

[2017-05-25 15:46] #366 closed

[2017-05-25 17:09] rallytime commented on #350
Fixed with #369 and #370

[2017-05-25 17:09] #350 closed

[2017-05-25 18:37] rallytime commented on #341
Yeah let's see how this goes. I don't see this on the latest test runs failing right now, so maybe this has cleared up. Let's leave this open for now and see how it goes over the next couple of days.

[2017-05-25 19:49] Ch3LL commented on #321
This is the error i'm seeing in the tests:

[code]

I think this was caused by github.com/saltstack/salt/pull/39072/files and we are using the old gce and do not have a default subnetwork, but the code assumes we do. I think this was written for new gce instances as the note here suggests: https://github.com/saltstack/salt/pull/39183/files#diff-0d1d6f19977b0413cbac1a26a4f5cad2R222  I am still digg

[2017-05-25 20:38] Ch3LL commented on #321
https://github.com/saltstack/salt/pull/41437 i'm not 100% sure this is the right fix so I will keep this open until confirmed its accurate or not.

[2017-05-25 20:43] Ch3LL opened #371 "Add Python3 Auto Mac Tests"
- [x] Create a mac image for python3 for both 10.11 and 10.12
- [x] add mac py3 tests to jenkins as a job

[2017-05-25 20:58] Ch3LL opened #372 "Get the Mac Tests to Run completely on 2017.5"
Currently the Mac tests are failing with the following error:

[code]

I think i need to create a new image with pytest and any other test requirements installed.

[2017-05-26 15:48] twangboy opened #373 "Intermittent Test failures on Windows 2017.5 Py2 tests"
Random tests fail intermittently
https://jenkins.saltstack.com/job/branch_tests/job/2017.5/job/salt-dev-c7-windows-py2/

Here are some runs and the tests that failed:
https://docs.google.com/a/saltstack.com/spreadsheets/d/1DjMfwF9KBJbg5-wV3k30T48rYM2beUGwe8ZVVx7J8LE/edit?usp=sharing

Also a link to the ZH issue that summarizes the above spreadsheet:
https://github.com/saltstack/zh/issues/1272#issu

[2017-05-26 15:51] Ch3LL opened #374 "Add proxy auto tests to jenkins"
Auto Proxy Tests were written and need to be added to Jenkins. Since there was a flag added here https://github.com/saltstack/salt/pull/41113/files#diff-bf0d7f89b37ba018fb5c5b2833b37dd3R362 `--proxy` we will have to create new jenkins jobs because it will not run alongside the default tests.

Steps include:

1. Add a new Jenkins job for Branches: 2016.11, nitrogen
2. Add a job per branch for the f

[2017-05-26 15:52] twangboy opened #375 "Unit tests to not run on Windows when using the `--names-file` switch"
The `--names-file` switch is intended to pass a text file with the names of the tests to run. It only works with integration tests. Unit tests don't run if you pass the `--names-file` switch. I also tried adding unit tests to the `whitelist.txt`, but they cause an error. Perhaps we need to run the tests twice, once with the whitelist, and again running unit tests.

[2017-05-26 15:58] rallytime commented on #374
I should note here that `2016.11` should work with @cro's proxy minion test additions, but I wasn't able to merge those changes forward to `nitrogen` or `develop` because of the large refactors to the test suite. I commented about that [here](https://github.com/saltstack/salt/pull/41113#issuecomment-303460715) on @cro's pull request.

[2017-05-26 16:06] cro commented on #374
Thanks Nicole.  I will take an AI to fix these for Nitrogen.

*--cro*
C. R. Oldham
Senior Platform Engineer, SaltStack
cr@saltstack.com / 801-564-4673

On Fri, May 26, 2017 at 9:58 AM, Nicole Thomas <notifications@github.com>
wrote:

[2017-05-26 16:29] dubb-b commented on #374
@Ch3LL Ill work on this...

[2017-05-26 18:24] terminalmage commented on #354
Fixed in https://github.com/saltstack/salt/pull/41468

[2017-05-26 18:24] #354 closed

[2017-05-26 18:49] Inveracity commented on #321
I added that code because the documentation for GCE states:
[code]
I believe if you create a new organization/project it'll be there, but I think this was something that got added to GCE after the original gce module was written for salt - but that's a guess

[2017-05-26 19:02] terminalmage commented on #339
I can't get this to fail on nitrogen, but I can on develop. @rallytime, please ping me after the next time you complete a merge-forward from nitrogen to develop, it's possible that this was already fixed.

[2017-05-26 19:30] rallytime commented on #339
@terminalmage I _just_ merged one in here about an hour ago: https://github.com/saltstack/salt/pull/41466

[2017-05-26 20:39] gtmanfred commented on #317
I am unable to replicate this, except for in jenkins builds

Even when building the server from the 2017.5 jenkins slave, the server still works fine.

[2017-05-26 20:58] terminalmage commented on #339
I've found the issue here. The states in this test use file.accumulated, which accumlate data in a msgpack-serialized dict, which the file.blockreplace state iterates over to include the accumulated data between the block markers. The failures come down to the hashing being different in different Python versions, resulting in different iteration order, which the state does not account for (likely

[2017-05-26 21:00] terminalmage commented on #339
Fixed in https://github.com/saltstack/salt/pull/41471.

[2017-05-26 21:00] #339 closed

[2017-05-26 21:22] dubb-b commented on #374
I added jobs for 2016.11 @cro can you validate that they are ok?
https://jenkins.saltstack.com/job/branch_tests/job/Proxy/

The Cent7 one failed, I think it looked right. But not 100% sure.

[2017-05-26 21:36] cro commented on #374
I'm not sure they are being run.  When I look through the tests I don't see
any 'integration.proxy.*'.  There are some unit tests, but they were not
part of my PR and didn't need the proxy daemons running.  I setup
runtests.py to require --proxy (or -P/-p, can't remember the case) to
execute the proxy integration tests.

*--cro*
C. R. Oldham
Senior Platform Engineer, SaltStack
cr@saltstack.com / 8

[2017-05-27 01:13] gtmanfred commented on #317
Ok, i replicated this finally, but only with salt-jenkins-build

[2017-05-30 14:29] terminalmage commented on #341
It looks like the Ubuntu 17 tests haven't run in a few days.

[2017-05-30 14:33] terminalmage commented on #341
Actually, I think I might have found a possible explanation. Looking at the salt-runtests.log for the most recent run, I found this:

[code]

It's possible that one of the tests is overriding the in-memory pillar data. I'm digging further now.

[2017-05-30 14:45] terminalmage commented on #341
Actually no, this error only occurs during the blackout test, when it should.

[2017-05-30 14:58] Ch3LL commented on #372
These two PRs should get the tests running on 2017.5 for mac: https://github.com/saltstack/salt-jenkins/pull/377 and https://github.com/saltstack/salt-jenkins/pull/376

[2017-05-30 18:55] rallytime opened #378 "[nitrogen] Fix test flakiness for test_exit_status_correct_usage test"
PR https://github.com/saltstack/salt/pull/41382 introduced some flakiness for the `integration.shell.test_master.MasterTest.test_exit_status_correct_usage` test. This needs to be addressed and fixed.

Before that PR was merged, the test wasn't failing. However, after that test was adjusted and the PR was merged in, the test started failing sporadically on the nitrogen branch. The behavior is now t

[2017-05-30 18:56] cachedout commented on #378
@DmitryKuzmenko This task shouldn't be started until the Py3 test task is completed. Thanks.

[2017-05-31 14:18] Ch3LL commented on #372
Confirmed both Mac10.11 and 10.12 are now running for python2 on nitrogen

[2017-05-31 14:18] #372 closed

[2017-05-31 14:40] rallytime commented on #372
Nice job!

[2017-05-31 17:31] dubb-b commented on #374
@Ch3LL
I have the 2016.11 Jobs setup and working for CentOS7 and Ubuntu 16. The 2017.5/Nitrogen are not complete. I will finish them when @cro fixes it for Nitrogen.

[2017-05-31 21:39] gtmanfred commented on #317
It is caused by the ssh session.

This was kicked off with `ssh -t -t -l root localhost /usr/bin/python3 /testing/tests/runtests.py -vv --run-destructive`

https://gist.github.com/gtmanfred/002b87c1a0e1800efd9e25b84ed83cc2

This was the only way I could get this to happen.

Daniel

[2017-06-01 13:19] Ch3LL commented on #321
I think thats only for the new vpc network modes, because we currently use an old vpc network setup a while ago and there is no default subnetwork. So looks like the fix was merged so its just not a default anymore is all. Thanks :)

[2017-06-01 13:19] #321 closed

[2017-06-01 13:38] Ch3LL opened #379 "MacOSX 10.12 Fix test_computer_sleep test"
Currently the test: `integration.modules.test_mac_power.MacPowerModuleTest.test_computer_sleep` is failing on MacOSX 10.12 with the following error on the head of 2017.5:

[code]

[2017-06-01 13:41] Ch3LL opened #380 "MacOSX 10.12 Fix test_harddisk_sleep test"
Currently the test `integration.modules.test_mac_power.MacPowerModuleTest.test_harddisk_sleep` is failing on MacOSX 10.12 on head of 2017.4 with following error:

[code]

[2017-06-01 13:43] Ch3LL opened #381 "MacOSX 10.12 Fix test_user_present_gid_from_name test"
Currently the test `integration.states.test_user.UserTest.test_user_present_gid_from_name` is failing on MacOSX 10.12 on the head of nitrogen with the following error:

[code]

[2017-06-01 13:46] Ch3LL opened #382 "MacOSX 10.12 Fix test_user_present_gid_from_name_default test"
Currently the test `integration.states.test_user.UserTest.test_user_present_gid_from_name_default` is failing on MacOSX on the head of nitrogen with the following error:

[code]

[2017-06-01 13:49] Ch3LL opened #383 "MacOSX 10.12 Fix test_user_present_nondefault test"
Currently the test `integration.states.test_user.UserTest.test_user_present_nondefault` is failing on MacOSX on the head of nitrogen with the following error:

[code]

[2017-06-01 13:53] Ch3LL opened #384 "MacOSX Fix Git Pillar Tests"
Currently the following git pillar tests are failling:
- integration.pillar.test_git_pillar.TestGitPythonSSH.test_includes_disabled
- integration.pillar.test_git_pillar.TestGitPythonSSH.test_includes_enabled
- integration.pillar.test_git_pillar.TestGitPythonSSH.test_multiple_sources_dev_master_merge_lists
- integration.pillar.test_git_pillar.TestGitPythonSSH.test_multiple_sources_dev_master_no_mer

[2017-06-01 13:56] Ch3LL opened #385 "MacOSX Fix test_list_present_inexistent_nested test"
Currently the test `unit.states.test_grains.GrainsTestCase.test_list_present_inexistent_nested` is failing on MacOSX on the head of nitrogen with the following error:

[code]

[2017-06-01 14:02] Ch3LL opened #386 "MacOSX Fix test_get_locale test"
Currently the test `integration.modules.test_locale.LocaleModuleTest.test_get_locale` is failing on MacOSX on the head of nitrogen with the following error:

[code]

[2017-06-01 14:04] Ch3LL opened #387 "MacOSX Fix test_set_locale test"
Currently the test `integration.modules.test_locale.LocaleModuleTest.test_set_locale` is failing on MacOSX on the head of nitrogen with teh following error:

[code]

[2017-06-01 14:06] Ch3LL opened #388 "MacOSX Fix test_issue_1959_virtualenv_runas test"
Currently the test `integration.states.test_virtualenv.VirtualenvTest.test_issue_1959_virtualenv_runas` is failing on MacOSX with the following error:

[code]

[2017-06-01 14:10] Ch3LL opened #389 "MacOSX 10.12 Fix test_list_record_types test"
Currently the test `integration.modules.test_libcloud_dns.LibcloudDNSTest.test_list_record_types` is failing on MacOSX 10.12 on the head of nitrogen with the following error:

[code]

[2017-06-01 14:12] Ch3LL opened #390 "MacOSX Fix test_archive_extracted_with_root_user_and_group test"
Currently the test `integration.states.test_archive.ArchiveTest.test_archive_extracted_with_root_user_and_group` is failing on MacOSX on the head of nitrogen with the following error:

[code]

[2017-06-01 14:14] Ch3LL opened #391 "MacOSX Fix test_managed_check_cmd test"
Currently the test `integration.states.test_file.FileTest.test_managed_check_cmd` is failing on MacOSX on the head of nitrogen with the following error:

[code]

[2017-06-01 14:16] Ch3LL opened #392 "MacOSX Fix test_managed_check_cmd test_get_hwclock_aix"
Currently the test `unit.modules.test_timezone.TimezoneModuleTestCase.test_get_hwclock_aix` is failing on MacOSX on the head of nitrogen with the following error:

[code]

[2017-06-01 14:19] Ch3LL opened #393 "MacOSX Fix test_clean_old_jobs test"
Currently the test `unit.returners.test_local_cache.Local_CacheTest.test_clean_old_jobs` is failing on MacOSX on the head of nitrogen with the following error:

[code]

[2017-06-01 14:21] Ch3LL opened #394 "MacOSX Fix test_not_clean_new_jobs test"
Currently the test `unit.returners.test_local_cache.Local_CacheTest.test_not_clean_new_jobs` is failing on MacOSX on the head of nitrogen with the following error:

[code]

[2017-06-01 14:37] Ch3LL opened #395 "Python3 Fix Test: `integration.cloud.providers.test_digital_ocean.DigitalOceanTest.test_instance`"
Currently the salt-cloud test `integration.cloud.providers.test_digital_ocean.DigitalOceanTest.test_instance` is failing on python3 with the following failure:

[code]

[2017-06-01 14:40] Ch3LL opened #396 "Python3 Fix Test: JoyentTest.test_instance"
Currently the following test: `integration.cloud.providers.test_joyent.JoyentTest.test_instance` is failing on python3 salt-cloud tests with the error:

[code]

[2017-06-01 14:41] Ch3LL opened #397 "Python3: Fix Test: AzureTest.test_instance"
Currently the test `integration.cloud.providers.test_msazure.AzureTest.test_instance` is failing on python3 salt-cloud tests on the head of nitrogen with the error:

[code]

[2017-06-01 14:44] Ch3LL opened #398 "Python 3 Fix test: AzureTest.test_instance"
Currently the test `integration.cloud.providers.test_msazure.AzureTest.test_instance` is failing on python3 salt-cloud tests on the head of nitrogen with the error:

[code]

[2017-06-01 14:45] Ch3LL opened #399 "Python 3 Fix test: RackspaceTest.test_instance"
Currently the test `integration.cloud.providers.test_rackspace.RackspaceTest.test_instance` is failing on python3 salt-cloud tests on the head of nitrogen with error:

[code]

[2017-06-01 14:46] Ch3LL opened #400 "Python 3: Fix test: VMWareTest.test_instance"
Currently the test `integration.cloud.providers.test_vmware.VMWareTest.test_instance` is failing on python3 salt-cloud tests on the head of nitrogen with the error:

[code]

[2017-06-01 14:50] Ch3LL opened #401 "Python 3 Fix test: VultrTest.test_instance"
Currently the test `integration.cloud.providers.test_vultr.VultrTest.test_instance` is failing on python3 salt-cloud tests on the head of nitrogen with the error:

[code]

[2017-06-01 15:58] Ch3LL opened #402 "Python2 Salt-Cloud Tests Not Running"
Currently the python2 salt-cloud tests are not getting through a complete run. I think this is related to the switch from pypi to the new nexus pypi repo. Here is where its failing at:

[code]

[2017-06-01 16:45] cachedout commented on #378
Per discussion with @Ch3LL we are going to ignore these failures at present until @DmitryKuzmenko can get to them.

[2017-06-01 17:09] Ch3LL commented on #371
I'm running into this issue currently: https://github.com/pediapress/timelib/issues/6

so timelib won't even install on python3 Looking at possible workarounds because I believe this is needed.

[2017-06-01 18:25] #317 closed

[2017-06-01 18:26] rallytime commented on #317
Nice work on this one @gtmanfred! That was a difficult one to track down.

[2017-06-01 18:29] rallytime commented on #398
This looks like it is a duplicate of #397. Please let me know if this is incorrect @Ch3LL.

[2017-06-01 18:29] #398 closed

[2017-06-01 18:41] gtmanfred commented on #317
We need to add `--test-with-bash` to the Arch 2017.5 python3 test run once salttesting is upgrade to 2017.6.1.

Daniel

[2017-06-01 18:43] rallytime opened #403 "Update version of salttesting on 2017.5 branch node"
Currently it is running `Version: 2017.2.23`, but we need to update it to the latest version that was just released, [2017.6.1](https://github.com/saltstack/salt-testing/releases/tag/v2017.6.1) in order to completely fix #317.

Hopefully updating the version of salttesting will not affect anything, but we should do this when it is quieter just in case.

Once the version is updated and everything i

[2017-06-01 22:47] cachedout commented on #341
@terminalmage Can you come back to this one in the morning?

[2017-06-01 22:47] cachedout commented on #342
@garethgreenaway Can you come back to this one in the morning? Loop in @terminalmage or @rallytime if you need some assistance.

[2017-06-01 22:53] rallytime commented on #401
@Ch3LL This should be fixed by https://github.com/saltstack/salt/pull/41558, but let's see how the cloud tests go in case I missed something. Please let me know how the test run goes after that PR is merged.

[2017-06-01 22:54] rallytime commented on #400
@Ch3LL This should be fixed by https://github.com/saltstack/salt/pull/41558, but let's see how the cloud tests go in case I missed something. Please let me know how the test run goes after that PR is merged.

[2017-06-01 22:54] rallytime commented on #399
@Ch3LL This should be fixed by https://github.com/saltstack/salt/pull/41558, but let's see how the cloud tests go in case I missed something. Please let me know how the test run goes after that PR is merged.

[2017-06-01 22:54] rallytime commented on #397
@Ch3LL This should be fixed by https://github.com/saltstack/salt/pull/41558, but let's see how the cloud tests go in case I missed something. Please let me know how the test run goes after that PR is merged.

[2017-06-01 22:54] rallytime commented on #396
@Ch3LL This should be fixed by https://github.com/saltstack/salt/pull/41558, but let's see how the cloud tests go in case I missed something. Please let me know how the test run goes after that PR is merged.

[2017-06-01 22:54] rallytime commented on #395
@Ch3LL This should be fixed by https://github.com/saltstack/salt/pull/41558, but let's see how the cloud tests go in case I missed something. Please let me know how the test run goes after that PR is merged.

[2017-06-01 23:26] garethgreenaway commented on #342
@cachedout Will do.

[2017-06-01 23:37] Ch3LL commented on #371
Okay I got the 10.12 tests running but I'm running into this issue: github.com/saltstack/salt-jenkins/issues/356 when trying to start the tests with python3. I will add 10.11 tests next, but 10.12 python3 tests won't start and are blocked on that issue.

[2017-06-01 23:53] Ch3LL commented on #356
Looks like I am able to replicate this. Digging into the salt-runtests.py log here is what it shows:

[code]

[2017-06-02 05:52] terminalmage commented on #341
Yeah, I'll take another look.

[2017-06-02 13:56] terminalmage commented on #341
This no longer appears to be failing. From the most recent build's [console log](https://jenkins.saltstack.com/job/branch_tests/job/2017.5/view/Python%203/job/salt-linode-py3-ubuntu17/64/consoleFull):

[code]

[2017-06-02 14:50] rallytime commented on #341
Hmm, I saw it fail on a build just yesterday [right here](https://jenkins.saltstack.com/job/branch_tests/job/2017.5/view/Python%203/job/salt-linode-py3-ubuntu17/63/), but I don't see it on the last run. I think this is a flaky test that is having problems in PY3. It appears from this discussion that this test has a habit of clearing up and then reappearing (as seen in [this comment](https://github

[2017-06-02 14:51] rallytime commented on #341
@terminalmage and @cachedout ^

[2017-06-02 16:18] terminalmage commented on #341
Yeah, but these tests are pretty straightforward. These two runners both do the same thing: run test.ping on all minions with accepted keys. The weird thing here is that the ``test_down`` test is failing at the same time as the ``test_up`` test, which doesn't really make sense. If anything, the ``test_up`` test should fail while the ``test_down`` one should pass. With both failing, this suggests t

[2017-06-05 18:35] gtmanfred commented on #356
I can successfully run the salt master and minion on macOS.
[code]

[2017-06-05 19:19] gtmanfred commented on #356
@chalzstrassen if you check the `locale` command, does it say all your locales are `C`?

If you `export LANG=en_US.UTF-8` or another UTF locale, does the test suite run?

It works here.

[2017-06-05 20:05] #386 closed

[2017-06-05 20:05] #387 closed

[2017-06-05 20:58] terminalmage commented on #378
https://github.com/saltstack/salt/pull/41592 should fix this.

@DmitryKuzmenko did not cause this problem in https://github.com/saltstack/salt/pull/41382, his addition of the code to try to start and stop the daemon a second time actually helped point to the actual problem, which was unrelated to any of the code in his PR.

[2017-06-05 21:44] Ch3LL commented on #401
I'm still seeing the same error:

[code]

[2017-06-05 21:48] Ch3LL commented on #397
This is passing now! woot woot

[2017-06-05 21:48] #397 closed

[2017-06-05 21:49] Ch3LL commented on #400
This is passing now

[2017-06-05 21:49] #400 closed

[2017-06-05 21:49] Ch3LL commented on #399
This is passing now :)

[2017-06-05 21:49] #399 closed

[2017-06-05 21:50] Ch3LL commented on #395
This is passing now

[2017-06-05 21:50] #395 closed

[2017-06-05 22:55] rallytime commented on #396
@Ch3LL Did this one fail? I see you removed the label, but I didn't see a comment from you. I don't have joyent configured currently, so just checking before I go down this road.

[2017-06-05 23:29] rallytime commented on #403
This isn't needed right now, as https://github.com/saltstack/salt/pull/41595 fixes it instead. Closing.

[2017-06-05 23:29] #403 closed

[2017-06-06 03:57] rallytime commented on #401
Ah, I set up the vultr cloud driver and got this to fail in PY3. This PR fixes the issue nicely and should fix the tests as well: https://github.com/saltstack/salt/pull/41600

@Ch3LL Let me know if this still needs more work after the next test run.

[2017-06-06 12:50] terminalmage commented on #378
Confirmed that merging my PR fixed the failures. Closing.

[2017-06-06 13:21] terminalmage commented on #341
After getting some debug logging merged, it looks like when there is a failure it is because the return event never got fired to the master. See [this gist](https://gist.github.com/terminalmage/6e6594e8a1f69b65de21981fb7e0c1ea) for an example. In this case, only the manage_down job failed. There are no ``fn_ret`` log lines in the logging for that test, which means there were no events returned by

[2017-06-06 13:24] terminalmage commented on #341
https://github.com/saltstack/salt/pull/41606 reverts some of the debug logging that I've added and adds new logging to the ``get_cli_event_returns`` generator.

[2017-06-06 13:25] #391 closed

[2017-06-06 13:26] #390 closed

[2017-06-06 15:09] #383 closed

[2017-06-06 15:22] #381 closed

[2017-06-06 15:22] #382 closed

[2017-06-06 15:27] Ch3LL commented on #396
Yes it failed. Apologies, I must not have hit comment button

[2017-06-06 16:48] terminalmage commented on #341
OK, well that debug logging didn't do what I hoped it would. Instead of identifying problems with the `get_cli_event_returns` generator ignoring events from `get_iter_returns`, it instead shows that the returns themselves are unreliable. One of the things I added with the recent changes to the debug logging was to log all events coming out of `get_iter_returns`. What this showed in [this gist](htt

[2017-06-06 18:41] gtmanfred commented on #385
I am unable to replicate this

[code]

Running a test to verify if jenkins works. http://mac-jenkins.lehi.saltstack.net:8080/job/2017.5/job/macOS-10.12/124/

[2017-06-06 19:14] #392 closed

[2017-06-06 19:27] gtmanfred commented on #388
Fixed, this is caused by mac_user.add not creating the home directory.

[2017-06-06 19:40] gtmanfred commented on #389
I am also seeing this pass, will see if it fails here http://mac-jenkins.lehi.saltstack.net:8080/job/2017.5/job/macOS-10.12/124/console

[2017-06-06 20:01] terminalmage commented on #341
After adding yet more logging, it appears that the published command isn't even being executed by the targeted minions.

https://gist.github.com/terminalmage/546108bf0d4c2db4928534d26f83827c

You should be seeing log entries saying that a given minion has received the test.ping, as well as the event the minion returns to the master. In this case, both of the tests are failing because neither of th

[2017-06-06 21:26] #384 closed

[2017-06-06 21:43] Ch3LL commented on #342
Correct me if i'm wrong but I believe these PRs will resolve this issue: https://github.com/saltstack/salt/pull/41614 and https://github.com/saltstack/salt/pull/41580

[2017-06-06 22:09] gtmanfred commented on #385
This fails on jenkins, but works locally.

[2017-06-06 22:14] garethgreenaway commented on #342
@Ch3LL Yup! Once those are merged in this one can get closed out.

[2017-06-07 03:29] chalzstrassen commented on #356
@gtmanfred I still cannot bring up the daemons. I even made sure to set `LANG`.
[code]

[2017-06-07 15:03] gtmanfred commented on #356
What is the output of locale? Also, you shouldn't need this anymore, can
you pull from the latest nitrogen branch?
On Tue, Jun 6, 2017 at 9:29 PM Charles Chen <notifications@github.com>
wrote:

[2017-06-07 15:19] #379 closed

[2017-06-07 15:19] #388 closed

[2017-06-07 15:20] Ch3LL opened #404 "[Python 3 Macosx] Fix integration.modules.test_cp.CPModuleTest.test_get_file_str_https"
Currently the test `integration.modules.test_cp.CPModuleTest.test_get_file_str_https ` is failing on MacOSX with the error:

[code]

[2017-06-07 15:23] Ch3LL opened #405 "[Python 3 MacOSX] Fix integration.modules.test_cp.CPModuleTest.test_get_file_str_local"
Error Message

[2017-06-07 15:25] Ch3LL opened #406 "[Python 3 MacOSX] Fix integration.modules.test_cp.CPModuleTest.test_get_url_file_no_dest"
Error Message

[2017-06-07 15:26] Ch3LL opened #407 "[Python 3 MacOSX] Fix multiple test_cp tests"
The following tests have the same error:
integration.modules.test_cp.CPModuleTest.test_get_url_file
integration.modules.test_cp.CPModuleTest.test_get_file_gzipped
integration.modules.test_cp.CPModuleTest.test_get_url_https
integration.modules.test_cp.CPModuleTest.test_get_url_https_dest_empty

Error Message

Stacktrace

  File "/testing/tests/integration/modules/test_cp.py", line 74, in test_get_f

[2017-06-07 15:28] Ch3LL opened #408 "[Python 3 MacOSX] Fix integration.modules.test_grains.TestModulesGrains.test_get_grains_int"
Error Message

Stacktrace

  File "/testing/tests/integration/modules/test_grains.py", line 139, in test_get_grains_int
    get_grain, int, msg='grain: {0} is not an int or empty'.format(grain))
AssertionError: 2048.0 is not an instance of <class 'int'> : grain: mem_total is not an int or empty

[2017-06-07 15:29] Ch3LL opened #409 "[Python 3 MacOSX] Fix integration.cli.test_grains.SSHGrainsTest.test_grains_id"
Error Message

Stacktrace

  File "/testing/tests/integration/cli/test_grains.py", line 89, in test_grains_id
    self.assertEqual(cmd, 'localhost')
AssertionError: {'_error': 'Failed to return clean data',[1209 chars]: 10} != 'localhost'

[2017-06-07 15:32] Ch3LL opened #410 "[Python 3 MacOSX] Fix multiple test_pip tests"
The flowing tests are failing with the same error:

integration.modules.test_pip.PipModuleTest.test_pip_install_multiple_editables
integration.modules.test_pip.PipModuleTest.test_pip_install_multiple_editables_and_pkgs

Error Message

Stacktrace

  File "/testing/tests/integration/modules/test_pip.py", line 424, in test_pip_install_multiple_editables_and_pkgs
    self.assertEqual(ret['retcode'], 0

[2017-06-07 15:33] Ch3LL opened #411 "[Python 3 MacOSX] Fix integration.modules.test_mac_power.MacPowerModuleTestSleepOnPowerButton.test_sleep_on_power_button"
Error Message

Stacktrace

  File "/testing/tests/integration/modules/test_mac_power.py", line 189, in test_sleep_on_power_button
    self.run_function('power.get_sleep_on_power_button'))
AssertionError: True is not false

[2017-06-07 15:35] Ch3LL opened #412 "[Python 3 MacOSX] Fix integration.cli.test_custom_module.SSHCustomModuleTest tests"
The following ssh tests are failing with the same error:
integration.cli.test_custom_module.SSHCustomModuleTest.test_ssh_regular_module
integration.cli.test_custom_module.SSHCustomModuleTest.test_ssh_custom_module
integration.cli.test_custom_module.SSHCustomModuleTest.test_ssh_sls_with_custom_module

Error Message

Stacktrace

  File "/testing/tests/integration/cli/test_custom_module.py", line 63,

[2017-06-07 15:38] Ch3LL opened #413 "[Python 3 MacOSX] Fix integration.modules.test_mac_power.MacPowerModuleTest.test_display_sleep"
Error Message

Stacktrace

  File "/testing/tests/support/helpers.py", line 86, in wrap
    return caller(cls)
  File "/testing/tests/integration/modules/test_mac_power.py", line 81, in test_display_sleep
    self.assertTrue(self.run_function('power.set_display_sleep', ['Off']))
AssertionError: False is not true

[2017-06-07 15:39] Ch3LL opened #414 "[Python 3 MacOSX] Fix integration.modules.test_state.StateModuleTest.test_requisites_prereq_simple_ordering_and_errors"
Error Message

Stacktrace

  File "/testing/tests/integration/modules/test_state.py", line 887, in test_requisites_prereq_simple_ordering_and_errors
    result = self.normalize_ret(ret)
  File "/testing/tests/integration/modules/test_state.py", line 594, in normalize_ret
    for item, descr in six.iteritems(ret):
  File "/testing/salt/ext/six.py", line 588, in iteritems
    return iter(d.items(**k

[2017-06-07 15:43] Ch3LL opened #415 "[Python 3 MacOSX] Fix integration.modules.test_archive.ArchiveTest Unicode Errors"
The following tests are failing with the same error:

integration.modules.test_archive.ArchiveTest.test_unzip
integration.modules.test_archive.ArchiveTest.test_tar_pack
integration.modules.test_archive.ArchiveTest.test_gunzip
integration.modules.test_archive.ArchiveTest.test_cmd_unzip

Error Message

Stacktrace

  File "/testing/tests/integration/modules/test_archive.py", line 200, in test_cmd_unz

[2017-06-07 15:45] Ch3LL opened #416 "[Python 3 MacOSX] Fix integration.modules.test_archive.ArchiveTest AttributeError"
The following tests are failing with the same error:

integration.modules.test_archive.ArchiveTest.test_cmd_zip
integration.modules.test_archive.ArchiveTest.test_gzip
integration.modules.test_archive.ArchiveTest.test_tar_unpack
integration.modules.test_archive.ArchiveTest.test_zip

Error Message

Stacktrace

  File "/testing/tests/integration/modules/test_archive.py", line 215, in test_zip
    sel

[2017-06-07 16:42] Ch3LL commented on #380
This is not failing anymore. Will re-open if it does and see if its flaky.

[2017-06-07 16:42] #380 closed

[2017-06-07 16:50] cachedout commented on #378
Strong work here.

[2017-06-07 16:53] Ch3LL commented on #385
I was able to replicate this by running it with all unit tests. Try this: `python runtests.py -u`

[2017-06-07 16:58] Ch3LL commented on #389
I was able to replicate the failure. I will build you a box so you can replicate it there and send you the details later.

[2017-06-07 17:09] cachedout commented on #378
We are still seeing this. Here is a failed test from this morning on the Nitrogen branch, despite this fix being merged there two days ago:

https://jenkins.saltstack.com/job/branch_tests/job/2017.5/job/salt-dev-linode-ubuntu16/lastCompletedBuild/testReport/integration.shell.test_master/MasterTest/test_exit_status_correct_usage/

[2017-06-07 18:32] rallytime commented on #401
I checked the last test run results and it looks like this is fixed.

[2017-06-07 18:32] #401 closed

[2017-06-07 19:42] Ch3LL commented on #394
This is failing because its not able to parse the config file. I'm seeing this error:

[code]

I think its related to https://github.com/saltstack/salt/pull/38554 but reverting PR does not help

I'm going to take a break from this one and re-visit with a clearer mind but I might be stuck on this one, since I am new to the yaml code.

[2017-06-07 19:43] Ch3LL commented on #393
probably directly related to: https://github.com/saltstack/salt-jenkins/issues/394

[2017-06-07 20:18] gtmanfred commented on #385
Narrowed down.

`python -m tests.runtests -n unit.loader.test_loader.LazyLoaderVirtualEnabledTest.test_disable -n unit.states.test_grains`

[2017-06-07 21:06] gtmanfred commented on #385
We need to update pyyaml to 3.12 on the mac and this test works.

[2017-06-07 21:16] Ch3LL commented on #393
upgrading to pyyaml 3.12 worked to get the tests running. Thanks to @gtmanfred for the suggestion. I owe him a :beer:

Will work on adding this requirement to the salt-jenkins states after fixing another mac issue i'm working on

[2017-06-07 21:37] #408 closed

[2017-06-07 21:42] #385 closed

[2017-06-07 21:42] #393 closed

[2017-06-07 21:42] #394 closed

[2017-06-07 22:26] rallytime commented on #402
@Ch3LL This is fixed now. However, I noticed that the `2017.5-cloud-ubuntu14-py2` build runs the regular `git.salt` states and _then_ runs the `cloud-only` states. The cloud tests should only need the `cloud-only` states.

[2017-06-08 06:02] terminalmage commented on #378
See https://github.com/saltstack/salt/pull/41643.

[2017-06-08 07:02] chalzstrassen commented on #356
[code]
I pulled from the latest nitrogen branch and I am still unable to start the minion and sub-minion daemons.

[2017-06-08 14:17] gtmanfred commented on #356
Can you run the command with -vvv and also gist the master and minion logs
from the rootdirs in /tmp/salt-tests-tmpdir as well as the log from
/tmp/runtests.log
On Thu, Jun 8, 2017 at 1:02 AM Charles Chen <notifications@github.com>
wrote:

[2017-06-08 14:35] Ch3LL commented on #402
Just checked the py2 run. Looks like vmware is failing. I think its a bootstrap error though for suse. Im going to run again because it looks like it just wasn't able to reach a suse external website and i know the vmware tests were working previously. I'll close this issue since the tests are working now but will create another issue if needed. Thanks!

[2017-06-08 14:35] #402 closed

[2017-06-08 16:44] gtmanfred commented on #356
It is also worth noting that our mac tests are now running successfully on py3.

[2017-06-08 19:45] gtmanfred commented on #389
Fixed in #41657

[2017-06-08 19:45] #389 closed

[2017-06-08 20:28] cachedout commented on #378
Fix merged. Re-closing.

[2017-06-08 23:26] rallytime commented on #396
The issue here is that on PY3, when the `RSA.importkey` function is called [here](https://github.com/saltstack/salt/blob/develop/salt/cloud/clouds/joyent.py#L1074), the library's own PY2/3 compat chokes on the type coming in from the file handle. If `rsa_key = RSA.importKey(kh_)` is changed to `rsa_key = RSA.importKey(kh_.read())` in order for the `importKey` function to not stacktrace, we then hi

[2017-06-09 14:14] Ch3LL commented on #414
This is the reason it can't iterate the ret. The ret is the following:

[code]

So diving into that error now

[2017-06-09 15:17] rallytime commented on #342
Back-port to Nitrogen is here: https://github.com/saltstack/salt/pull/41674

[2017-06-09 16:05] rallytime commented on #396
Another point of reference:

If you keep the `rsa_key = RSA.importKey(kh_)` line as it currently is in the code (without the `read()`), and change the mode the file is opened in to `rb` instead of just `r`, you get the following stacktrace:
[code]

[2017-06-09 16:19] gtmanfred commented on #410
Pip tests did not fail in the latest py3 run.

http://mac-jenkins.lehi.saltstack.net:8080/job/2017.5/job/macOS-py3-10.12/23/#showFailuresLink

[2017-06-09 16:20] #410 closed

[2017-06-09 16:51] Ch3LL opened #419 "[python 2 salt-cloud] Fix Vmware Test"
Vmware is currently failing on python2 run of the cloud tests in nitrogen:

[code]

It keeps getting a 400 when trying to curl an external opensuse link. I am running the tests on more time but wanted to create this issue if it fails once again. This might be a bootstrap issue since we recently did a bootstrap release.

[2017-06-09 16:52] rallytime commented on #378
@terminalmage and @cachedout Unfortunately, it looks like this test is still failing on 2017.5 after the latest fix was merged.

[2017-06-09 19:16] Ch3LL commented on #419
Okay the tests failed again. Like I originally stated, I think this is because of a bootstrap issue and might not indicate a salt-cloud issue but might need more diving into it to make sure.

[2017-06-09 20:22] terminalmage commented on #378
There are some differences, it seems, in ``psutil.Process.cmdline()`` in Python 3 that I didn't catch because I couldn't reproduce the failures on Python 3 (I could only do so on Python 2).

I've opened https://github.com/saltstack/salt/pull/41685 to fix this.

[2017-06-12 05:56] chalzstrassen commented on #356
https://gist.github.com/chalzstrassen/2a0c311771a0ef4d17b5879d6ef28aa1

On Thu, Jun 8, 2017 at 9:44 AM, Daniel Wallace <notifications@github.com>
wrote:

[2017-06-12 17:26] rallytime opened #420 "Ubuntu distros and Debian 8 are failing on junos-eznc pip install"
These distros suddenly started failing to pip install the `junos-eznc` pacakge. I am still tracking down why and how to fix it. I can't reproduce this failure on the docker images I usually test salt-jenkins states on, so something else is going on.

[code]

[2017-06-12 17:48] Ch3LL commented on #416
This will be fixed by whatever is decided by this comment: https://github.com/saltstack/salt/pull/41664#issuecomment-307484874

[2017-06-12 17:49] Ch3LL commented on #415
This will be fixed by whatever is fixed in this comment https://github.com/saltstack/salt/pull/41664#issuecomment-307484874

[2017-06-12 17:53] Ch3LL opened #421 "[Python 3 MacOSX] Create a Python3 MacOSX 10.11 Image for 2017.5"
Need to create a snapshoted image for MacOSX 10.11 for 2017.5

[2017-06-12 19:04] rallytime commented on #420
This is caused by a new release of the `paramiko` package. `junos-eznc` deps on paramiko, which in turn deps on `pynacl`. In the latest release of paramiko, they added a minimum dependency on pynacl, which is what is causing the problem with pip.

This has been fixed with PR #422 which pins the version of paramiko installed on the Debian/Ubuntu distros.

[2017-06-12 19:04] #420 closed

[2017-06-12 22:01] #421 closed

[2017-06-13 03:46] gtmanfred commented on #356
What is your current version of salt?

Currently I have

[code]

I am unable to replicate what you are seeing, all my salt tests are working on mac 10.12

Thanks,
Daniel

[2017-06-13 20:49] Ch3LL opened #424 "[MacOSX Python 3] Tests are hanging"
@Ch3LL commented on [Tue Jun 13 2017](https://github.com/saltstack/salt/issues/41726)

### Description of Issue/Question
Currently the test suite is hanging on Python3 MacOSX 10.11 and 10.12 on the following tests:

[code]

[2017-06-13 20:50] Ch3LL commented on #424
Currently adding more memory to VMs to see if runner completes. Waiting for test results

[2017-06-13 20:57] rallytime commented on #374
https://github.com/saltstack/salt/pull/41617 adds this to nitrogen. It hasn't been merged yet, but just wanted to make sure you knew it was there @dubb-b

[2017-06-13 20:59] gtmanfred commented on #409
Closing, This was solved by putting python3 in the default path for sh on the mac testing boxes

[2017-06-13 20:59] #409 closed

[2017-06-13 20:59] gtmanfred commented on #412
Closing, This was solved by putting python3 in the default path for sh on the mac testing boxes

[2017-06-13 20:59] #412 closed

[2017-06-14 19:30] Ch3LL opened #428 "[2016.11.6] Fix unit.transport.tcp_test.AESReqTestCases.test_badload"
Currently on the head of 2016.11 the test `unit.transport.tcp_test.AESReqTestCases.test_badload` is failing with the error:

[code]

[2017-06-14 19:43] rallytime commented on #428
This is one test that I consider flaky. I think it should still be investigated, but this one has been failing off and on for some time now on all testing branches.

[2017-06-14 19:47] Ch3LL commented on #428
Oh okay I was having a hard time replicating this. I think i replicated it once out of 10 test runs

I did notice that the tests started failing consistently on debian8 on jenkins after this commit: aab55d304abf622685bacf97a415fcffa07fa862 which is this https://github.com/saltstack/salt/pull/41696

But i was only able to reproduce once out of 10 so i will not consider this a 2016.11 blocker then

[2017-06-14 19:49] rallytime commented on #428
Oh interesting...I didn't know there was somewhere that it was failing consistently. I definitely see this fail occasionally across all distros and on each branch. But if something is causing it to fail more frequently, we should look into it. I agree with you that it shouldn't be a blocker though.

[2017-06-14 19:50] Ch3LL commented on #428
Yeah its failing consistantly on jenkins but not when i run it locally. It only replicated once so it might still be flaky but coincidence to fail 4-5 times ina row on debian8

[2017-06-14 19:55] Ch3LL commented on #428
@terminalmage we think this is a flaky test but do you see any obvious relationship between your PR and the test failure?

[2017-06-14 21:29] rallytime commented on #375
This is being tracked elsewhere. Closing.

[2017-06-14 21:29] #375 closed

[2017-06-14 21:34] rallytime commented on #378
Hm, even after that change went in, I am still seeing this fail occasionally. @terminalmage in your opinion, is this a good candidate for the flaky decorator, or is something wrong still with the underlying code that needs to be investigated?

[2017-06-15 08:49] DmitryKuzmenko commented on #378
@terminalmage @rallytime
It looks there's a deeper issue that produces this behavior. Sometimes `Minion._thread_return` subprocesses that are daemonized processes detached from the parent hangs in queue lock acquire and still exist after minion killed. Also the test procedure that kills the minion can't collect these processes becaus their parent is `init` not the minion process. That issue also p

[2017-06-15 14:36] rallytime commented on #378
Ok, thanks for the update and information @DmitryKuzmenko. I will comment out that new part of this test for the time being until you've resolved the deeper issues. Thank you for your work on this!

[2017-06-15 16:39] terminalmage commented on #378
OK, the test did not fail during the test run for a couple days, but did fail in the most recent run (https://jenkins.saltstack.com/job/branch_tests/job/2017.7/view/Python%203/job/salt-linode-py3-ubuntu17/97/). @DmitryKuzmenko I wrote some code in the testprogram classes that seeks out orphans and kills them, which did improve the reliability of this test. But it seems like there is still more wor

[2017-06-15 16:40] terminalmage commented on #378
@DmitryKuzmenko Let me know if I can help in any way.

[2017-06-16 08:14] DmitryKuzmenko commented on #378
@terminalmage thank you! The memory leak issue is not the only orphan problem. Integration tests keep two minion instances running through all the test cycle and these minions collects a lot of hang worker threads. If I'm right the threads are hang somewhere in the multiprocessing logging queue. I'm looking for the reason now.

[2017-06-16 14:51] Ch3LL commented on #404
Fixed by https://github.com/saltstack/salt-jenkins/pull/425

[2017-06-16 14:51] #404 closed

[2017-06-16 14:51] Ch3LL commented on #405
Fixed by https://github.com/saltstack/salt-jenkins/pull/425

[2017-06-16 14:51] #405 closed

[2017-06-16 14:51] Ch3LL commented on #406
Fixed by https://github.com/saltstack/salt-jenkins/pull/425

[2017-06-16 14:51] #406 closed

[2017-06-16 14:51] Ch3LL commented on #407
Fixed by https://github.com/saltstack/salt-jenkins/pull/425

[2017-06-16 14:51] #407 closed

[2017-06-16 14:52] Ch3LL commented on #411
Flaky test. Closing

[2017-06-16 14:52] #411 closed

[2017-06-16 14:52] Ch3LL commented on #413
Flaky Test. Closing

[2017-06-16 14:52] #413 closed

[2017-06-16 14:52] Ch3LL commented on #414
Fixed by https://github.com/saltstack/salt-jenkins/pull/425

[2017-06-16 14:52] #414 closed

[2017-06-16 14:52] Ch3LL commented on #415
Fixed by https://github.com/saltstack/salt-jenkins/pull/425

[2017-06-16 14:52] #415 closed

[2017-06-16 14:52] Ch3LL commented on #416
Fixed by https://github.com/saltstack/salt-jenkins/pull/425

[2017-06-16 14:52] #416 closed

[2017-06-16 14:54] Ch3LL commented on #424
Fixed by https://github.com/saltstack/salt/pull/41784

[2017-06-16 16:36] Ch3LL commented on #419
Okay this was an issue with the template we were using in vmware. One of the repositories was misconfigured so I disabled it. Running another run of cloud tests but this should be resolved now. Will re-open if it is not.

[2017-06-16 17:56] Ch3LL commented on #419
This failed with a different error. Re-opening and will look at later

[2017-06-17 20:22] chalzstrassen commented on #356
My current version is `salt-call 2017.5.0-245-g43bee28`

[2017-06-18 03:34] gtmanfred commented on #356
You will need to rebase to the latest that were changes I made after that
that fix this.
On Sat, Jun 17, 2017 at 3:23 PM Charles Chen <notifications@github.com>
wrote:

[2017-06-19 19:59] dubb-b commented on #374
@rallytime do we need the jenkins jobs created now?

[2017-06-19 20:00] rallytime commented on #374
@dubb-b Looks like that fix was merged, so yeah.

[2017-06-19 21:01] dubb-b commented on #374
2017.7 Proxy tests added and are passing

[2017-06-19 21:02] rallytime commented on #374
@dubb-b Did you add develop ones as well?

[2017-06-19 21:03] dubb-b commented on #374
Nope, I will do it now.

[2017-06-19 21:38] dubb-b commented on #374
@rallytime develop is now added

[2017-06-19 21:38] #374 closed

[2017-06-19 22:13] rallytime commented on #374
Awesome - Thank you!

[2017-06-20 13:13] Ch3LL commented on #419
There were a couple more issues with the opensuse box on our vmware cluster related to repo management. I created a new  clean centos VM and the tests are now pointing towards that and they are passing even in jenkins now.

[2017-06-20 13:13] #419 closed

[2017-06-20 14:43] Ch3LL opened #430 "[Python 3] Fix Arch Tests"
Currently the Python3 Arch tests are failing on the following tests:

unit.templates.test_jinja.TestGetTemplate.test_non_ascii
unit.templates.test_jinja.TestGetTemplate.test_non_ascii_encoding
integration.output.test_output.OutputReturnTest.test_output_unicodebad
unit.modules.test_zypper.ZypperTestCase.test_list_products
integration.modules.test_grains.TestModulesGrains.test_get_core_grains
integr

[2017-06-20 14:45] Ch3LL opened #431 "[Python 3] Fix unit.states.test_grains.GrainsTestCase.test_list_present_inexistent_nested"
Currently the test `unit.states.test_grains.GrainsTestCase.test_list_present_inexistent_nested ` is failing on Python3 Centos7. Here is the stacktrace/error:

[code]

https://jenkins.saltstack.com/job/branch_tests/job/2017.7/view/Python%203/job/salt-linode-py3-cent7/131/testReport/junit/unit.states.test_grains/GrainsTestCase/test_list_present_inexistent_nested/

[2017-06-20 14:47] Ch3LL opened #432 "[Python 3] Fix unit.utils.test_etcd_util tests"
Currently the following tests are failing on Centos7:

unit.utils.test_etcd_util.EtcdUtilTestCase.test_get
unit.utils.test_etcd_util.EtcdUtilTestCase.test_ls
unit.utils.test_etcd_util.EtcdUtilTestCase.test_tree
unit.utils.test_etcd_util.EtcdUtilTestCase.test_watch

Here is the stacktrace/error:

[code]

https://jenkins.saltstack.com/job/branch_tests/job/2017.7/view/Python%203/job/salt-linode-py3-c

[2017-06-20 14:52] Ch3LL opened #433 "[Python 3] Fix unit.modules.test_djangomod.DjangomodCliCommandTestCase.test_django_admin_cli_createsuperuser"
Currently the test `unit.modules.test_djangomod.DjangomodCliCommandTestCase.test_django_admin_cli_createsuperuser ` is failing on Fedora24

[code]

https://jenkins.saltstack.com/job/branch_tests/job/2017.7/view/Python%203/job/salt-linode-py3-fedora24/135/testReport/junit/unit.modules.test_djangomod/DjangomodCliCommandTestCase/test_django_admin_cli_createsuperuser/

[2017-06-20 14:53] Ch3LL commented on #433
This should be fixed by https://github.com/saltstack/salt/pull/41850

[2017-06-20 14:53] #433 closed

[2017-06-20 14:54] Ch3LL opened #434 "[Python 3] Fix unit.states.test_grains.GrainsTestCase.test_list_present_inexistent_nested"
Currently the test `unit.states.test_grains.GrainsTestCase.test_list_present_inexistent_nested` is failing on Fedora 24

[code]

https://jenkins.saltstack.com/job/branch_tests/job/2017.7/view/Python%203/job/salt-linode-py3-fedora24/135/testReport/junit/unit.states.test_grains/GrainsTestCase/test_list_present_inexistent_nested/

[2017-06-20 14:55] Ch3LL opened #435 "[Python 3] Fix unit.test_pyobjects.MapTests.test_map"
The test `unit.test_pyobjects.MapTests.test_map` is failing on Fedora25

[code]

https://jenkins.saltstack.com/job/branch_tests/job/2017.7/view/Python%203/job/salt-linode-py3-fedora25/107/testReport/junit/unit.test_pyobjects/MapTests/test_map/

[2017-06-20 14:56] Ch3LL opened #436 "[Python 3] Fix unit.modules.test_mdadm.MdadmTestCase.test_create"
The test `unit.modules.test_mdadm.MdadmTestCase.test_create` is failing on Fedora 25

[code]

https://jenkins.saltstack.com/job/branch_tests/job/2017.7/view/Python%203/job/salt-linode-py3-fedora25/107/testReport/junit/unit.modules.test_mdadm/MdadmTestCase/test_create/

[2017-06-20 14:58] Ch3LL opened #437 "[Python 3] Fix unit.modules.test_disk.DiskTestCase.test_tune"
The test `unit.modules.test_disk.DiskTestCase.test_tune` is failing on suse42

[code]

https://jenkins.saltstack.com/job/branch_tests/job/2017.7/view/Python%203/job/salt-linode-py3-opensuse42/128/testReport/junit/unit.modules.test_disk/DiskTestCase/test_tune/

[2017-06-20 15:01] Ch3LL commented on #341
Closing for now since this is probably related to memory issues. Will re-open if we see it again.

[2017-06-20 15:01] #341 closed

[2017-06-20 16:28] cachedout commented on #431
Thus far, I can't duplicate this on Cent7

[2017-06-21 11:53] DmitryKuzmenko commented on #437
Fixed by https://github.com/saltstack/salt/pull/41872

[2017-06-21 11:54] DmitryKuzmenko commented on #432
Fixed by https://github.com/saltstack/salt/pull/41859

[2017-06-21 12:49] DmitryKuzmenko commented on #436
Fixed by https://github.com/saltstack/salt/pull/41874

[2017-06-21 16:53] Ch3LL opened #438 "[2016.11] Fix unit.crypt_test.CryptTestCase.test_sign_message"
The test `unit.crypt_test.CryptTestCase.test_sign_message` is failing with message

[code]

I was able to track down the first bad commit to be this merge forward: e685858269

I believe in that merge forward it was this commit https://github.com/saltstack/salt/pull/41750/commits/e44673cdae485cb4ba062170dc63bc7937d841b8 that caused the issue, because it edited the sign_message function in salt/cryp

[2017-06-21 17:10] Ch3LL commented on #438
Okay i think the issue is the test and when both pycryptodome and pycrypto exist. Working on a fix now

[2017-06-21 17:35] DmitryKuzmenko commented on #431
It's more than strange because the `safe_dump` codeline is prepended by
[code]

[2017-06-21 17:43] Ch3LL commented on #438
Okay ti believe the  issue is related to having both pycryptodome and pycrypto on the same box.

On this commit: 2e4a0633dac40143c632487c4742ae6502416f17 which is right before the bad commit this call `m_int = self._key._decrypt(em_int)` in `/usr/lib64/python2.6/site-packages/Cryptodome/Signature/pkcs1_15.py` ends up using the file `/usr/lib64/python2.6/site-packages/Cryptodome/PublicKey/RSA.py` w

[2017-06-22 08:40] #436 closed

[2017-06-22 08:42] #437 closed

[2017-06-22 08:44] #432 closed

[2017-06-22 15:02] terminalmage commented on #434
I haven't been able to reproduce this yet. I've tried in Docker, as well as a Vagrant box, both with salt-jenkins used to install the test deps from the 2017.7 branch. My next step will be to spin up a cloud instance and try the test there.

[2017-06-22 18:02] terminalmage commented on #434
With some help from Brett I got a Linode VM up. I still can't reproduce this failure when running the test standalone, but I _can_ get it to fail when running the unit tests as a whole (which I couldn't do on my Vagrant box). So, progress!

Since this is a unit test and there are no daemons, I'm now re-running the unit tests with the failing test set to launch pudb.

[2017-06-22 20:26] cachedout commented on #431
Maybe a different version of pyyaml is installed on the test machine?

[2017-06-23 08:55] DmitryKuzmenko commented on #431
The same. Checked it already.
Anyway, @terminalmage has a progress with it in scope of #434

[2017-06-26 16:16] gtmanfred commented on #424
This is fixed.

[2017-06-26 16:16] #424 closed

[2017-06-26 16:57] terminalmage commented on #434
Fixed in https://github.com/saltstack/salt/pull/41938.

[2017-06-26 16:57] #434 closed

[2017-06-26 18:34] twangboy opened #439 "Fix unit tests in Windows"
https://docs.google.com/spreadsheets/d/1DjMfwF9KBJbg5-wV3k30T48rYM2beUGwe8ZVVx7J8LE/edit

Also, add some new tests:
https://github.com/saltstack/salt/issues?q=is%3Aopen+is%3Aissue+label%3Aauto-test

[2017-06-27 02:58] terminalmage commented on #435
Fixed by https://github.com/saltstack/salt/pull/41951

[2017-06-27 02:58] #435 closed

[2017-06-27 03:01] terminalmage commented on #431
This is a duplicate of #434 (just a different platform), and was fixed by https://github.com/saltstack/salt/pull/41938

[2017-06-27 03:01] #431 closed

[2017-06-27 13:12] DmitryKuzmenko commented on #435
Thanks @terminalmage.
Anyway I've finished the work I've done for this and both could be used together without conflict. Just your `priority` feature will override the natural (declaration) priority that I've fixed in #41958.

[2017-06-30 14:41] DmitryKuzmenko commented on #430
Results of the issue analysis.

What happens:

Minion is initially started with `LANG='C'`, then the test suite sets the locale using `locale.system` state that uses `locale.set_locale` module. This module sets the system locale but doesn't change the environment in which the minion is running. Also: since minion is a multiprocessing application it's not as easy as `os.environ['LANG'] = ...` to se

[2017-06-30 14:46] DmitryKuzmenko commented on #430
@cachedout I can follow up after vacation or it have to be reassigned to somebody else.

[2017-06-30 15:12] gtmanfred commented on #356
@chalzstrassen did you get a chance to pull down the latest?

Thanks,
Daniel

[2017-06-30 16:37] Ch3LL opened #441 "Add Debian 9 to Auto Tests in Jenkins"
Need to add Debian 9 for 2016.3/2016.11/2017.7/develop for the branch jenkins jobs at https://jenkins.saltstack.com/job/branch_tests/

ping @dubb-b think you can grab this?

[2017-06-30 16:48] rallytime commented on #318
This should probably be on @dubb-b's radar. Fed26 still hasn't bee released yet though. Looks like current schedules is around mid-July. I'm not sure when Linode will provide the image or when we'll have package support available.

[2017-06-30 18:13] dmurphy18 commented on #318
Fedora 26 Final Release Readiness Meeting on Thursday, July 6th @ 19:00 UTC

so maybe by end of week after Independence Day

[2017-06-30 19:10] rallytime commented on #441
@Ch3LL we'll probably need to do another release of the bootstrap script with support for Debian 9 as well before this will working in jenkins.

[2017-06-30 19:39] Ch3LL commented on #441
Good point. Thanks for pointing that out.

[2017-06-30 23:52] rallytime commented on #438
@Ch3LL Is this fixed now with the above PR?

[2017-07-03 14:09] Ch3LL commented on #438
I can't completely confirm because it looks like cent6 is not bootstrapping properly. I'll close for now because I'm pretty certain this will resolve the issue. And will re-open if I find its still broken.

[2017-07-03 14:09] #438 closed

[2017-07-05 07:42] chalzstrassen commented on #356
@gtmanfred I finally got a chance.
I am now getting below:
[code]
[code]

[2017-07-05 12:19] gtmanfred commented on #356
Can you update salt-pytest to the newest git checkout?

On Wed, Jul 5, 2017 at 1:42 AM, Charles Chen <notifications@github.com>
wrote:

[2017-07-05 19:13] #371 closed

[2017-07-06 15:54] Ch3LL opened #450 "Fix integration.cli.test_custom_module.SSHCustomModuleTest.test_ssh_sls_with_custom_module"
The test `integration.cli.test_custom_module.SSHCustomModuleTest.test_ssh_sls_with_custom_module` is currently failing on python3 with the error:

[code]

[2017-07-06 20:25] Ch3LL commented on #450
Fixed by https://github.com/saltstack/salt/pull/42184

[2017-07-06 20:25] #450 closed

[2017-07-07 19:06] rallytime commented on #319
@dubb-b Fixed up this task (see [this comment](https://github.com/saltstack/zh/issues/1270#issuecomment-313763012)). Closing.

[2017-07-07 19:06] #319 closed

[2017-07-07 19:09] rallytime commented on #441
@Ch3LL and @dubb-b I added official Debian 9 support to salt-bootstrap, merged in this morning to the `develop` branch of salt-bootstrap. https://github.com/saltstack/salt-bootstrap/pull/1111

We'll probably want to do a release sometime soon. Fedora 26 is coming out soon as well. I am not sure if we want to wait for that or not.

[2017-07-07 19:11] gtmanfred commented on #430
fixed by https://github.com/saltstack/salt-jenkins/pull/442

[2017-07-07 19:11] #430 closed

[2017-07-07 19:12] dubb-b commented on #441
@rallytime py2 & py3 right?

[2017-07-07 19:31] rallytime commented on #333
This has been fixed. 🎉

Well done @DmitryKuzmenko!

[2017-07-07 19:31] #333 closed

[2017-07-07 21:01] rallytime opened #453 "Debian 8 Py3 tests hang"
The Debian 8 Python 3 builds on both the 2017.7 and develop branches hang at the `17:48:00   test_generateblobs (unit.modules.test_random_org.RandomOrgTestCase)` test. I have been playing around with when the build times out. Right now it _looks_ like the test results are just weird (gray dot), but really the build is hanging, the VM times out, and the test box gets destroyed. Since no tests fail,

[2017-07-11 23:07] rallytime commented on #453
This should be fixed now with https://github.com/saltstack/salt-jenkins/pull/455 and https://github.com/saltstack/salt/pull/42265.

[2017-07-11 23:07] #453 closed

[2017-07-13 21:14] rallytime commented on #318
Looks like Fed 26 is out now. There are images in Linode now. Also, I just tested the current stable bootstrap script and it works just fine out of the box to install git. No additions are necessary to get these tests running.

Note, however, that you'll need to run `-P` as a script argument when installing via git for jenkins.
I am looking into removing this requirement for the future, but the cu

[2017-07-13 21:32] rallytime commented on #318
The next stable version of the bootstrap script will no longer require `-P`. I've fixed this requirement here: https://github.com/saltstack/salt-bootstrap/pull/1114.

[2017-07-20 19:39] dubb-b opened #456 "Proxy Python tests are failing in 2017.7 and 2017.7.1"
This is the error that the tests return:

[code]

[2017-07-24 21:11] rallytime commented on #396
@gtmanfred Fixed this with https://github.com/saltstack/salt/pull/42529

[2017-07-25 18:51] Ch3LL opened #460 "decorator tests failing on python3"
The following tests:

[code]

Are failing within the test suite like so:

[code]

they are failing on python 3 versions of mac, arch, ubuntu16, and ubuntu17.

Git bisect shows commit `0a0c6287a426f9f62b27de6a2a2b0cbf73214a3a` which is pr https://github.com/saltstack/salt/pull/42470

[2017-07-28 14:40] dubb-b commented on #318
@rallytime The plans are all added, when you merge forward I can validate that they are running. If there are any other issues I can fix.

[2017-07-28 15:07] #396 closed

[2017-07-28 15:09] rallytime commented on #460
This is fixed now.

[2017-07-28 15:09] #460 closed

[2017-08-02 18:34] Ch3LL opened #473 "Add a python3 pylint linter"
This issue is to track the addition of a python3 pylint linter for pull request tests. @rallytime this has been assigned to you but please feel free to use the resources of @dubb-b when you are ready to add the pylinter to jenkins.

[2017-08-07 13:20] rallytime commented on #473
@Ch3LL Can you explain more what is needed to add? The linter already checks for _many_ Python 3 issues. So if there is something you're looking for that is more specific that should be added to the existing linter, that would be helpful.

[2017-08-10 15:57] rallytime opened #474 "[2016.11] Fedora 26 failing pkg integration test"
- integration.modules.pkg.PkgModuleTest.test_hold_unhold

https://jenkins.saltstack.com/job/branch_tests/job/2016.9/job/salt-2016_9-linode-fedora26/lastCompletedBuild/testReport/integration.modules.pkg/PkgModuleTest/test_hold_unhold/

[2017-08-10 16:03] rallytime opened #475 "Arch is failing npm cache test"
-  integration.states.npm.NpmStateTest.test_npm_cache_clean

https://jenkins.saltstack.com/job/branch_tests/job/2016.9/job/salt-2016_9-linode-arch/lastCompletedBuild/testReport/integration.states.npm/NpmStateTest/test_npm_cache_clean/

This test is failing on all relevant branches, so it should be fixed in 2016.11.

[2017-08-10 16:09] gtmanfred commented on #475
This is expected.

https://github.com/saltstack/salt/issues/41770

[2017-08-10 16:09] rallytime commented on #475
@gtmanfred So what are we doing here with jenkins then? Can we add some logic to the test to not run with incompatible versions?

[2017-08-10 16:10] terminalmage commented on #474
This was fixed in https://github.com/saltstack/salt/pull/42651, but that PR was opened against `2017.7` I've backported it to `2016.11` in https://github.com/saltstack/salt/pull/42851.

[2017-08-10 16:11] gtmanfred commented on #475
Ahh, yes sorry, i missed that the label was for 2016.11.8 and .7.2, we should gate it for those releases.

[2017-08-10 16:11] rallytime commented on #475
@gtmanfred That would be great! Thank you :)

[2017-08-10 16:14] rallytime opened #476 "[2016.11] CentOS 6 fails in git.salt state run"
The CentOS 6 box on 2016.11 isn't building due to an error in the `git.salt` state run:

https://jenkins.saltstack.com/job/branch_tests/job/2016.9/job/salt-2016_9-linode-cent6/lastFailedBuild/console

It looks like this has been failing for quite a while. We need to get this fixed.

[2017-08-10 16:18] rallytime opened #477 "[2017.7] Two tests failing on Fedora 26"
https://jenkins.saltstack.com/job/branch_tests/job/2017.7/job/salt-linode-fedora26/lastCompletedBuild/testReport/

- integration.shell.test_auth.AuthTest.test_pam_auth_valid_user
- integration.shell.test_auth.AuthTest.test_zzzz_tearDown

[2017-08-10 16:25] rallytime opened #478 "Python 3 boto test failures ~90 related failures"
There are at least 90 tests failing on all distros running Python 3. These need to be investigated and fixed.

These largely seem to be related to have similar failures, so it's likely an issue with the new moto package recently updated in salt-jenkins states that is supposed to handle Py3. These failures started occurring when that package was updated.

[2017-08-10 16:37] rallytime opened #479 "[2017.7] PY3 test_http_query test is failing on all distros"
I am fairly certain this is failing due to the boto tests. This started failing after the moto library was updated for Python 3, which was updated to fix #453. This might be related to #478.

[2017-08-10 16:44] rallytime opened #480 "[2017.7] PY3 Debian 8 has several vmware unit tests failing"
The test report is [here](https://jenkins.saltstack.com/job/branch_tests/job/2017.7/view/Python%203/job/salt-linode-py3-debian8/lastCompletedBuild/testReport/), but there are many tests failing there. The test failures for this issue are the following:

unit.utils.vmware_test.test_connection.PrivateGetServiceInstanceTestCase.test_second_attempt_successful_connection
unit.utils.vmware_test.test_con

[2017-08-10 16:51] rallytime opened #481 "[2017.7] PY3 minion black out tests"
There are two tests failing on 2017.7 for Python 3:

- integration.minion.test_blackout.MinionBlackoutTestCase.test_blackout_nonwhitelist
- integration.minion.test_blackout.MinionBlackoutTestCase.test_blackout

Here is the [arch build](https://jenkins.saltstack.com/job/branch_tests/job/2017.7/view/Python%203/job/salt-lin-py3-arch/lastCompletedBuild/testReport/) and the [fedora 26 build](https://je

[2017-08-10 16:52] terminalmage commented on #476
Well first things first, it looks like this is using Python 2.6 instead of 2.7. @rallytime where is it getting the bootstrap script?

[2017-08-10 16:53] rallytime commented on #476
@terminalmage 2016.11 should still be using Python 2.6.

[2017-08-10 16:57] terminalmage commented on #476
/me nods

OK, I forgot when we officially deprecated 2.6. Good to rule that out.

[2017-08-10 19:14] rallytime commented on #479
More information - the stacktrace looks like this:
[code]

And this is like the the same bug as reported in https://github.com/spulec/moto/issues/1026

[2017-08-10 20:23] gtmanfred commented on #475
Fixed in saltstack/salt#42856

[2017-08-10 20:23] #475 closed

[2017-08-10 20:35] rallytime commented on #474
Fedora 26 on 2016.11 is blue!

[2017-08-10 20:35] #474 closed

[2017-08-10 20:38] gtmanfred commented on #480
I think this is being caused by this change

https://www.python.org/dev/peps/pep-0476/#id31

[2017-08-10 21:46] rallytime commented on #478
I have fixed the majority of these failing tests. My fix will require an update to the salt-jenkins repo, however, and we'll enter a chicken/egg situation.

In the mean time, though, I still have 2 tests left to tackle in Python 3:

- unit.states.test_boto_vpc.BotoVpcRouteTableTestCase.test_present_with_routes
- unit.states.test_boto_vpc.BotoVpcRouteTableTestCase.test_present_with_subnets

[2017-08-11 12:56] terminalmage commented on #476
This appears to be caused by two things. First, we are removing pycrypto which
is interrupting the state.sls. This was supposedly being done because we weren't packaging pycrypto >= 2.6.1, but we've been doing that for a while now.

After fixing this via #482 and #483, I found that now the CherryPy installation fails. Version 11.0.0 of CherryPy (released 8 July 2017) dropped support for Python 2.6

[2017-08-11 15:43] terminalmage commented on #476
Also needed to pin another CherryPy dep to an earlier version, did this in #485

[2017-08-11 15:57] terminalmage commented on #476
git.salt is working now, closing this issue. We can open separate issues if there are test failures in the branch build.

Build is here: https://jenkins.saltstack.com/job/branch_tests/job/2016.9/job/salt-2016_9-linode-cent6/1490/console

[2017-08-11 15:57] #476 closed

[2017-08-11 17:37] terminalmage commented on #477
The `zzzz` failure was due to the failure of the other test. It looks like that test was actually failing because of a different bug (which appears to have been fixed), having to do with the output of the call being made. The branch build for F26 2017.7 is now passing.

I've moved the weird tearDown test to an actual tearDown in https://github.com/saltstack/salt/pull/42885, and will keep an eye on

[2017-08-11 20:11] terminalmage commented on #481
I can't reproduce this. I tried locally using a docker container into which I installed Python 3 and the Py3 depchain, and I also tested on a Linode box using Brett's Jenkins tool. In neither case was I able to reproduce.

[2017-08-11 20:35] rallytime commented on #481
Since the tests pass on their own, I don't think this should block any releases. I'll remove the version label.

Thanks @terminalmage!

[2017-08-11 20:39] rallytime commented on #480
These are passing now 🎉

[2017-08-11 20:39] #480 closed

[2017-08-11 20:50] gtmanfred commented on #480
![*beep beep* dats da sound of da police.... *beep beep*](https://i.imgur.com/V3vk51H.gif)

[2017-08-14 14:17] rallytime commented on #478
These are looking blue. :)

[2017-08-14 14:17] #478 closed

[2017-08-14 14:17] rallytime commented on #479
This has been fixed. It was related to the changes made to fix #478.

[2017-08-14 14:17] #479 closed

[2017-08-14 15:18] terminalmage commented on #481
On Friday I built another box using our Jenkins dev box tool, which successfully bootstrapped and ran the salt-jenkins SLS. I tried a full run of the test suite and was not able to reproduce the failures.

[2017-08-14 15:27] terminalmage commented on #481
As @gtmanfred noted, this may have to do with Python 3.6 as only Fedora 26 and Arch seem to be exhibiting these failures. I will try with a Fedora 26 box.

[2017-08-14 18:24] rallytime commented on #477
@terminalmage It appears that the first test (test_pam_auth_valid_user) is still failing on Fedora 26: https://jenkins.saltstack.com/job/branch_tests/job/2017.7/job/salt-linode-fedora26/30/

[2017-08-14 19:11] terminalmage commented on #477
Thanks, I'll take a look.

[2017-08-14 19:16] terminalmage commented on #477
I can't get this to fail alone in a Docker container, so I've dropped some debug logging in and am currently doing a full test suite run.

[2017-08-14 19:21] rallytime opened #487 "PR Run Overload/Race Condition"
When there are multiple pull requests submitted at the same time, or runs get restarted, the branch is updated, etc., there is some kind of race condition on Jenkins. I think this has to do with the PR builder and when the workspace is created for the PR run.

Basically, the PR "default" build starts, clones the repo, and starts building the jobs. During the VM building part where the CentOS or Ub

[2017-08-14 21:24] terminalmage commented on #477
I wasn't able to reproduce this in a full run in Docker, either.

[2017-08-14 21:26] terminalmage commented on #477
I've added some debug logging to troubleshoot this further in https://github.com/saltstack/salt/pull/42925

[2017-08-15 14:49] rallytime commented on #318
@dubb-b I just did a merge forward from 2017.7 to the master branch in salt-jenkins.

Can you add `Fedora 26` to the `develop` branch tests when you get a chance? Once that is done, we can close this.

[2017-08-15 18:45] terminalmage commented on #477
OK, after adding the debug logging, I have found that the auth is failing. The output of the test.ping command is:

`Failed to authenticate! This is most likely because this user is not permitted to execute commands, but there is a small possibility that a disk error occurred (check disk/inode usage).`

This test runs `shadow.set_password` to set the password before running the test.ping, but `sha

[2017-08-15 19:39] dubb-b commented on #318
@rallytime Minus the issues with the tests this seems to be complete on my end. Let me know if you need any params changed.

[2017-08-15 21:18] rallytime commented on #318
Tests are running so it looks good to me. We'll have to figure out why that many tests are falling down, but that will be a new issue. :)

[2017-08-15 21:18] #318 closed

[2017-08-15 21:20] rallytime opened #490 "[develop] Arch, Fedora 25, Fedora 26 are failing ~125 tests"
This is happening on both Py2 and Py3 tests:
 - [Arch Py2](https://jenkins.saltstack.com/job/branch_tests/job/develop/job/salt-linode-arch/lastCompletedBuild/testReport/)
- [Fedora 25 Py2](https://jenkins.saltstack.com/job/branch_tests/job/develop/job/salt-linode-fedora25/lastCompletedBuild/testReport/)
- [Fedora 26](https://jenkins.saltstack.com/job/branch_tests/job/develop/job/salt-linode-fedora

[2017-08-15 22:41] terminalmage commented on #477
I've found the issue. The setUp is trying to create a user called `saltdev` but it is failing to do so because there is already a group present by the name `saltdev`. So, some other test in the suite is creating the `saltdev` group and not successfully cleaning it afterward, and since /etc/login.defs has `USERGROUPS_ENAB yes`, useradd tries to create the group as part of the user creation process,

[2017-08-17 00:38] terminalmage commented on #477
OK, I was slightly mistaken in my earlier comment. It turns out that this is being caused by sssd, a caching daemon in the vein of nscd. It turns out that sssd is utter trash, and can't seem to deal with users and groups being created in short succession with the same uid/gid. I tried several methods to run different `sss_cache` commands, both before and after creating and deleting the conflicting

[2017-08-17 20:47] rallytime commented on #477
This is fixed now.

[2017-08-17 20:47] #477 closed

[2017-08-25 14:30] Ch3LL commented on #481
any progress on this issue?

[2017-08-25 14:34] Ch3LL opened #495 "npm tests failing"
The following tests are failing on 2017.7 branch on cent6:

[code]

https://jenkins.saltstack.com/job/branch_tests/job/2017.7/job/salt-linode-cent6/288/

ping @gtmanfred mind taking a look at these tests?

[2017-08-25 14:37] Ch3LL opened #496 "Multiple pkg tests started failing on Fedora"
The following pkg tests are failing on fedora:

[code]
https://jenkins.saltstack.com/job/branch_tests/job/2017.7/view/Python%203/job/salt-linode-py3-fedora25/233/
https://jenkins.saltstack.com/job/branch_tests/job/2017.7/job/salt-linode-fedora26/62/

ping @terminalmage mind taking a look at these tests?

[2017-08-25 14:39] Ch3LL opened #497 "fedora 26 python3 is failing salt-jenkins states"
Currently fedora 26 on python3 2017.7 branch is failing during the salt-jenkins states step `pytest-catchlog`

https://jenkins.saltstack.com/job/branch_tests/job/2017.7/view/Python%203/job/salt-linode-py3-fedora26/62/console

ping @dubb-b can you look at this.

[2017-08-25 21:15] dubb-b commented on #497
@Ch3LL I fixed the salt-jenkins states, the tests are failing now with 3 errors.
https://jenkins.saltstack.com/job/branch_tests/job/2017.7/view/Python%203/job/salt-linode-py3-fedora26/lastCompletedBuild/testReport/

Let me know if you need anything else. I don't think my changes are related to the tests errors, but I will let you decide.

[2017-08-25 22:08] #495 closed

[2017-08-28 13:52] Ch3LL commented on #497
yep looks good thanks!

[2017-08-28 13:52] #497 closed

[2017-08-29 16:34] terminalmage commented on #481
@Ch3LL I haven't done any further investigation with this, as I was never able to reproduce despite spending several hours and using two VMs and a container to try to reproduce.

[2017-09-01 21:07] Ch3LL opened #503 "Cent6 2016.11.8 Tests are not bootstrapping"
The cent6 2016.11.8 tests are failing during the attempt to bootstrap the minion. Here is the link:

https://jenkins.saltstack.com/job/branch_tests/job/2016.11.8/job/salt-2016_11_8-linode-cent6/

ping @dubb-b mind taking a look at this?

[2017-09-05 14:07] Ch3LL commented on #496
ping @terminalmage now that the 2017.7.2 PR has been submitted can you take a look here now?

[2017-09-05 17:22] terminalmage commented on #496
Yes, I'm looking today.

[2017-09-05 20:22] terminalmage commented on #496
@Ch3LL https://github.com/saltstack/salt/pull/43360 should fix this, though the fixes needed to be made in 2016.11, so we'll need to wait for a merge-forward to see the branch builds stabilize.

[2017-09-05 20:34] dubb-b commented on #503
@Ch3LL
I found the issue with the new slave and fixed it.

There was some code added to the 2016_9 Slave that was custom to that slave. I have added it to the 2016.11.8 slave and its running now.

After you validate can you close this?

[2017-09-05 20:54] Ch3LL commented on #503
Looks good! Tests are running! thanks

[2017-09-05 20:54] #503 closed

[2017-09-05 20:57] Ch3LL opened #504 "[2017.7.2] Mac test_auth tests failing"
The following tests are failing on macosx on 2017.7.2

[code]

I did a git bisect and it showed this commit: 462d65308236e0fd81d5dc938d432031dc904966

Which is this PR https://github.com/saltstack/salt/pull/42885

I'm guessing this is related to this change in the teardown. Maybe the user is not getting deleted on mac. Going to track this down first thing tomorrow morning.

[2017-09-06 20:33] Ch3LL opened #505 "[2016.11.8] Centos6 Tests are hanging during test runs"
It hangs on this test with the stacktrace:

[code]

[2017-09-07 15:13] Ch3LL commented on #505
update: haven't been able to replicate it. Trying to run the entire unit test suite to see if i can. I can't quit seem to figure out why we would be getting an unexpected keyword argument here because I checked the code and _socketobject does indeed expect `_sock` as a legitimate kwarg.

[2017-09-07 18:35] Ch3LL commented on #505
k finally replicated the issue creating a vm with dev builder in jenkins and running: `python tests/runtests.py -v -u` diving in more now

[2017-09-07 18:45] Ch3LL commented on #505
verified it works on v2016.11.7...runnign git bisect

[2017-09-07 20:02] Ch3LL commented on #505
60b406e088e327a19d98b9e537f3d52b51722fa2 which is from this PR:

https://github.com/saltstack/salt/pull/42959

[code]

[2017-09-12 19:38] Ch3LL commented on #504
okay i think i'm figuring out what is going on here:

1. `salt-call --local user.add createhome=False saltadm -ldebug` (successful)
2. successful pwd.getpwnam in python interpreter:

[code]

3. `salt-call --local user.delete saltadm -ldebug` (successful)

But if i go back to the same python interpreter and run getpwname again it still returns the users data:

[code]

but if i get out of that pytho

[2017-09-12 20:50] Ch3LL commented on #504
I think this is only related to macosx and this module, because it reports fine on linux. I even upgraded to 2.7.13 from 2.7.12 on the macosx and still saw the same behavior.

[2017-09-18 14:20] #505 closed

[2017-09-18 14:21] Ch3LL commented on #496
These are now passing. Thanks!!

[2017-09-18 14:21] #496 closed

[2017-09-18 20:16] Ch3LL commented on #504
ping @terminalmage I was hoping to revert this PR https://github.com/saltstack/salt/pull/42885/files because its causing the issue documented in this issue. It believe there is an issue with python and mac pwd's module where it reports the user still exists even though it was just deleted. I didn't want to revert the PR until I heard from you to make sure there wasn't a separate issue as to why yo

[2017-09-20 14:08] Ch3LL opened #508 "[2017.7.2] Boto Tests Failing"
The following boto tests are failing on all OSs:

unit.modules.test_boto_vpc.BotoVpcSubnetsTestCase.test_that_when_a_subnet_does_not_exist_the_subnet_exists_method_returns_false

unit.modules.test_boto_vpc.BotoVpcTestCase.test_that_when_checking_if_a_vpc_exists_by_id_and_a_vpc_does_not_exist_the_vpc_exists_method_returns_false

unit.modules.test_boto_vpc.BotoVpcTestCase.test_that_when_describing_v

[2017-09-20 15:07] Ch3LL commented on #508
actually going to assign this to @rallytime since she has been fixing some aspects of these boto tests.

[2017-09-20 17:23] Ch3LL opened #509 "[2017.7.2] unittest.loader.ModuleImportFailure on macosx"
The following tests are failing on macosx 10.11, 10.12, and py310.11:

unittest.loader.ModuleImportFailure.unit.modules.test_etcd_mod
unittest.loader.ModuleImportFailure.unit.modules.test_tls
unittest.loader.ModuleImportFailure.unit.utils.test_etcd_util

Here is the stack trace:

[code]

[2017-09-20 21:12] rallytime commented on #508
This should be fixed by https://github.com/saltstack/salt/pull/43648

Closing for now. I'll re-open if needed.

[2017-09-20 21:12] #508 closed

[2017-09-26 21:36] #509 closed

[2017-10-11 13:31] rallytime opened #526 "Fix failing boto tests (again!)"
A bunch of boto tests started failing over night. Likely due to a new version released by moto or boto or something. Here's the trace back information:
[code]

[2017-10-11 19:22] rallytime commented on #526
This is fixed in the `2017.7` branch of `salt-jenkins`. Once the #530 is merged, that will fix `2016.11` failures, and #531 will fix the failures on `develop` and pull requests.

[2017-10-11 19:23] #526 closed

[2017-10-12 18:19] rallytime opened #532 "Test daemons not starting on Ubuntu 16.04"
The test run stack traces right at the beginning:
[code]

[2017-10-13 16:01] rallytime opened #534 "Fix test failures on Ubuntu16 Python 3"
About 10 test failures have recently started happening on Ubuntu 16 running on Python 3. This needs to be investigated and fixed.

[2017-10-13 16:07] #532 closed

[2017-10-17 20:15] #534 closed

[2017-11-06 01:51] tonybaloney commented on #356
I had the same issue (MacOS), ran `pip install --upgrade git+https://github.com/saltstack/pytest-salt.git@master#egg=pytest-salt` within my virtualenv and it fixed it.

salt-call 2017.7.0-350-gb09352c (Nitrogen)

[2017-11-06 02:09] gtmanfred commented on #356
I am going to close this issue then.

Thanks @tonybaloney
Daniel

[2017-11-06 02:09] #356 closed

[2017-11-07 23:25] rallytime commented on #490
This seems to have resolved itself. Closing.

[2017-11-07 23:25] #490 closed

[2017-11-08 16:57] rallytime opened #545 "Fedora 26 and Arch SPM test failure"
The following test is failing on Fedora 26 and Arch: `integration.spm.test_build.SPMBuildTest.test_spm_build_big_file`. This is failing both in PY2 and PY3.

It's odd that it is failing even though https://github.com/saltstack/salt/pull/44364 has already been merged.

This is on the 2017.7, oxygen, and develop branches. Arch is only failing in Oxygen - maybe something to do with the Amazon AMIs.

[2017-11-08 22:10] rallytime opened #547 "[develop] Salt utils path is printing warnings about deprecated paths"
I have only seen this happen when running `boto`-related unit tests, but I can't be 100% sure that is the problem. I am seeing the following warnings being printed over and over again in the console output for test runs:
[code]
The tricky thing here is that I can't find any references that are using the old paths ANYWHERE for either the `namespaced_function` or `which` functions.

I am wondering i

[2017-11-08 22:42] rallytime opened #548 "[develop] Py3 tests are running out of file handles"
Within the last week or so, the Python 3 tests started running out of file handles. This is most noticeable on pull requests, as they were previously passing most of the time.

Occasionally I see the `unit.utils.test_verify.TestVerify.test_max_open_files` test fail, but more often than not the test bails and fails before we get to that test and can output the results. The following PRs were made b

[2017-11-08 22:52] dubb-b commented on #441
@rallytime This has been setup in Jenkins. Most of all the py2 jobs have been tested and the py3 jobs fail on some tests.

I have a few queued, I will check them after.

[2017-11-08 23:22] rallytime commented on #548
Some work is being done for this in https://github.com/saltstack/salt/pull/44442. Let's see how that test run goes.

[2017-11-09 20:45] terminalmage commented on #547
The correct path for the offending function call is in the test results for https://github.com/saltstack/salt/pull/44442 thanks to changes I made to the stacklevel in the `salt/utils/__init__.py` convenience functions. I've fixed the deprecated call in the wordpress execution module in https://github.com/saltstack/salt/pull/44442/commits/d4e00f30f125f9391d51bc7e32a328df13e2f9af.

Closing.

[2017-11-09 20:45] #547 closed

[2017-11-09 20:49] terminalmage commented on #548
These should be fixed now. There was a test that was setting the max number of open files artificially low for purposes of testing, and then opening a bunch of files in a directory. There was a `finally` block that cleaned up the temp directory where the files were being opened, but the act of performing a `shutil.rmtree()` on Python 3 apparently opens a filehandle which led to an OSError being ra

[2017-11-09 20:49] #548 closed

[2017-11-10 13:51] rallytime commented on #547
Thanks @terminalmage!

[2017-11-10 13:51] rallytime commented on #548
🎉  Yay!

[2017-11-10 15:41] rallytime commented on #487
I was hoping this issue might have been resolved by the plugin update that @dubb-b did recently on Jenkins, but I saw this pop up again this morning.

[2017-11-10 15:43] rallytime commented on #441
I think we can close this issue now. Any other problems that surface on the Debian 9 tests we can make individual issues for. Thanks @dubb-b!

[2017-11-10 15:43] #441 closed

[2017-11-10 15:50] rallytime opened #549 "Debian 8 issues with tornado"
Debian 8 tests are experiencing a variety of failures on each branch and in both Pythin 2 tests and Python 3.

In some cases (such as on the 2016.11 branch), all of the tests are failing in the netapi integration tests (`integration.netapi.rest_tornado.test_app.x`). In other cases, we don't even get to the point of running the tests due to problems with tornado.

This may be due to the version of

[2017-11-10 15:51] rallytime commented on #545
This same test is also failing on Fedora 25. I have updated the title to reflect this.

[2017-11-10 16:00] rallytime opened #550 "[develop] CentOS 7 is failing 2 group tests"
There are 2 tests failing on the CentOS 7 test runs in develop.

These likely snuck in at some point when the CentOS 7 test went down for a couple of months.

[2017-11-10 16:03] rallytime opened #551 "Add CentOS 7 tests back to PR runs"
Due to issues upstream with RedHat, the CentOS 7 tests were down for some months. Now that those issues have been resolved, we need to add these tests back to PR runs. This includes Python 2 and Python 3 tests.

However, there are some branch tests that are currently failing on CentOS 7. Those need to be addressed before we can add the tests back to PRs. (No need to start showing false failures on

[2017-11-14 20:52] rallytime commented on #550
This is fixed with https://github.com/saltstack/salt/pull/44543

[2017-11-14 20:52] #550 closed

[2017-11-16 17:06] rallytime opened #555 "[develop] Arch test runs are failing git.salt state run"
Arch tests are failing the `state.sls git.salt` call during VM prep. Here's the output of the state run:
[code]

These states were added with PR #546 to the 2017.7 branch. These failures started showing up when `2017.7` was merged forward into `master`. Oddly, however, the Arch tests on `2017.7` are not failing in this manner.

[2017-11-16 20:29] Ch3LL commented on #555
ping @terminalmage mind taking a look at this?

[2017-11-16 20:34] Ch3LL opened #556 "[develop] Test unit.grains.test_core.CoreGrainsTestCase.test_linux_memdata failing on Centos6"
The test `unit.grains.test_core.CoreGrainsTestCase.test_linux_memdata` is failing on centos6 in develop.

Here is the error:

[code]

https://jenkins.saltstack.com/job/branch_tests/job/develop/job/salt-linode-cent6/3442/testReport/junit/unit.grains.test_core/CoreGrainsTestCase/test_linux_memdata/

ping @garethgreenaway mind taking a look at this failure?

[2017-11-16 20:51] Ch3LL opened #557 "[develop] Test unit.serializers.test_serializers.TestSerializers.test_serialize_yaml failling on Cent6"
The test `unit.serializers.test_serializers.TestSerializers.test_serialize_yaml ` is failing on Cent6 on develop

Here is the error:

[code]

https://jenkins.saltstack.com/job/branch_tests/job/develop/job/salt-linode-cent6/3442/testReport/junit/unit.serializers.test_serializers/TestSerializers/test_serialize_yaml/

[2017-11-16 20:56] Ch3LL opened #558 "Multiple tests in unit.config.test_config.ConfigTestCase Fail on Centos7"
The following tests are failling on centos7 develop

[code]

with this error:

[code]

https://jenkins.saltstack.com/job/branch_tests/job/develop/job/salt-linode-cent7/3474/#showFailuresLink

[2017-11-16 21:03] Ch3LL opened #559 "A couple of tests in integration.modules.test_groupadd failing on Fedora 25"
On Fedora 25 Develop the following tests are failing:

[code]

https://jenkins.saltstack.com/job/branch_tests/job/develop/job/salt-linode-fedora25/396/

ping @terminalmage mind taking a look here?

[2017-11-16 21:08] Ch3LL opened #560 "[develop] opensuse not finishing salt-jenkins states"
Opensuse-leap42 is not completing the salt-jenkins states:

https://jenkins.saltstack.com/job/branch_tests/job/develop/job/salt-linode-leap42/1791/console

[code]

ping @dubb-b mind taking a look here?

[2017-11-16 21:13] rallytime commented on #558
This just barely started popping up within the last day or so (not sure if that information is helpful). Because as of yesterday, there were only 2 tests failing, which I fixed in https://github.com/saltstack/salt/pull/44543. 😞

[2017-11-16 21:13] Ch3LL opened #561 "[develop] centos7 python3 tests aren't bootstrapping"
https://jenkins.saltstack.com/job/branch_tests/job/develop/view/Python%203/job/salt-linode-py3-cent7/1817/console

`[ERROR   ] Profile rs_cent7_8192 is not defined`

Should be a pretty easy fix to set it the the appropriate profile.

ping @dubb-b mind taking a look here?

[2017-11-16 21:37] Ch3LL opened #562 "Add Fedora 27 to Branch Tests"
We need to add fedora 27 to our branch tests.

ping @dubb-b looks like linode does not have an image available, any other ideas. Maybe adding to nebula instance depending on the status of things there?

cc @rallytime

[2017-11-16 21:41] rallytime commented on #559
These should be fixed by https://github.com/saltstack/salt/pull/44543. The link above with the test failure is test run number 396, but the latest test run was number 399 (which is [here](https://jenkins.saltstack.com/job/branch_tests/job/develop/job/salt-linode-fedora25/399/)) and those two particular tests are not failing.

🎉 🎉 🎉

I'm going to close this since these _should_ be fixed. We can re-

[2017-11-16 21:41] #559 closed

[2017-11-16 21:44] rallytime commented on #562
Linode is usually pretty quick to get new images up, so I am surprised they don't have one yet. I'll check again tomorrow or next week.

[2017-11-16 21:46] Ch3LL opened #563 "[python3] Flaky Tests Result in The salt master could not be contacted error"
Sometimes the python3 tests fail with the error:

[code]

For this test run: https://jenkins.saltstack.com/job/branch_tests/job/2017.7/view/Python%203/job/salt-lin-py3-ubuntu16/362/

these tests fail, but other failed runs included other tests too, its different each time:

[code]

[2017-11-16 21:50] dubb-b commented on #562
We have Fedora27 tests running in ON, I wouldn't rely on those yet. As soon as an image comes available I can add it.

[2017-11-16 21:51] Ch3LL commented on #456
I think this can be closed ya?

[2017-11-16 21:51] #456 closed

[2017-11-16 21:54] dubb-b commented on #560
@Ch3LL  I will have a look and see what I can figure out.

[2017-11-16 21:55] dubb-b commented on #561
@Ch3LL I will fix this one. i might have been the cause.

[2017-11-16 21:57] Ch3LL opened #564 "[develop][python3] proxy tests failing on python3 on develop"
Here is the error:

[code]

Mutliple proxy tests are failing. https://jenkins.saltstack.com/job/branch_tests/job/Proxy/view/Python3/job/develop_ubuntu16_py3/255/

ping @gtmanfred mind taking a look here?

[2017-11-17 15:23] dubb-b commented on #561
@Ch3LL @rallytime @gtmanfred Is there a reason this is not being ran in Linode like the rest? This is configured for Rackspace.

[2017-11-17 15:25] gtmanfred commented on #561
not as far as I know.

[2017-11-17 15:52] rallytime commented on #561
Not that i know of. It's running in rackspace, even though the profile says linode?

[2017-11-17 15:52] dubb-b commented on #561
@rallytime I switched it over and ran it. Tests are running now. Ill validate that the rest are on linode.

[2017-11-17 15:55] dubb-b commented on #561
Looks to be all good now. Let me know if you want anything changed.

[2017-11-17 16:03] rallytime commented on #561
thanks brett!

[2017-11-17 16:03] #561 closed

[2017-11-17 16:09] dubb-b commented on #562
I checked today, nothing yet.

[2017-11-17 18:05] dubb-b commented on #560
@Ch3LL Submitted PR https://github.com/saltstack/salt-jenkins/pull/565 waiting for it to merge. After I need to add some config to the Jobs and hopefully this is fixed.

[2017-11-20 22:35] dubb-b commented on #560
@Ch3LL this did not fix the issue. @gtmanfred is going to open a ticket with Suse.

I will post updates as I get them.

[2017-11-24 16:36] terminalmage commented on #555
https://github.com/saltstack/salt-jenkins/pull/546 was opened against `master`, not `2017.7`.

I fixed this in https://github.com/saltstack/salt-jenkins/pull/570 by adding a `makedirs: True` to the failing state.

[2017-11-27 15:39] #555 closed

[2017-11-27 15:39] rallytime commented on #555
Oh, you're right. That makes more sense. Thanks @terminalmage.

[2017-11-27 17:21] rallytime opened #571 "salt-ssh test for test_state_show_top is failing"
The `integration.ssh.test_state.SSHStateTest.test_state_show_top` test for salt-ssh is failing in the following manner:
[code]

It needs to be investigated whether or not this is a salt issue or a testing issue. Pending that investigation, either the code or the test needs to be fixed.

[2017-11-27 17:23] rallytime opened #572 "Fix unit tests that are failing for kubernetes"
The following 2 tests are failing:

- unit.modules.test_kubernetes.KubernetesTestCase.test_create_deployments
- unit.modules.test_kubernetes.KubernetesTestCase.test_setup_client_key_file

Both tests are failing on develop, but only the first test (create_deployments) is failing in 2017.7.

[2017-11-27 23:51] rallytime commented on #572
Replaced by Salt issue https://github.com/saltstack/salt/issues/44701

[2017-11-27 23:51] #572 closed

[2017-11-28 03:38] terminalmage commented on #556
Fixed by https://github.com/saltstack/salt/pull/44704.

[2017-11-28 03:49] terminalmage commented on #558
Not seeing these failing now.

[2017-11-28 15:09] rallytime commented on #558
Me either.

[2017-11-28 15:09] #558 closed

[2017-11-28 15:14] #556 closed

[2017-11-28 21:19] rallytime commented on #571
This should be fixed now.

[2017-11-28 21:19] #571 closed

[2017-12-04 14:53] rallytime opened #578 "Remove futures install from salt-jenkins states"
The Python 3 builds for Ubuntu 16 are failing with this state:
[code]

A new version of futures was release over the weekend, and it's specifically checking the version of Python running on the system installing the package.

[2017-12-04 23:13] dubb-b commented on #562
Nothing yet...

[2017-12-05 20:14] rallytime commented on #551
CentOS 7 tests for Python 2 have been added back to PRs today. However, the Python 3 tests in general are broken, so I will wait to add those back to Jenkins until those issues are resolved.

[2017-12-06 21:01] #578 closed

[2017-12-07 22:42] rallytime opened #583 "[Python 3] failing integration.modules.test_state.StateModuleTest.test_exclude"
The following test is failing on Ubuntu 16 Python 3 builds on PRs:
- integration.modules.test_state.StateModuleTest.test_exclude

@garethgreenaway I have assigned this to you to look at when you get a chance. This must have snuck in when the Python 3 tests were down earlier this week.

I have seen it on many PR tests, so it should be easy to reproduce. :)

[2017-12-08 14:31] rallytime opened #584 "test_pillar_refresh sometimes fails"
I have seen this fail occasionally on PRs. In this case, it was a CentOS7 run:
-integration.modules.test_saltutil.SaltUtilSyncPillarTest.test_pillar_refresh

[code]

@Ch3LL Was this one of the new tests you wrote?

[2017-12-11 18:17] rallytime opened #585 "Python 3 tests not starting"
The Python 3 tests are failing to start with the following stacktrace:
[code]

I am not seeing the master/minion processes starting at the beginning of the test run either.

[2017-12-13 15:01] Ch3LL commented on #584
Yes i'll assign it to myself. The timeout might need to be increased even more.

[2017-12-13 17:30] Ch3LL commented on #562
any update yet? Is there possibly another cloud provider we could use?

[2017-12-13 17:34] Ch3LL opened #586 "[oxygen] arch vm is not bootstrapping before tests run"
Arch tests are not bootstrapping for oxygen.

As you can see here: https://jenkins.saltstack.com/job/Oxygen/job/oxygen-salt-arch-py2/16/console

[code]

Goal of issue: Ensure arch bootstraps and can run the test runner.

[2017-12-13 17:36] Ch3LL opened #587 "[oxygen] cent6 vm is not bootstrapping before tests run"
centos6 tests are not bootstrapping for oxygen.

As shown here: https://jenkins.saltstack.com/job/Oxygen/job/oxygen-salt-cent6-py2/7/console

[code]

[2017-12-13 17:39] Ch3LL opened #588 "[oxygen] centos7 does not finish test run due to memory error"
The tests on centos7 are not completing due to a memory allocation error:

https://jenkins.saltstack.com/job/Oxygen/job/oxygen-salt-cent7-py2/5/consoleFull#-16628106710e76b7d7-9f01-494c-85a3-3ee3e5ff3147

[code]

[2017-12-13 17:40] Ch3LL opened #589 "[oxygen] debian 8 tests are not bootstrapping"
Debian 8 tests on oxygen are not bootstrapping

https://jenkins.saltstack.com/job/Oxygen/job/oxygen-salt-debian8-py2/7/console

[code]

[2017-12-13 17:42] Ch3LL opened #590 "[oxygen] Debian 9 tests are not bootstrapping"
Debian 9 tests in oxygen are not bootstrapping:

https://jenkins.saltstack.com/job/Oxygen/job/oxygen-salt-debian9-py2/5/console

[code]

[2017-12-13 17:44] Ch3LL opened #591 "[oxygen] remove fedora 25 tests from jenkins"

[2017-12-13 17:54] Ch3LL opened #592 "[oxygen] fedora 26 tests are not completing"
tests on fedora 26 are not completing:

https://jenkins.saltstack.com/job/Oxygen/job/oxygen-salt-fedora26-py2/6/console

[code]

[2017-12-13 20:20] Ch3LL commented on #591
Fedora 25 has been deprecated. Will need to remove tests from jenkins

[2017-12-13 20:20] Ch3LL commented on #591
ping @dubb-b can you take care of this when you get a minute?

[2017-12-13 21:11] rallytime opened #593 "[oxygen] integration.ssh.test_state.SSHStateTest.test_state_sls_id is failing"
The following test is failing on the `oxygen` branch:

- integration.ssh.test_state.SSHStateTest.test_state_sls_id
[code]

[2017-12-13 21:31] rallytime opened #594 "[oxygen] Many failures with the same memory allocation message"
I have seen this quite frequently on CentOS 7 in Pull Request results. The following tests all fail:

- unit.config.test_config.ConfigTestCase.test_cloud_config_deploy_scripts_search_path
- unit.config.test_config.ConfigTestCase.test_cloud_config_double_profiles_path
- unit.config.test_config.ConfigTestCase.test_cloud_config_double_providers_path
- unit.config.test_config.ConfigTestCase.test_cloud

[2017-12-14 15:12] Ch3LL commented on #589
The VM is now bootstrapping: https://jenkins.saltstack.com/job/Oxygen/job/oxygen-salt-debian8-py2/10/console

[2017-12-14 15:12] #589 closed

[2017-12-15 16:13] rallytime opened #598 "[oxygen] CentOS 7 is failing ~ 20 tests in the integration.ssh.test_state.SSHStateTest"
- integration.ssh.test_state.SSHStateTest.test_show_highstate
- integration.ssh.test_state.SSHStateTest.test_show_lowstate
- integration.ssh.test_state.SSHStateTest.test_state_show_top
- integration.ssh.test_state.SSHStateTest.test_show_highstate
- integration.ssh.test_state.SSHStateTest.test_show_lowstate
- integration.ssh.test_state.SSHStateTest.test_state_apply
- integration.ssh.test_state.SSHS

[2017-12-15 16:25] rallytime opened #599 "[oxygen] CentOS 7 is failing 3 tests in the integration.ssh.test_deploy"
- integration.ssh.test_deploy.SSHTest.test_ping
- integration.ssh.test_deploy.SSHTest.test_thin_dir
- integration.ssh.test_deploy.SSHTest.test_thin_dir

[2017-12-15 16:26] #592 closed

[2017-12-15 16:26] #590 closed

[2017-12-15 16:26] rallytime opened #600 "[oxygen] CentOS 7 is failing one test in integration.ssh.test_grains"
- integration.ssh.test_grains.SSHGrainsTest.test_grains_items

[2017-12-15 16:26] #587 closed

[2017-12-15 16:27] Ch3LL commented on #586
Fixed by https://github.com/saltstack/salt-jenkins/pull/595

and upgraded install bootstrap version to 2017.7.2

[2017-12-15 16:27] #586 closed

[2017-12-15 16:28] rallytime opened #601 "[oxygen] CentOS 7 is failing one test in integration.ssh.test_raw"
- integration.ssh.test_raw.SSHRawTest.test_ssh_raw

[2017-12-15 16:29] rallytime opened #602 "[oxygen] CentOS 7 is failing 3 tests in integration.cli.test_custom_module"
- integration.cli.test_custom_module.SSHCustomModuleTest.test_ssh_custom_module
- integration.cli.test_custom_module.SSHCustomModuleTest.test_ssh_regular_module
- integration.cli.test_custom_module.SSHCustomModuleTest.test_ssh_sls_with_custom_module

[2017-12-15 16:30] rallytime opened #603 "[oxygen] CentOS 7 is failing several boto tests with module import failures"
- unittest.loader.ModuleImportFailure.unit.modules.test_boto_elb
- unittest.loader.ModuleImportFailure.unit.modules.test_boto_secgroup
- unittest.loader.ModuleImportFailure.unit.modules.test_boto_vpc
- unittest.loader.ModuleImportFailure.unit.modules.test_boto_route53
- unittest.loader.ModuleImportFailure.unit.states.test_boto_vpc
- unittest.loader.ModuleImportFailure.unit.utils.test_boto

[2017-12-15 16:31] rallytime opened #604 "[oxygen] CentOS 7 is failing 3 integration.ssh.test_pillar tests"
- integration.ssh.test_pillar.SSHPillarTest.test_pillar_get
- integration.ssh.test_pillar.SSHPillarTest.test_pillar_get_doesnotexist
- integration.ssh.test_pillar.SSHPillarTest.test_pillar_items

[2017-12-15 16:31] rallytime opened #605 "[oxygen] CentOS 7 is failing one test in integration.cli.test_grains"
- integration.cli.test_grains.SSHGrainsTest.test_grains_id

[2017-12-15 16:32] rallytime opened #606 "[oxygen] CentOS 7 is failing 2 tests in integration.ssh.test_mine"
- integration.ssh.test_mine.SSHMineTest.test_ssh_mine_get
- integration.ssh.test_mine.SSHMineTest.test_ssh_mine_get

[2017-12-15 16:33] rallytime opened #607 "[oxygen] CentOS 7 is failing on test in unit.states.test_file"
- unit.states.test_file.TestFileState.test_directory

[2017-12-15 16:52] Ch3LL commented on #564
And we have success!!!:

https://jenkins.saltstack.com/job/Oxygen/view/Proxy/job/oxygen-salt-cent7-proxy-py3/15/console

[2017-12-15 16:52] #564 closed

[2017-12-15 18:06] #585 closed

[2017-12-15 18:21] rallytime opened #608 "[oxygen] Ubuntu 16 PY3 Failing 6 tests in integration.states.test_docker_container"
- integration.states.test_docker_container.DockerContainerTestCase.test_run_force
- integration.states.test_docker_container.DockerContainerTestCase.test_run_replace
- integration.states.test_docker_container.DockerContainerTestCase.test_run_with_creates
- integration.states.test_docker_container.DockerContainerTestCase.test_run_with_onlyif
- integration.states.test_docker_container.DockerContaine

[2017-12-15 18:23] rallytime opened #609 "[oxygen] Ubuntu 16 Python 3 failing 1 test in integration.states.test_docker_network"
- integration.states.test_docker_network.DockerNetworkTestCase.test_present_with_custom_ipv6

[2017-12-15 18:24] rallytime opened #610 "[oxygen] Python 3 There are 3 tests failing in integration.state.test_file"
I saw these fail in Ubuntu 16, but they're probably failing elsewhere:

- integration.states.test_file.FileTest.test_comment
- integration.states.test_file.FileTest.test_issue_2401_file_comment
- integration.states.test_file.FileTest.test_uncomment

[2017-12-15 19:10] Ch3LL opened #611 "[oxygen] MacOSX cannot start the master/minion processes for the test runner"
When trying to start the test runner it fails when attempting to start the salt master with this stacktrace:

[code]

working on a PR for a fix right now.

[2017-12-15 19:37] rallytime opened #612 "[py3] Two test failures in unit.modules.test_rysnc"
The following tests are failing in unit.modules.test_rsync on Python 3:
- unit.modules.test_rsync.RsyncTestCase.test_rsync
- unit.modules.test_rsync.RsyncTestCase.test_version

[2017-12-15 20:07] Ch3LL opened #613 "[oxygen] tcp py3 transport failing in git.salt state run"
Seeing this error:

[code]

https://jenkins.saltstack.com/job/2017.7/view/Transport/job/salt-2017_7-linode-tcp-ubuntu14-py3/173/console

Working on PR right now.

[2017-12-18 14:01] rallytime commented on #612
Fixed.

[2017-12-18 14:01] #612 closed

[2017-12-18 17:31] garethgreenaway commented on #583
@rallytime Not seeing any recent PRs where this test is failing.

[2017-12-18 18:23] rallytime commented on #583
@garethgreenaway Hrm. It's failing on the branch right now: https://jenkins.saltstack.com/job/Oxygen/view/Branch%20Python%203/job/oxygen-salt-ubuntu16.04-py3/lastCompletedBuild/testReport/junit/integration.modules.test_state/StateModuleTest/test_exclude/

There are many Py3 test failures currently, so it might be getting buried in the list. Are you able to reproduce it?

[2017-12-18 18:28] rallytime commented on #598
@gtmanfred I have assigned this to you. It's likely that whatever is going on with these test failures is also causing the other 20 or so ssh-related test failures.

I am not sure if this is AMI-related or something in salt-code. There are several other ssh-related test failures on some of the other RHEL-flavored tests. (Cent6, Fedora 26, Fedora 27 etc.) So if we can get a handle on these here, it

[2017-12-18 18:32] rallytime opened #616 "Failed Test: unit.proxy.test_esxdatacenter.InitTestCase.test_invalid_proxy_input_error"
- unit.proxy.test_esxdatacenter.InitTestCase.test_invalid_proxy_input_error

[code]

[2017-12-18 18:34] rallytime opened #617 "7 Tests failing in unit.utils.vmware.test_vm"
- unit.utils.vmware.test_vm.RegisterVirtualMachineTestCase.test_register_vm_host_task_call
[code]
- unit.utils.vmware.test_vm.RegisterVirtualMachineTestCase.test_register_vm_pool_task_call
[code]
- unit.utils.vmware.test_vm.RegisterVirtualMachineTestCase.test_register_vm_host_task_call
[code]
- unit.utils.vmware.test_vm.RegisterVirtualMachineTestCase.test_register_vm_pool_task_call
[code]
- unit.u

[2017-12-18 18:35] rallytime opened #618 "Failed Test: unit.proxy.test_esxcluster.InitTestCase.test_invalid_proxy_input_error"
- unit.proxy.test_esxcluster.InitTestCase.test_invalid_proxy_input_error
[code]

[2017-12-18 18:42] rallytime commented on #583
@garethgreenaway Actually, that build was from a couple of days ago and I don't see it failing on the latest build: https://jenkins.saltstack.com/job/Oxygen/view/Branch%20Python%203/job/oxygen-salt-ubuntu16.04-py3/16/#showFailuresLink

I'll close this. If it pops up again I will reopen. :)

[2017-12-18 18:42] #583 closed

[2017-12-18 18:48] rallytime opened #620 "Failed test: unit.proxy.test_esxcluster.InitTestCase.test_invalid_proxy_input_error"
- unit.proxy.test_esxcluster.InitTestCase.test_invalid_proxy_input_error
[code]

Probably related to the failure in #616.

[2017-12-18 18:52] rallytime opened #621 "Test Failed: unit.modules.test_btrfs.BtrfsTestCase.test_properties_error"
- unit.modules.test_btrfs.BtrfsTestCase.test_properties_error
[code]

[2017-12-18 19:00] rallytime opened #622 "~25 tests failing in unit.modules.test_dockermod in Python 3"
These tests are all failing with a similar message:
[code]

[2017-12-18 19:02] rallytime opened #623 "Failed test: integration.netapi.rest_cherrypy.test_app.TestJobs.test_all_jobs"
- integration.netapi.rest_cherrypy.test_app.TestJobs.test_all_jobs
[code]
This is for python 3

[2017-12-18 19:04] rallytime opened #624 "Failed test: unit.templates.test_jinja.TestCustomExtensions.test_nested_structures"
- unit.templates.test_jinja.TestCustomExtensions.test_nested_structures
[code]
This is in Python 3.

[2017-12-18 19:04] rallytime opened #625 "Failed test: unit.modules.test_virtualenv.VirtualenvTestCase.test_get_virtualenv_version_from_shell"
- unit.modules.test_virtualenv.VirtualenvTestCase.test_get_virtualenv_version_from_shell
[code]
This is on Python 3.

[2017-12-18 21:17] rallytime commented on #593
Update: @terminalmage has a fix for this, so I'll assign this to him and label appropriately.

[2017-12-18 21:56] Ch3LL opened #626 "[oxygen][salt-cloud] GCE Failing on creationg of VM"
When running the test suite it is not creating the VM.

[code]

Finally tracked it down to a regex check that I don't believe currently allows a capitilized latter in the VM name when creating a VM. Going to try to track down a fix.

[2017-12-18 21:58] Ch3LL commented on #626
update: found it was changed in this commit: https://github.com/saltstack/salt/pull/42035/commits/80f53cd98cc1bd2d68e3582592789ce890fb088c

As you can see we were previously using a lowercase name for the VM for gce tests. Need to find out if this is on purpose or if we need to update the regex.

[2017-12-18 22:15] terminalmage commented on #593
This was caused by the recent deprecation of the `environment` parameter. The SSH wrappers for the state module still needed to be updated. Also, I found that a bunch of the functions in the salt-ssh state wrapper did not respect the SLS opts `saltenv` and `pillarenv`, as provided by `_get_opts()` in salt/modules/state.py.

Because I had recently pulled `_get_opts()` into `salt.utils.state` to mak

[2017-12-19 14:21] rallytime commented on #609
Looks like this was fixed with https://github.com/saltstack/salt/pull/45038

[2017-12-19 14:22] rallytime commented on #623
This looks to be fixed by https://github.com/saltstack/salt/pull/45038

[2017-12-19 14:22] rallytime commented on #621
This looks like it was fixed with https://github.com/saltstack/salt/pull/45038

[2017-12-19 14:23] rallytime commented on #620
Duplicate of #618. Closing.

[2017-12-19 14:23] #620 closed

[2017-12-19 14:23] rallytime commented on #616
Fixed by https://github.com/saltstack/salt/pull/45038

[2017-12-19 14:24] rallytime commented on #618
Fixed by https://github.com/saltstack/salt/pull/45038

[2017-12-19 14:33] #611 closed

[2017-12-19 14:33] #613 closed

[2017-12-19 14:55] #610 closed

[2017-12-19 15:04] Ch3LL commented on #626
Okay looks like it is a requirement of GCE to be a lowercase name. When removing the regex check in salt-cloud gce.py file I received this error:

[code]

so easy fix just need to change the name of the VM.

[2017-12-19 16:20] terminalmage commented on #608
These are fixed locally and will be added to the PY3 fixes I've been appending to https://github.com/saltstack/salt/pull/45038.

[2017-12-19 16:23] Ch3LL opened #628 "[oxygen][salt-cloud] Joyent VM Failure on Creation of VM"
Seeing this stack trace when trying to create a VM with our cloud tests:

[code]

[2017-12-19 16:37] dubb-b commented on #591
This is complete. Fedora25 removed.

[2017-12-19 16:37] #591 closed

[2017-12-19 17:07] dubb-b commented on #562
Fedora is added, can you validate and close? @Ch3LL

[2017-12-19 18:12] terminalmage commented on #625
@garethgreenaway This is fixed along with a bunch of the other PY3 failures in https://github.com/saltstack/salt/pull/45038 (I tacked on a bunch of fixes unrelated to docker while I was looking into the PY3 docker failures).

[2017-12-20 14:10] #625 closed

[2017-12-20 14:11] #623 closed

[2017-12-20 14:11] #621 closed

[2017-12-20 14:11] #624 closed

[2017-12-20 14:11] #618 closed

[2017-12-20 14:11] #617 closed

[2017-12-20 14:11] #616 closed

[2017-12-20 14:12] #609 closed

[2017-12-20 14:12] #608 closed

[2017-12-20 14:15] #593 closed

[2017-12-20 14:17] rallytime commented on #622
This should be fixed with https://github.com/saltstack/salt/pull/45095

[2017-12-20 16:41] Ch3LL opened #633 "[oxygen][macosx10.11] Tests are hanging"
On MacOSX 10.11 in oxygen the tests are hanging with this error repeating continually repeating itself until the test suite kills itself:

[code]

To note the tests are now running on macosx but don't finish due to this error.

http://mac-jenkins:8080/job/oxygen/job/macOS-10.11/6/console

[2017-12-20 16:47] Ch3LL opened #634 "[oxygen] Macosx 10.12 test_linux_iscsi_iqn_grains failing"
The test unit.grains.test_core.CoreGrainsTestCase.test_linux_iscsi_iqn_grains on Macosx 10.12 is failing with this error:

[code]

http://mac-jenkins:8080/job/oxygen/job/macOS-10.12/6/testReport/junit/unit.grains.test_core/CoreGrainsTestCase/test_linux_iscsi_iqn_grains/

[2017-12-20 16:49] Ch3LL opened #635 "[oxygen] MacOSX 10.12 test_pam_auth_valid_group failing"
The test integration.shell.test_auth.AuthTest.test_pam_auth_valid_group on MacOSX 10.12 is failing with teh following error:

[code]

http://mac-jenkins:8080/job/oxygen/job/macOS-10.12/6/testReport/junit/integration.shell.test_auth/AuthTest/test_pam_auth_valid_group/

[2017-12-20 16:50] Ch3LL opened #636 "[oxygen] MacOSX 10.12 test_pam_auth_valid_user failing"
The test integration.shell.test_auth.AuthTest.test_pam_auth_valid_user  on MacOSX 10.12 is failing with the error:

[code]

http://mac-jenkins:8080/job/oxygen/job/macOS-10.12/6/testReport/junit/integration.shell.test_auth/AuthTest/test_pam_auth_valid_user/

[2017-12-20 16:52] Ch3LL opened #637 "[oxygen] MacOSX 10.12 test_extracted_tar failing"
The test unit.states.test_archive.ArchiveTestCase.test_extracted_tar is failing on MacOSX 10.12 with the error:

[code]

http://mac-jenkins:8080/job/oxygen/job/macOS-10.12/6/testReport/junit/unit.states.test_archive/ArchiveTestCase/test_extracted_tar/

[2017-12-20 16:53] Ch3LL opened #638 "[oxygen] MacOSX10.12 test_tar_bsdtar failing"
The test unit.states.test_archive.ArchiveTestCase.test_tar_bsdtar is failing on MacOSX 10.12 with error:

[code]

http://mac-jenkins:8080/job/oxygen/job/macOS-10.12/6/testReport/junit/unit.states.test_archive/ArchiveTestCase/test_tar_bsdtar/

[2017-12-20 16:54] Ch3LL opened #639 "[oxygen] MacOSX10.12 test_tar_gnutar failing"
The test unit.states.test_archive.ArchiveTestCase.test_tar_gnutar is failing on MacOSX 10.12 with error:

[code]

http://mac-jenkins:8080/job/oxygen/job/macOS-10.12/6/testReport/junit/unit.states.test_archive/ArchiveTestCase/test_tar_gnutar/

[2017-12-20 16:56] Ch3LL opened #640 "[oxygen] MacOSX 10.12 test_service_status_running failing"
The test integration.modules.test_service.ServiceModuleTest.test_service_status_running is failing on MacOSX 10.12 with error:

[code]

http://mac-jenkins:8080/job/oxygen/job/macOS-10.12/6/testReport/junit/integration.modules.test_service/ServiceModuleTest/test_service_status_running/

[2017-12-20 16:59] Ch3LL opened #641 "[oxygen] MacOSX StateModuleTest failures"
The following tests are failing on MacOSX 10.12:

integration.modules.test_state.StateModuleTest.test_state_sls_id_test
integration.modules.test_state.StateModuleTest.test_state_sls_id_test_false_pillar_true
integration.modules.test_state.StateModuleTest.test_state_sls_id_test_state_test_post_run
integration.modules.test_state.StateModuleTest.test_state_sls_id_test_true
integration.modules.test_st

[2017-12-20 17:02] Ch3LL opened #642 "[oxygen] MacOSX 10.12 test_grains_items failing"
The test integration.ssh.test_grains.SSHGrainsTest.test_grains_items is failing on MacOSX10.12 with error:

[code]

http://mac-jenkins:8080/job/oxygen/job/macOS-10.12/6/testReport/junit/integration.ssh.test_grains/SSHGrainsTest/test_grains_items/

[2017-12-20 17:04] Ch3LL opened #643 "[oxygen] MacOSX 10.12 test_brew_install failing"
The test integration.modules.test_mac_brew.BrewModuleTest.test_brew_install on Mac OSX is failing with error:

[code]

http://mac-jenkins:8080/job/oxygen/job/macOS-10.12/6/testReport/junit/integration.modules.test_mac_brew/BrewModuleTest/test_brew_install/

[2017-12-20 17:06] Ch3LL opened #644 "[oxygen] MacOSX 10.12 ServiceTest failures"
The following tests are failing on MacOSX 10.12:

integration.states.test_service.ServiceTest.test_service_dead
integration.states.test_service.ServiceTest.test_service_dead_init_delay
integration.states.test_service.ServiceTest.test_service_running

http://mac-jenkins:8080/job/oxygen/job/macOS-10.12/6/#showFailuresLink

[2017-12-20 17:10] Ch3LL opened #645 "[oxygen] MacOSX 10.11 py3 test_valid_docs failing"
The test integration.modules.test_sysmod.SysModuleTest.test_valid_docs is failing on MacOSX 10.11 py3 tests with error:

[code]

http://mac-jenkins:8080/job/oxygen/job/macOS-py3-10.11/3/testReport/junit/integration.modules.test_sysmod/SysModuleTest/test_valid_docs/

[2017-12-20 17:16] Ch3LL opened #646 "[oxygen] MacOSX py3 test_download_a failing"
The test integration.modules.test_mac_softwareupdate.MacSoftwareUpdateModuleTest.test_download_all is failing with error:

[code]

http://mac-jenkins:8080/job/oxygen/job/macOS-py3-10.11/3/testReport/junit/integration.modules.test_mac_softwareupdate/MacSoftwareUpdateModuleTest/test_download_all/

[2017-12-20 17:19] Ch3LL opened #647 "[oxygen] MacOSX 10.11 py3 UserTest failures"
The following tests are failing on MacOSX 10.11 py3:

integration.states.test_user.UserTest.test_user_if_present
integration.states.test_user.UserTest.test_user_if_present_with_gid
integration.states.test_user.UserTest.test_user_present_unicode
integration.states.test_user.UserTest.test_user_present_when_home_dir_does_not_18843

http://mac-jenkins:8080/job/oxygen/job/macOS-py3-10.11/3/#showFailure

[2017-12-20 17:20] Ch3LL opened #648 "[oxygen] MacOSX 10.11 Py 3 test_append_newline_at_eof failing"
The test unit.modules.test_file.FileModuleTestCase.test_append_newline_at_eof is failing on MacOSX 10.11 py3 with error:

[code]

http://mac-jenkins:8080/job/oxygen/job/macOS-py3-10.11/3/testReport/junit/unit.modules.test_file/FileModuleTestCase/test_append_newline_at_eof/

[2017-12-20 17:27] Ch3LL opened #649 "[oxygen] salt-cloud tests: vmware failures"
The following vmware tests are failing on both py2 and py3:

[code]

[2017-12-20 17:28] Ch3LL opened #650 "[oxygen] salt-cloud: ec2 failures"
The following salt-cloud ec2 tests are failing on py2 and py3:

[code]

[2017-12-20 17:29] Ch3LL opened #651 "[oxygen] salt-cloud: digital ocean tests skipped"
The digital ocean tests are being skipped:

[code]

[2017-12-20 17:30] Ch3LL opened #652 "[oxygen] salt-cloud: rackspace skipped tests"
The rackspace salt-cloud tests are being skipped:

[code]

[2017-12-20 18:31] rallytime commented on #652
@Ch3LL What salt-cloud driver is being used here? I think that's intended from the changes @gtmanfred made for the openstack driver. He has a plan for getting the new openstack driver tested (using kitchen-salt, iirc).

[2017-12-20 19:12] gtmanfred commented on #652
hrm, that one shouldn't be getting skipped though.

[2017-12-20 19:43] Ch3LL commented on #652
Yeah i'm not sure we will just need someone to dive more into it to see why its not picking up. Could just be an auth problem.

[2017-12-20 20:04] gtmanfred commented on #652
Oh yeah, we probably need to switch the settings over to be the new
openstack driver, instead of the old one possibly?

On Wed, Dec 20, 2017 at 12:49 PM, Megan Wilhite <notifications@github.com>
wrote:

[2017-12-20 21:35] dubb-b commented on #560
Created a issue with Suse: https://bugzilla.opensuse.org/show_bug.cgi?id=1073748

[2017-12-21 20:14] rallytime opened #655 "[2016.11] Cent6 is failing git.salt states"
[code]

I don't think we need to be installing pytest on 2016.11, as that refactor to use pytest was done in 2017.7. CentOS 6 still runs on Python2.6 in the 2016.11 releases.

[2017-12-27 14:22] rallytime commented on #583
This popped up again, but was fixed by https://github.com/saltstack/salt/pull/45158

[2017-12-29 01:08] #598 closed

[2017-12-29 01:08] rallytime commented on #599
Fixed with https://github.com/saltstack/salt/pull/45209

[2017-12-29 01:08] #599 closed

[2017-12-29 01:09] rallytime commented on #606
Fixed with https://github.com/saltstack/salt/pull/45209

[2017-12-29 01:09] #606 closed

[2017-12-29 01:09] rallytime commented on #604
Fixed with https://github.com/saltstack/salt/pull/45209

[2017-12-29 01:09] #604 closed

[2017-12-29 01:09] rallytime commented on #602
Fixed with https://github.com/saltstack/salt/pull/45209

[2017-12-29 01:09] #602 closed

[2017-12-29 01:09] rallytime commented on #601
Fixed with https://github.com/saltstack/salt/pull/45209

[2017-12-29 01:09] #601 closed

[2017-12-29 01:09] rallytime commented on #600
Fixed with https://github.com/saltstack/salt/pull/45209

[2017-12-29 01:09] #600 closed

[2017-12-29 15:56] gtmanfred commented on #594
@rallytime are you still seeing these?

I am wondering if these will go away now that the failures for ssh have been fixed?

[2017-12-29 16:08] gtmanfred commented on #652
Once the above to prs are in, we will just need to update the providers and profiles for the cloud tests, and this should be ready.

[2017-12-29 16:14] #594 closed

[2017-12-29 16:16] gtmanfred commented on #562
Confirmed

[2017-12-29 16:16] #562 closed

[2017-12-30 18:11] #607 closed

[2018-01-02 17:39] rallytime commented on #622
This is fixed now.

[2018-01-02 17:39] #622 closed

[2018-01-02 18:13] Ch3LL commented on #652
I'll test this today or tomorrow

[2018-01-02 19:03] Ch3LL commented on #545
Fixed by #45112

[2018-01-02 19:03] #545 closed

[2018-01-02 19:52] Ch3LL commented on #605
Its passing now: https://jenkins.saltstack.com/job/Oxygen/job/oxygen-salt-cent7-py2/39/testReport/integration.cli.test_grains/SSHGrainsTest/test_grains_id/

[2018-01-02 19:52] #605 closed

[2018-01-02 22:33] rallytime commented on #588
I am not seeing this anymore. I'll close this for now. We can reopen if there are issues again.

[2018-01-02 22:33] #588 closed

[2018-01-02 22:33] rallytime commented on #626
Looks like this should be fixed now.

[2018-01-02 22:33] #626 closed

[2018-01-02 22:42] gtmanfred commented on #588
:+1:

[2018-01-03 20:45] dubb-b commented on #560
as per this thread:

The segfault is caused by this issue with Python:

https://bugs.python.org/issue29347

Commit that fixes the problem upstream:

https://github.com/python/cpython/commit/7131a73f9655cfd325c798385905326f57b94640

Solutions:

a) Upgrade to Python 2.7.14
b) Apply patch to current Python package: https://github.com/python/cpython/commit/7131a73f9655cfd325c798385905326f57b94640#diff

[2018-01-03 20:48] gtmanfred commented on #560
we will need to wait for them to finish upgrading their python version to 2.7.14.  it is in the obs build system, just needs to be moved to the actual release.

[2018-01-04 20:47] frogunder commented on #646
I could not replicate this,  will re-run the tests to see if it was just flaky behavior

[2018-01-04 20:57] Ch3LL commented on #652
Once this is merged: https://github.com/saltstack/salt-jenkins/pull/667  tests should start passing since the cloud tests use the master branch.

[2018-01-04 21:10] gtmanfred commented on #652
:+1:

[2018-01-05 15:46] rallytime opened #672 "[2016.11, 2017.7, develop] Arch isn't bootstrapping - updated image name on linode probably"
[code]

@dubb-b Let's get this updated quickly so we can get some test results in so we know what needs to be fixed.

This is happening across all branches except oxygen.

[2018-01-05 16:02] rallytime opened #673 "[2016.11] Ubuntu 14 failing in git.salt state run"
[code]

This is likely due to the change in #597, which was back-ported to 2016.11 in #661.

@gtmanfred I am wondering if when you marked that for back-port, you intended for that only to go to the 2017.7 branch? Should I just revert that backport for 2016.11? (And make sure that the original PR is is 2017.7?)

[2018-01-05 16:17] dubb-b commented on #672
@rallytime this is complete. Once the queue for 2017.7 clears I can validate everything is good there. I checked 2016.11, its running now.

[2018-01-05 16:26] rallytime opened #674 "[2017.7] New test_man_spm test is failing on Debian 9"
@frogunder Since you wrote this new test, can you look into this?

[code]

https://jenkins.saltstack.com/job/2017.7/job/salt-2017_7-linode-debian9/lastCompletedBuild/testReport/integration.spm.test_man_spm/SPMManTest/test_man_spm/

It looks like this is failing on CentOS 6 as well: https://jenkins.saltstack.com/job/2017.7/job/salt-linode-cent6/lastCompletedBuild/testReport/integration.spm.test_man

[2018-01-05 16:30] rallytime opened #675 "[2017.7] unit.states.test_file.TestFileState.test_directory is failing on Fedora 27 and CentOS 6"
[code]

@gtmanfred Can you take another look at this test for 2017.7? I know you fixed this on `oxygen`, but it's failing here as well. I tried to back-port your fix, but as discussed, this didn't work: https://github.com/saltstack/salt/pull/45234

Can you look into this again for the 2017.7 branch?

Most recently I am seeing this fail on CentOS 6: https://jenkins.saltstack.com/job/2017.7/job/salt

[2018-01-05 16:46] rallytime opened #676 "[2017.7] PY3: unittest.loader.ModuleImportFailure.unit.grains.test_core failure"
[code]

I have seen this fail frequently on PR tests, but I am not sure if it's consistent or not. Currently I am looking at this build on Debian 8 Python 3: https://jenkins.saltstack.com/job/2017.7/view/Branch%20Python%203/job/salt-linode-py3-debian8/lastCompletedBuild/testReport/unittest.loader.ModuleImportFailure.unit/grains/test_core/

As well as Py3 Fedora 27: https://jenkins.saltstack.com/jo

[2018-01-05 16:46] gtmanfred commented on #673
Yeah, it should have only gone back to 2017.7, that is my bad.

There was this pr that makes it so the dbus stuff is only run on systemd systems, but it was merged into 2017.7 https://github.com/saltstack/salt-jenkins/pull/525

We only really need this block of stuff for test suites that we are running on amazon.

[2018-01-05 17:02] frogunder commented on #646
This test did not fail  when I re-run the tests.

[code]

http://mac-jenkins.lehi.saltstack.net:8080/job/oxygen/job/macOS-py3-10.11/6/testReport/integration.modules.test_mac_softwareupdate/MacSoftwareUpdateModuleTest/test_download_all/

[2018-01-05 17:24] rallytime commented on #673
Ok, I'll just back port that PR so we can get those bootstrapping again. That will probably be easiest. Then we won't have to catch those if we decide switch 2016.11 to amazon.

[2018-01-05 17:42] rallytime commented on #672
@dubb-b Great! How about develop?

[2018-01-05 17:50] rallytime commented on #646
@Ch3LL This OK to close?

[2018-01-05 17:52] dubb-b commented on #672
@rallytime I updated all the nodes. Keeping them in sync :)

I just kicked off a develop job. It looks like it working now.

[2018-01-05 18:22] rallytime commented on #672
The 2016.11 tests even passed. :D

Thanks @dubb-b!

[2018-01-05 18:22] #672 closed

[2018-01-05 18:54] rallytime opened #678 "[2017.7] Proxy Minion Tests for Py3 are failing"
Possibly the same issue as #564 but for 2017.7 instead of oxygen? I didn't investigate too closely, so I'm not sure. That was fixed with this: https://github.com/saltstack/salt/pull/44973

Looks like the proxy minion test process is having a hard time starting: https://jenkins.saltstack.com/job/2017.7/view/Proxy/

[2018-01-05 18:58] rallytime opened #679 "[2017.7] PY3: Transport tests are not getting through git.salt run"
The Python 3 Transport tests on 2017.7 are not able to get past the salt-jenkins states. They both have the following error:

[code]

https://jenkins.saltstack.com/job/2017.7/view/Transport/

@dubb-b Can you look into this please? We need to see test results here in case some things failing in the test run as we get ready for 2017.7.3. :)

[2018-01-05 19:21] gtmanfred commented on #678
+1 this is the fix.

[2018-01-05 19:49] rallytime commented on #678
Hooray!

[2018-01-05 20:30] rallytime commented on #673
This is fixed!

[2018-01-05 20:30] #673 closed

[2018-01-05 21:46] Ch3LL commented on #652
pending this merge: https://github.com/saltstack/salt/pull/45306

[2018-01-05 22:14] Ch3LL commented on #646
Yep! thanks @frogunder :)

[2018-01-05 22:14] #646 closed

[2018-01-06 01:04] dubb-b commented on #679
@rallytime These are all running now. The issue was the gitfs needed to be updated with @Ch3LL changes. I did that kicked them off and made sure they made it to the test stage. The ubuntu14 one ran out of memory. I upped the instance size and it looked better.

[2018-01-08 15:01] terminalmage commented on #603
I dug into the boto source code this morning and it is apparently trying to load data from a file called `endpoints.json`. In my testing docker image this file _does_ have a `partitions` key. I'm spinning up a dev box using Brett's tool here: https://jenkins.saltstack.com/view/All/job/dev_env_builder/78/console

[2018-01-08 15:13] terminalmage commented on #603
I was able to import `boto.ec2` on the dev box I spawned above. ¯\_(ツ)_/¯

[2018-01-08 15:42] Ch3LL commented on #643
This is passing when i try to run it. Will re-run tests and see if it works

[2018-01-08 16:31] gtmanfred commented on #603
It is worth mentioning that we are not seeing this error at all when running with kitchen-salt.

Also, even if these fail to load, the test still runs, which is super weird too.

[2018-01-08 16:31] Ch3LL commented on #643
Okay was able to replicate the issue. Seeing this error when trying to brew install something:

[code]

diving in right now. might need to update salt-jenkins states to prep the VM.

[2018-01-08 17:17] #679 closed

[2018-01-08 17:30] #655 closed

[2018-01-08 19:01] Ch3LL commented on #643
Okay I tried adding `refresh: True` to a `pkg.installed` state but that did not work as well because it failed with the same error. So i'm adding a workaround in `salt-jenkins` to run a `brew update` before we run the test runner. working on pr now

[2018-01-08 20:04] Ch3LL commented on #645
can't replicate. re-running tests.

[2018-01-08 20:44] Ch3LL commented on #636
duplicate https://github.com/saltstack/salt-jenkins/issues/504

[2018-01-08 20:44] #636 closed

[2018-01-08 20:44] Ch3LL commented on #635
duplicate https://github.com/saltstack/salt-jenkins/issues/504

[2018-01-08 20:44] #635 closed

[2018-01-08 20:54] Ch3LL commented on #549
I don't see this failing on oxygen branch so removing oxygen label for now

[2018-01-08 21:18] Ch3LL commented on #652
tests are not being skipped now although they are failing now. Will create another issue to track the failure and fix.

[2018-01-08 21:18] #652 closed

[2018-01-08 21:18] Ch3LL opened #682 "[oxygen] salt-cloud rackspace tests failing"
[code]

[2018-01-08 21:20] Ch3LL commented on #652
here's the issue for reference: https://github.com/saltstack/salt-jenkins/issues/682

[2018-01-08 21:26] Ch3LL commented on #682
Found stack trace in cloud log:

[code]

ping @gtmanfred any chance you see the issue at first glance? If not I can dive in

[2018-01-08 21:28] #634 closed

[2018-01-08 21:53] Ch3LL commented on #645
seeing this stack trace when re-running tests in jenkins:

[code]

and doesn't look like any of the tests are running. my initial suspicions are related to the new discovery stuff added in oxygen. I'm guessing whichever PR we add for this issue: https://github.com/saltstack/salt/issues/45056  will resolve the issue as we will be disabling discovery by default.

Looking to see if i can replicate it

[2018-01-08 22:33] gtmanfred commented on #682
Yeah i think the problem is we just need to change that `addr['OS-EXT-IPS:type']` to use `.get`

[2018-01-09 14:57] rallytime opened #683 "[oxygen/PRs/develop] Test daemons not starting"
The test deamons are not starting on the oxygen and develop branches. They're also not running on PRs either. I am not sure if this is related to the AWS images, some updated package via salt-jenkins, or salt code. Though since this popped up on multiple branches all at once, without a merge forward, I don't think it's a change in salt-code.

@gtmanfred Can you look into this? You and @dubb-b have

[2018-01-09 15:45] dubb-b commented on #683
@rallytime some of these are due to the EPEL repo being unavailable yesterday. I started a few of them and will be looking at what happens. @gtmanfred if you find anything else let me know.

[2018-01-09 15:48] rallytime commented on #683
@dubb-b OK good to know. 👍

I am seeing this across multiple distros. For example, the Ubuntu PR tests are also having this problem, which shouldn't be related to the EPEL issues.

[2018-01-09 16:01] dubb-b commented on #683
Also, to update everyone to keep in sync, this doesnt seem to be AWS related, I just created a debian9 off of develop, it had the same issue. It is in Linode.
Here is the job: https://jenkins.saltstack.com/job/develop/job/salt-develop-linode-debian9/106/console

[2018-01-09 16:03] gtmanfred commented on #683
I am spinning up a local instance to see if I can replicate it and see what is happening.

[2018-01-09 17:01] Ch3LL commented on #645
this error is not occuring anymore. Also the initial test in this issue failed again. so need to dive in more.

[2018-01-09 17:08] gtmanfred commented on #683
and it fixed itself

[2018-01-09 21:40] Ch3LL opened #684 "MacOSX Tests Python3 Master and Minion Processes not starting"
Sometimes the tests on python3 Macosx 10.11, 10.12 the salt-master proccesses don't start up:

[code]

http://mac-jenkins:8080/job/oxygen/job/macOS-py3-10.11/9/console

[2018-01-09 22:02] rallytime opened #685 "[2016.11] Centos 6 tests failing 4 pip integration tests"
From the `integration.modules.pip.PipModuleTest` test module:
- test_requirements_as_list__sans_no_chown__absolute_file_path
- test_requirements_as_list__sans_no_chown__non_absolute_file_path
- test_requirements_as_list_of_chains__sans_no_chown__cwd_not_set__absolute_file_path
- test_requirements_as_list_of_chains__sans_no_chown__cwd_set__absolute_file_path

https://jenkins.saltstack.com/job/2016.

[2018-01-10 15:27] rallytime opened #686 "[2017.7] PY3: 1 test failing in integration.ssh.test_state"
- integration.ssh.test_state.SSHStateTest.test_state_show_top:
[code]

@terminalmage I think this was already fixed by the discussion in https://github.com/saltstack/salt/pull/44697? Would you mind taking another look here?

[2018-01-10 15:34] #675 closed

[2018-01-10 15:35] #678 closed

[2018-01-10 15:40] rallytime opened #687 "[2017.7] Arch not getting past git.salt state run"
Both Py2 and Py3 runs are affected. Here's the error:
[code]

@dubb-b Can you look into this, please?

[2018-01-10 15:41] gtmanfred commented on #678
![party](https://media.giphy.com/media/hsBZfDG7wiWHu/giphy.gif)

[2018-01-10 15:59] rallytime commented on #683
This is happening again this morning. Re-opening.

[2018-01-10 21:17] Ch3LL commented on #549
okay this is the cause: https://github.com/tornadoweb/tornado/issues/1573 which has been fixed in newer tornado versions. So will need to look at salt-jenkins states to make sure we are installing latest tornado available for debian.

[2018-01-10 21:45] Ch3LL opened #689 "[2016.11] MacOSX 10.11 mac_softwareupdate failures"
The following tests are failing on MacOSX 10.11 2016.11

integration.modules.mac_softwareupdate.MacSoftwareUpdateModuleTest.test_download_all
integration.modules.mac_softwareupdate.MacSoftwareUpdateModuleTest.test_ignore

http://mac-jenkins:8080/job/2016.11/job/macOS-10.11/678/

[2018-01-10 22:07] terminalmage commented on #686
Test will be skipped for 2017.7 only on PY3 (explanation in https://github.com/saltstack/salt/pull/45382).

[2018-01-11 14:16] Ch3LL commented on #687
I believe this is related to the salt version. We might need to upgrade the salt version on arch because that function was added later on.

[2018-01-11 14:23] #686 closed

[2018-01-11 14:46] rallytime commented on #676
@gtmanfred Good news - Erik fixed this one in https://github.com/saltstack/salt/pull/45388

[2018-01-11 15:47] Ch3LL opened #691 "[2017.7] unit.modules.test_kubernetes failing Mac 10.11"
The following tests are failing on py2 Mac10.11 tests:

unit.modules.test_kubernetes.KubernetesTestCase.test_create_deployments
unit.modules.test_kubernetes.KubernetesTestCase.test_delete_deployments
unit.modules.test_kubernetes.KubernetesTestCase.test_deployments
unit.modules.test_kubernetes.KubernetesTestCase.test_nodes
unit.modules.test_kubernetes.KubernetesTestCase.test_pods
unit.modules.test_

[2018-01-11 15:58] rallytime opened #692 "[2016.11] 2 boto_vpc test failures"
One is a module test failure:
- unittest.loader.ModuleImportFailure.unit.modules.boto_vpc_test
[code]

The other is a state test failure:
- unittest.loader.ModuleImportFailure.unit.states.boto_vpc_test
[code]

This is failing at the HEAD of 2016.11. Currently seeing it also on PRs, so this is likely due to a package upgrade or something.

[2018-01-11 16:04] dubb-b commented on #687
Will update now, thanks @Ch3LL

[2018-01-11 16:11] Ch3LL opened #693 "[2016.11] integration.shell.call. MacOSX 10.11 tests failing"
The following tests on MacOSX 10.11 are failing:

[code]

http://mac-jenkins:8080/job/2016.11/job/macOS-10.11/lastFailedBuild/

[2018-01-11 16:16] Ch3LL opened #694 "[2017.7] salt-cloud vmware tests failing"
On 2017.7 branch tests vmware test is failing:

[code]

[2018-01-11 16:18] Ch3LL opened #695 "[2017.7] rackspace tests are getting skipped"
The rackspace tests are getting skipped because we are usign the new rackspace config files. We will need to update the setup states to determine what configuration setup to use based on branch.

[2018-01-11 16:23] Ch3LL commented on #549
started a test here: https://jenkins.saltstack.com/job/2016.9/job/salt-2016_9-linode-debian8/1564/console to see if deb8 passes now

[2018-01-11 17:14] dubb-b commented on #687
Those have been updated and are running tests now.

@rallytime can you validate and close?

[2018-01-11 17:34] Ch3LL commented on #549
Looks like this indeed solved the failing tornado api tests :)

[2018-01-11 17:34] #549 closed

[2018-01-11 19:17] frogunder commented on #647
I was not able to replicate this, seems to run correctly for me. Will re-run tests in Jenkins to see if is still fails.

[code]

[2018-01-11 19:20] rallytime commented on #687
Yep, fixed! Thank you. 👍

[2018-01-11 19:20] #687 closed

[2018-01-11 19:53] Ch3LL commented on #689
These tests aren't failing anymore and i can't reproduce. Closing as resolved.

[2018-01-11 19:53] #689 closed

[2018-01-11 20:46] Ch3LL commented on #693
cannot replicate this one either....re-running tests.

[2018-01-12 01:23] #685 closed

[2018-01-12 02:32] gtmanfred commented on #692
the moto.__version__ object is now a tuple instead of a string, part of the release yesterday https://github.com/spulec/moto/releases/tag/1.2.0

[2018-01-12 14:28] rallytime opened #698 "[2016.11] CentOS 6 not passing git.salt state: pyopenssl"
There was a PR that went in recently to update pyopenssl is causing CentOS 6 to error during the `git.salt` state run:
[code]

[2018-01-12 14:32] rallytime commented on #692
Let's just pin this package. It causes more work than it should.

Fix is in #697

[2018-01-12 21:52] Ch3LL commented on #684
Okay these tests are still failing even with this PR in https://github.com/saltstack/salt/pull/45392

Here is what i found today and path forward

- when running state.event outside of the test runner i can see events vs while in the test runner i don't see any events
- on the test runner if i write my own custom event listener i see the events fine
- python2 processes start up fine on these boxes

[2018-01-16 14:45] rallytime opened #704 "[2016.11.9] CentOS 6 is not starting tests"
[code]

[2018-01-16 14:49] rallytime opened #705 "[2016.11.9] Fedora 27 not getting to git.salt state run"
It's bailing right here:
[code]

[2018-01-16 14:52] rallytime opened #706 "[2016.11.9] CentOS 7 Proxy tests not getting past git.salt run"
I have seen this in the salt-jenkins travis/kitchen salt tests, too, but basically the `git.salt` state runs, and complete successfully. But then Jenkins thinks that it didn't for some reason, and aborts:
[code]
I was thinking it just had something to do with kitchen salt, but now I am seeing it here: https://jenkins.saltstack.com/job/2016.11.9/view/Proxy/job/2016.11/

I'm not sure if this is a co

[2018-01-16 14:53] rallytime commented on #706
It's happening on the 2016.11 branch PY2 tests too: https://jenkins.saltstack.com/job/2016.9/job/salt-2016_9-linode-cent7/lastFailedBuild/console

[2018-01-16 14:55] rallytime opened #707 "[2016.11] Issue with created Fedora 27 VM"
[code]
https://jenkins.saltstack.com/job/2016.9/job/2016.11-salt-fedora27-py2/lastFailedBuild/console

[2018-01-16 14:57] dubb-b commented on #705
This is the modification to the code @gtmanfred made for AWS to work. I will update.

[2018-01-16 14:58] rallytime opened #708 "[2017.7.3] Arch bailing after 45 seconds"
[code]

[2018-01-16 15:00] rallytime opened #709 "[2017.7.3] Ubuntu 17 not bootstrapping"
https://jenkins.saltstack.com/job/2017.7.3/job/salt-dev-linode-ubuntu17/lastFailedBuild/console

[2018-01-16 15:03] rallytime opened #710 "[2017.7.3] Fedora 26 not bootstrapping"
[code]

https://jenkins.saltstack.com/job/2017.7.3/job/salt-linode-fedora26/lastFailedBuild/console

[2018-01-16 15:06] rallytime opened #711 "[2017.7.3] CentOS 6 not bootstrapping"
[code]

https://jenkins.saltstack.com/job/2017.7.3/job/salt-linode-cent6/lastFailedBuild/console

[2018-01-16 15:09] rallytime commented on #709
This is also true on Py3 tests.

[2018-01-16 15:14] rallytime opened #712 "[2017.7.3] Ubuntu 16 not bootstrapping on Py3 tests"
[code]

https://jenkins.saltstack.com/job/2017.7.3/view/Branch%20Python%203/job/salt-lin-py3-ubuntu16/lastFailedBuild/console

[2018-01-16 15:16] rallytime commented on #708
This is happening on the PY2 and PY3 tests

[2018-01-16 15:17] rallytime opened #713 "[2017.7.3] CentOS 7 Proxy tests not bootstrapping"
https://jenkins.saltstack.com/job/2017.7.3/view/Transport/job/salt-2017_7-linode-tcp-cent7/lastFailedBuild/console

[2018-01-16 15:27] rallytime opened #714 "[oxygen] 1 new test failing in unit.modules.test_file"
- unit.modules.test_file.FileModuleTestCase.test_append_newline_at_eof

[code]

[2018-01-16 15:46] #698 closed

[2018-01-16 15:46] #692 closed

[2018-01-16 15:48] #676 closed

[2018-01-16 16:05] dubb-b commented on #705
@rallytime  I have made the modification and fixed this error. https://jenkins.saltstack.com/job/2016.11.9/job/2016.11-salt-fedora27-py2/3/console

I will make sure it completes `git.salt`

[2018-01-16 16:08] dubb-b commented on #705
It did, is running tests now.

[2018-01-16 16:21] frogunder commented on #693
Checked the results on the last test run `Build #682` in Jenkins for 10.11 on 2016.11.
I see that both of these tests are passing.

[code]

[code]

[2018-01-16 16:45] rallytime commented on #705
@dubb-b This is happening on the 2016.11 general branch as well. Does something need to be patched there, or should it "Just Work" now?

[2018-01-16 16:46] rallytime commented on #705
Oh, derp I already have an issue open for that: #707. Hard to keep track of it all! 😆

[2018-01-16 16:48] rallytime opened #715 "[2016.11/2016.11.9] CentOS 6 having a rough time starting test daemons"
I think this is due the version of some package we're installing with git.salt that isn't Py2.6 compatible. Maybe something in pycrypto or tornado or something along those lines?

@gtmanfred Can you look into this since you've been working on the other CentOS 6 issues?

[2018-01-16 17:00] rallytime opened #716 "[PRs] Max limit hit/Bad Request"
The following error showed up on an Ubuntu 14 build on a PR against `oxygen`:
[code]
@dubb-b Can you look into this?

Build: https://jenkins.saltstack.com/job/PR/job/salt-pr-linode-ubuntu14-n/18812/console
PR: https://github.com/saltstack/salt/pull/45365

[2018-01-16 17:15] dubb-b commented on #708
@rallytime This is fixed, I watched and both are to the testing phase.
https://jenkins.saltstack.com/job/2017.7.3/job/salt-linode-arch/4/console
Also added this to the list of things to fix.

[2018-01-16 17:26] dubb-b commented on #716
Filed a ticket with support to get this size's counts increased.

[2018-01-16 17:34] Ch3LL commented on #684
Ended up the mac was bogged down. Stopped and deleted some VMs and teh python3 tests are now running

[2018-01-16 17:34] #684 closed

[2018-01-16 17:48] gtmanfred commented on #710
Looks like fedora was just updating repos when this happened.

https://jenkins.saltstack.com/job/2017.7.3/job/salt-linode-fedora26/5/console  Running fine now.

Very possible that copr was just down
[code]

[2018-01-16 18:02] gtmanfred commented on #710
got past the install.

[2018-01-16 18:02] #710 closed

[2018-01-16 18:09] gtmanfred commented on #713
These are tcp transport tests.

Is it just all centos 7 git.salt bootstrapping is failing?

Thanks,
Daniel

[2018-01-16 18:19] gtmanfred opened #717 "[2016.11/2017.7/Oxygen] Centos 7 is segfaulting on bootstrap"
https://jenkinsci.saltstack.com/job/2017.7/job/salt-centos-7-py2/lastBuild/console

It looks like it is the same segfault on the weakrefs that we were seeing with opensuse.

https://bugzilla.suse.com/show_bug.cgi?id=1073748
https://bugs.python.org/issue29347

[2018-01-16 18:20] gtmanfred commented on #713
#717

[2018-01-16 18:20] #713 closed

[2018-01-16 18:20] gtmanfred commented on #706
#717

[2018-01-16 18:20] #706 closed

[2018-01-16 18:36] rallytime commented on #708
Awesome! Thanks @dubb-b

[2018-01-16 18:36] #708 closed

[2018-01-16 18:43] dubb-b commented on #707
@rallytime  This is complete, the salt-cloud on that slave is older and it needed to have some more options in the provider file. I have updated the salt state to account for the changes.
https://jenkins.saltstack.com/job/PR/job/salt-pr-linode-ubuntu14-n/18824/console
Passed `git.salt`

[2018-01-16 19:01] gtmanfred commented on #711
@dubb-b can you run a `salt-cloud -u` on all these boxes to update the bootstrap script?

Thanks,
Daniel

[2018-01-16 19:07] #603 closed

[2018-01-16 19:37] dubb-b commented on #712
@rallytime The profile was updated and the tests are running.
https://jenkins.saltstack.com/job/2017.7.3/view/Branch%20Python%203/job/salt-lin-py3-ubuntu16/4/console

[2018-01-16 19:47] gtmanfred commented on #717
Reported to redhat and centos

https://bugs.centos.org/view.php?id=14381
https://bugzilla.redhat.com/show_bug.cgi?id=1535190

[2018-01-16 19:54] dubb-b commented on #711
@gtmanfred The command was ran against the new slaves only. Let me know if you need it ran on the others.

[2018-01-16 19:59] gtmanfred commented on #711
i believe the other ones already have a new enough salt-bootstrap script, so we should be good.

[2018-01-16 19:59] #711 closed

[2018-01-16 20:00] gtmanfred commented on #711
https://jenkins.saltstack.com/job/2017.7.3/job/salt-linode-cent6/4/console
got past bootstrap

[2018-01-16 20:07] #712 closed

[2018-01-16 21:39] rallytime opened #719 "Ubuntu 17.04 is EOL: Upgrade to Ubuntu 17.10"
We need to remove the 17.04 tests, and create some 17.10 tests.

However, this is blocked on https://github.com/saltstack/salt-bootstrap/issues/1193

[2018-01-17 14:18] rallytime commented on #707
@dubb-b This is happening on 2016.11.9 as well can you fix this there also?
[code]
https://jenkins.saltstack.com/job/2016.11.9/job/2016.11-salt-fedora27-py2/lastFailedBuild/console

[2018-01-17 14:19] Ch3LL opened #720 "Mac 10.13 py3 Not bootstrapping and add to other releases"
- [ ] Mac 10.13 is not bootstrapping all the way as seen here: http://mac-jenkins:8080/job/oxygen/job/macOS-py3-10.13/8/consoleFull

- [ ] Need to add Mac 10.13 to the following:
             - 2016.11 only py2
             - 2017.7 py2/py3
             - 2016.11.9 only py2
             - 2017.7.3 py2/py3

@dubb-b any chance you can look at this?

[2018-01-17 14:23] Ch3LL opened #721 "Mac 10.11 py2 boto tests failing"
The following tests are failing on 10.11 py2 boto tests:

  unittest.loader.ModuleImportFailure.unit.modules.boto_vpc_test
  unittest.loader.ModuleImportFailure.unit.states.boto_vpc_test

http://mac-jenkins:8080/job/2016.11/job/2016.11.9/job/macOS-10.11/lastFailedBuild/

[2018-01-17 14:31] Ch3LL opened #722 "[2017.7] Mac py2 10.12 test_overridden_internal failing"
The following test is failing on Mac py2 10.12
  integration.loader.test_ext_modules.LoaderOverridesTest.test_overridden_internal

http://mac-jenkins:8080/job/2017.7/job/macOS-10.12/317/#showFailuresLink

[2018-01-17 14:32] Ch3LL opened #723 "[2017.7] Mac 10.12 py2 test_state_running failing"
The following tests are failing on Mac 10.12 py2:

integration.ssh.test_state.SSHStateTest.test_state_running
integration.ssh.test_state.SSHStateTest.test_state_running

http://mac-jenkins:8080/job/2017.7/job/macOS-10.12/317/#showFailuresLink

[2018-01-17 14:32] Ch3LL opened #724 "[2017.7] Mac 10.12 py2 pkg tests failing"
integration.modules.test_pkg.PkgModuleTest.test_pkg_upgrade_has_pending_upgrades
integration.modules.test_pkg.PkgModuleTest.test_version_cmp

http://mac-jenkins:8080/job/2017.7/job/macOS-10.12/317/#showFailuresLink

[2018-01-17 14:33] Ch3LL opened #725 "[2017.7] Mac 10.12 py2 pip tests failing"
integration.states.test_pip.PipStateTest.test_22359_pip_installed_unless_does_not_trigger_warnings
integration.states.test_pip.PipStateTest.test_issue_2028_pip_installed_state
integration.states.test_pip.PipStateTest.test_pip_installed_errors
integration.states.test_pip.PipStateTest.test_pip_installed_weird_install

http://mac-jenkins:8080/job/2017.7/job/macOS-10.12/317/#showFailuresLink

[2018-01-17 14:34] Ch3LL opened #726 "[2017.7] Mac 10.12 py2 ssh auth test failing"
integration.states.test_ssh.SSHAuthStateTests.test_issue_10198_keyfile_from_another_env

http://mac-jenkins:8080/job/2017.7/job/macOS-10.12/317/#showFailuresLink

[2018-01-17 14:35] Ch3LL opened #727 "[2017.7] Mac 10.12 py2 boto test failures"
unittest.loader.ModuleImportFailure.test_boto_elb
unittest.loader.ModuleImportFailure.test_boto_secgroup
unittest.loader.ModuleImportFailure.test_boto_vpc
unittest.loader.ModuleImportFailure.test_boto_vpc
unittest.loader.ModuleImportFailure.test_boto

http://mac-jenkins:8080/job/2017.7/job/macOS-10.12/317/#showFailuresLink

[2018-01-17 14:35] rallytime opened #728 "[2016.11.9] Fedora 26 errors on git.salt"
[code]
https://jenkins.saltstack.com/job/2016.11.9/job/salt-2016_9-linode-fedora26/

[2018-01-17 14:35] Ch3LL opened #729 "[2017.7] Mac 10.12 py2 git test failures"
unittest.loader.ModuleImportFailure.test_boto_elb
unittest.loader.ModuleImportFailure.test_boto_secgroup
unittest.loader.ModuleImportFailure.test_boto_vpc
unittest.loader.ModuleImportFailure.test_boto_vpc
unittest.loader.ModuleImportFailure.test_boto
integration.states.test_git.GitTest.test_latest_fast_forward
integration.states.test_git.GitTest.test_latest_with_rev_and_submodules
integration.stat

[2018-01-17 14:36] Ch3LL opened #730 "[2017.7] Mac 10.12 py2 user test failures"
integration.states.test_user.UserTest.test_user_absent
integration.states.test_user.UserTest.test_user_if_present
integration.states.test_user.UserTest.test_user_if_present_with_gid
integration.states.test_user.UserTest.test_user_not_present
integration.states.test_user.UserTest.test_user_present_gecos
integration.states.test_user.UserTest.test_user_present_gecos_none_fields
integration.states.tes

[2018-01-17 14:37] Ch3LL opened #731 "[2017.7] Mac 10.12 py2 pkg test failures"
integration.states.test_pkg.PkgTest.test_group_installed_handle_missing_package_group
integration.states.test_pkg.PkgTest.test_pkg_001_installed
integration.states.test_pkg.PkgTest.test_pkg_002_installed_with_version
integration.states.test_pkg.PkgTest.test_pkg_003_installed_multipkg
integration.states.test_pkg.PkgTest.test_pkg_004_installed_multipkg_with_version
integration.states.test_pkg.PkgTes

[2018-01-17 14:38] Ch3LL opened #732 "[2017.7] Mac 10.12 py2 git state test failure"
integration.states.test_git.LocalRepoGitTest.test_renamed_default_branch

http://mac-jenkins:8080/job/2017.7/job/macOS-10.12/317/#showFailuresLink

[2018-01-17 14:38] Ch3LL opened #733 "[2017.7] Mac 10.12 py2 test host state failure"
integration.states.test_host.HostTest.test_present

http://mac-jenkins:8080/job/2017.7/job/macOS-10.12/317/#showFailuresLink

[2018-01-17 14:39] Ch3LL opened #734 "[2017.7] Mac 10.12 py2 ssh ping test failure"
integration.ssh.test_deploy.SSHTest.test_ping

http://mac-jenkins:8080/job/2017.7/job/macOS-10.12/317/#showFailuresLink

[2018-01-17 14:39] Ch3LL opened #735 "[2017.7] Mac 10.12 py2 virtualenv test failure"
integration.states.test_virtualenv.VirtualenvTest.test_issue_2594_non_invalidated_cache

http://mac-jenkins:8080/job/2017.7/job/macOS-10.12/317/#showFailuresLink

[2018-01-17 14:40] Ch3LL opened #736 "[2017.7] Mac 10.12 py2 arg test failures"
integration.shell.test_arguments.ArgumentTestCase.test_argument_containing_pound_sign
integration.shell.test_arguments.ArgumentTestCase.test_unsupported_kwarg

http://mac-jenkins:8080/job/2017.7/job/macOS-10.12/317/#showFailuresLink

[2018-01-17 14:40] Ch3LL opened #737 "[2017.7] Mac 10.12 py2 supervisord test failures"
integration.states.test_supervisord.SupervisordTest.test_dead_removed
integration.states.test_supervisord.SupervisordTest.test_restart_started
integration.states.test_supervisord.SupervisordTest.test_running_notexists
integration.states.test_supervisord.SupervisordTest.test_running_started
integration.states.test_supervisord.SupervisordTest.test_running_stopped

http://mac-jenkins:8080/job/2017.7/

[2018-01-17 14:41] Ch3LL opened #738 "[2017.7] Mac 10.12 py2 ssh test present test failure"
integration.states.test_ssh.SSHKnownHostsStateTest.test_present
integration.states.test_ssh.SSHKnownHostsStateTest.test_present_fail

http://mac-jenkins:8080/job/2017.7/job/macOS-10.12/317/#showFailuresLink

[2018-01-17 14:42] Ch3LL opened #739 "[2017.7] Mac 10.12 py2 orchestration test failure"
integration.runners.test_state.StateRunnerTest.test_orchestrate_target_exists

http://mac-jenkins:8080/job/2017.7/job/macOS-10.12/317/#showFailuresLink

[2018-01-17 14:42] Ch3LL opened #740 "[2017.7] Mac 10.12 py2 file test failures"
integration.states.test_file.FileTest.test_issue_2227_file_append
integration.states.test_file.FileTest.test_managed_file_mode_keep
integration.states.test_file.FileTest.test_managed_file_mode_keep_local_source
integration.states.test_file.FileTest.test_patch
integration.states.test_file.FileTest.test_recurse
integration.states.test_file.FileTest.test_recurse_clean
integration.states.test_file.Fil

[2018-01-17 14:43] Ch3LL opened #741 "[2017.7] Mac 10.12 py2 pkg repo test failures"
integration.states.test_pkgrepo.PkgrepoTest.test_pkgrepo_01_managed
integration.states.test_pkgrepo.PkgrepoTest.test_pkgrepo_02_absent

http://mac-jenkins:8080/job/2017.7/job/macOS-10.12/317/#showFailuresLink

[2018-01-17 14:43] Ch3LL opened #742 "[2017.7] Mac 10.12 py2 doc test failure"
integration.modules.test_sysmod.SysModuleTest.test_valid_docs

http://mac-jenkins:8080/job/2017.7/job/macOS-10.12/317/#showFailuresLink

[2018-01-17 14:44] Ch3LL opened #743 "[2017.7] Mac 10.12 py2 render test failures"
integration.states.test_renderers.TestJinjaRenderer.test_dot_notation
integration.states.test_renderers.TestJinjaRenderer.test_salt_contains_function

http://mac-jenkins:8080/job/2017.7/job/macOS-10.12/317/#showFailuresLink

[2018-01-17 14:45] Ch3LL opened #744 "[2017.7] Mac 10.12 py2 error handling test failure"
integration.states.test_handle_error.HandleErrorTest.test_handle_error

http://mac-jenkins:8080/job/2017.7/job/macOS-10.12/317/#showFailuresLink

[2018-01-17 14:45] Ch3LL opened #745 "[2017.7] Mac 10.12 py2 test matcher test failures"
integration.shell.test_matcher.MatchTest.test_salt_documentation_arguments_not_assumed
integration.shell.test_matcher.MatchTest.test_static

http://mac-jenkins:8080/job/2017.7/job/macOS-10.12/317/#showFailuresLink

[2018-01-17 14:46] Ch3LL opened #746 "[2017.7] Mac 10.11 py3 test virt test failrues"
integration.modules.test_virt.VirtTest.test_default_esxi_profile
integration.modules.test_virt.VirtTest.test_default_kvm_profile

http://mac-jenkins:8080/job/2017.7/job/macOS-py3-10.11/32/#showFailuresLink

[2018-01-17 14:47] Ch3LL opened #747 "[2017.7] Mac 10.11 py3 pid test failure"
integration.modules.test_status.StatusModuleTest.test_status_pid
http://mac-jenkins:8080/job/2017.7/job/macOS-py3-10.11/32/#showFailuresLink

[2018-01-17 14:47] rallytime commented on #721
This was fixed on linux with https://github.com/saltstack/salt-jenkins/pull/697

[2018-01-17 15:01] Ch3LL opened #748 "[2017.7] Mac 10.11 py3 archive test failures"
unit.states.test_archive.ArchiveTestCase.test_extracted_tar
unit.states.test_archive.ArchiveTestCase.test_tar_bsdtar
unit.states.test_archive.ArchiveTestCase.test_tar_gnutar

http://mac-jenkins:8080/job/2017.7/job/macOS-py3-10.11/32/#showFailuresLink

ping @frogunder i think you fixed these. I am thinking maybe your fix might just need to be backported to this branch?

[2018-01-17 15:02] Ch3LL commented on #721
k the tests where run recently so will check to see if the git repo is updating correctly.

[2018-01-17 15:09] rallytime commented on #727
These are failing on linux too. This should fix them https://github.com/saltstack/salt/pull/45465

[2018-01-17 15:47] rallytime commented on #727
I wouldn't worry about this blocking the release. It's a test-suite issue.

[2018-01-17 15:47] rallytime commented on #721
Ah, actually these are failing on linux as well. It's fixed here: https://github.com/saltstack/salt/pull/45435

But that didn't make it into the new branch. I don't think these failures should block the release.

[2018-01-17 15:56] rallytime opened #749 "[2017.7.3] Investigate Transport Test Failures"
The transport tests don't have any results on the 2017.7.3 branch. This needs to be investigated and fixed. Since the CentOS 7 tests are having other general issues, it's best to focus on the Ubuntu tests first.

@gtmanfred Can you please look into this?

https://jenkins.saltstack.com/job/2017.7.3/view/Transport/

This looks to also be happening on the 2017.7 branch as well.

[2018-01-17 16:16] dubb-b commented on #707
@rallytime this is fixed: There are some profile options on this slave that will differ. I will code for the change today, https://jenkins.saltstack.com/job/2016.11.9/job/2016.11-salt-fedora27-py2/8/console

[2018-01-17 16:23] frogunder commented on #748
Just double checked this, and it is working with the fix done for oxygen branch.
So it seems this PR just needs to be backported: https://github.com/saltstack/salt/pull/45332

[2018-01-17 17:01] gtmanfred opened #750 "ubuntu 1604 py3 failing to generate coverage.xml"
[code]

https://jenkins.saltstack.com/job/Oxygen/view/Branch%20Python%203/job/oxygen-salt-ubuntu16.04-py3/57/

[2018-01-17 17:12] #715 closed

[2018-01-17 17:13] frogunder commented on #747
could not replicate this test, will check jenkins test on next run.
[code]

[2018-01-17 17:14] #683 closed

[2018-01-17 17:18] Ch3LL commented on #721
k i'll remove the release label but wait to close when re-running the tests.

[2018-01-17 17:36] rallytime commented on #707
Thank you

[2018-01-17 17:36] #707 closed

[2018-01-17 17:38] #714 closed

[2018-01-17 17:39] gtmanfred commented on #728
salt 2017.7.2 was being installed by bootstrap, I set the bootstrap install version to 2016.11.4, since that is the version of salt that the 2016.11 salt-jenkins states work with, and it is running now.

[2018-01-17 17:39] gtmanfred commented on #728
https://jenkins.saltstack.com/job/2016.11.9/job/salt-2016_9-linode-fedora26/7

[2018-01-17 17:59] #728 closed

[2018-01-17 18:11] dubb-b commented on #716
@rallytime  The counts were increased, this should be resolved now for the c5.large instances.

[2018-01-17 19:03] frogunder commented on #748
From what I see we have to use on 2017.7 branch `salt.utils.is_darwin()`, while on oxygen branch it is `salt.utils.platform.is_darwin()`. `platform` was added so to backport it would maybe not work correctly.

[2018-01-17 20:14] Ch3LL commented on #641
resolved by https://github.com/saltstack/salt/pull/45308

[2018-01-17 20:14] #641 closed

[2018-01-17 21:18] Ch3LL commented on #720
update: waiting for salt-jenkins fix to get merged before i add py3 tests to jenkins but all py2 tests have been added.

Once I verify the sls changes in the salt-jenkins pr fixes the issue then will add the py3 jobs

[2018-01-17 21:57] Ch3LL commented on #745
This is no longer failing: http://mac-jenkins:8080/job/2017.7/job/2017.7.3/job/macOS-10.12/7/ closing

[2018-01-17 21:57] #745 closed

[2018-01-17 21:58] Ch3LL commented on #744
This is no longer failing: http://mac-jenkins:8080/job/2017.7/job/2017.7.3/job/macOS-10.12/7/ closing

[2018-01-17 21:58] #744 closed

[2018-01-17 21:59] Ch3LL commented on #743
This is no longer failing: http://mac-jenkins:8080/job/2017.7/job/2017.7.3/job/macOS-10.12/7/ closing

[2018-01-17 21:59] #743 closed

[2018-01-17 21:59] Ch3LL commented on #741
This is no longer failing: http://mac-jenkins:8080/job/2017.7/job/2017.7.3/job/macOS-10.12/7/ closing

[2018-01-17 21:59] #741 closed

[2018-01-17 22:00] Ch3LL commented on #740
This is no longer failing: http://mac-jenkins:8080/job/2017.7/job/2017.7.3/job/macOS-10.12/7/ closing

[2018-01-17 22:00] #740 closed

[2018-01-17 22:00] Ch3LL commented on #739
This is no longer failing: http://mac-jenkins:8080/job/2017.7/job/2017.7.3/job/macOS-10.12/7/ closing

[2018-01-17 22:00] #739 closed

[2018-01-17 22:00] Ch3LL commented on #738
This is no longer failing: http://mac-jenkins:8080/job/2017.7/job/2017.7.3/job/macOS-10.12/7/ closing

[2018-01-17 22:00] #738 closed

[2018-01-17 22:01] Ch3LL commented on #736
This is no longer failing: http://mac-jenkins:8080/job/2017.7/job/2017.7.3/job/macOS-10.12/7/ closing

[2018-01-17 22:01] #736 closed

[2018-01-17 22:01] Ch3LL commented on #735
This is no longer failing: http://mac-jenkins:8080/job/2017.7/job/2017.7.3/job/macOS-10.12/7/ closing

[2018-01-17 22:01] #735 closed

[2018-01-17 22:01] Ch3LL commented on #734
This is no longer failing: http://mac-jenkins:8080/job/2017.7/job/2017.7.3/job/macOS-10.12/7/ closing

[2018-01-17 22:01] #734 closed

[2018-01-17 22:02] Ch3LL commented on #737
This is no longer failing: http://mac-jenkins:8080/job/2017.7/job/2017.7.3/job/macOS-10.12/7/ closing

[2018-01-17 22:02] #737 closed

[2018-01-17 22:02] Ch3LL commented on #733
This is no longer failing: http://mac-jenkins:8080/job/2017.7/job/2017.7.3/job/macOS-10.12/7/ closing

[2018-01-17 22:02] #733 closed

[2018-01-17 22:02] Ch3LL commented on #732
This is no longer failing: http://mac-jenkins:8080/job/2017.7/job/2017.7.3/job/macOS-10.12/7/ closing

[2018-01-17 22:02] #732 closed

[2018-01-17 22:02] Ch3LL commented on #730
This is no longer failing: http://mac-jenkins:8080/job/2017.7/job/2017.7.3/job/macOS-10.12/7/ closing

[2018-01-17 22:02] #730 closed

[2018-01-17 22:03] Ch3LL commented on #729
This is no longer failing: http://mac-jenkins:8080/job/2017.7/job/2017.7.3/job/macOS-10.12/7/ closing

[2018-01-17 22:03] #729 closed

[2018-01-17 22:03] Ch3LL commented on #727
This is no longer failing: http://mac-jenkins:8080/job/2017.7/job/2017.7.3/job/macOS-10.12/7/ closing

[2018-01-17 22:03] #727 closed

[2018-01-17 22:03] Ch3LL commented on #726
This is no longer failing: http://mac-jenkins:8080/job/2017.7/job/2017.7.3/job/macOS-10.12/7/ closing

[2018-01-17 22:03] #726 closed

[2018-01-17 22:03] Ch3LL commented on #725
This is no longer failing: http://mac-jenkins:8080/job/2017.7/job/2017.7.3/job/macOS-10.12/7/ closing

[2018-01-17 22:03] #725 closed

[2018-01-17 22:03] Ch3LL commented on #723
This is no longer failing: http://mac-jenkins:8080/job/2017.7/job/2017.7.3/job/macOS-10.12/7/ closing

[2018-01-17 22:03] #723 closed

[2018-01-17 22:03] Ch3LL commented on #722
This is no longer failing: http://mac-jenkins:8080/job/2017.7/job/2017.7.3/job/macOS-10.12/7/ closing

[2018-01-17 22:03] #722 closed

[2018-01-17 22:04] Ch3LL commented on #731
This is no longer failing: http://mac-jenkins:8080/job/2017.7/job/2017.7.3/job/macOS-10.12/7/ closing

[2018-01-17 22:04] #731 closed

[2018-01-17 22:17] Ch3LL commented on #747
looks like its passing now: http://mac-jenkins:8080/job/2017.7/job/2017.7.3/job/macOS-py3-10.11/2/

[2018-01-17 22:17] #747 closed

[2018-01-17 23:43] #750 closed

[2018-01-17 23:48] #720 closed

[2018-01-18 16:16] frogunder commented on #746
I cant replicate this. Will need to re-run tests and check results.

[2018-01-22 15:12] gtmanfred commented on #674
Fixed by https://github.com/saltstack/salt/pull/45570

[2018-01-22 15:12] #674 closed

[2018-01-22 18:22] rallytime commented on #719
I just checked this and the current stable bootstrap works fine on 17.10. I don't think fixing the bootsrap script should block this, at least for now.

[2018-01-22 20:32] rallytime opened #783 "[oxygen] CentOS 6 failing saltutil integration test"
- integration.modules.test_saltutil.SaltUtilSyncPillarTest.test_pillar_refresh
[code]
https://jenkins.saltstack.com/job/Oxygen/job/oxygen-salt-cent6-py2/lastCompletedBuild/testReport/

[2018-01-22 20:33] rallytime opened #784 "[oxygen] CentOS 6 failing serializers unit test"
- unit.serializers.test_serializers.TestSerializers.test_serialize_yaml
[code]
https://jenkins.saltstack.com/job/Oxygen/job/oxygen-salt-cent6-py2/lastCompletedBuild/testReport/

[2018-01-22 20:35] rallytime opened #785 "[oxygen] Ubuntu 14 failing shell integration test"
- integration.shell.test_call.CallTest.test_issue_15074_output_file_append
[code]
https://jenkins.saltstack.com/job/Oxygen/job/oxygen-salt-ubuntu14.04-py2/lastCompletedBuild/testReport/

[2018-01-22 20:37] rallytime opened #786 "[oxygen] CentOS 6 failing state runner integration test"
- integration.runners.test_state.StateRunnerTest.test_orchestrate_retcode
[code]
https://jenkins.saltstack.com/job/Oxygen/job/oxygen-salt-cent6-py2/lastCompletedBuild/testReport/

[2018-01-23 14:49] rallytime opened #789 "[oxygen] Ubuntu 16 (and some others) failing 4 ini_manage unit tests"
- unit.modules.test_ini_manage.IniManageTestCase.test_empty_lines_preserved_after_edit
- unit.modules.test_ini_manage.IniManageTestCase.test_empty_lines_preserved_after_multiple_edits
- unit.modules.test_ini_manage.IniManageTestCase.test_empty_value_preserved_after_edit
- unit.modules.test_ini_manage.IniManageTestCase.test_set_option

https://jenkins.saltstack.com/job/Oxygen/job/oxygen-salt-ubuntu